@use '@angular/material' as mat;

$blue-dark-theme: (
  color: (
    primary: mat.$blue-palette,
    //secondary: mat.$amber-palette,
    tertiary: mat.$red-palette,
    theme-type: dark,
  ),
  typography: Roboto,
  density: 0
);
