@use '@angular/material' as mat;

$gray-dark-theme: (
  color: (
    primary: mat.$blue-palette,
    //secondary: mat.$pink-palette,
    tertiary: mat.$red-palette,
    theme-type: dark,
  ),
  typography: Roboto,
  density: 0
);
