@use '@angular/material' as mat;

$gray-light-theme: (
  color: (
    primary: mat.$azure-palette,
    //secondary: mat.$pink-palette,
    tertiary: mat.$red-palette,
    theme-type: light,
  ),
  typography: Roboto,
  density: 0
);
