@use '@angular/material' as mat;

$indigo-light-theme: (
  color: (
    primary: mat.$indigo-palette,
    secondary: mat.$pink-palette,
    tertiary: mat.$red-palette,
    theme-type: light,
  ),
  typography: Roboto,
  density: 0
);