@use '@angular/material' as mat;

$indigo-palette: mat.define-palette(mat.$indigo-palette);
$pink-palette: mat.define-palette(mat.$pink-palette);
$red-palette: mat.define-palette(mat.$red-palette);

$indigo-light-theme: (
  color: (
    primary: $indigo-palette,
    secondary: $pink-palette,
    tertiary: $red-palette,
    theme-type: light,
  ),
  typography: Roboto,
  density: 0
);
