@use '@angular/material' as mat;

$pink-dark-theme: (
  color: (
    primary: mat.$rose-palette,
    //secondary: mat.$blue-grey-palette,
    tertiary: mat.$red-palette,
    theme-type: dark,
  ),
  typography: Roboto,
  density: 0
);
