@use '@angular/material' as mat;

$red-light-theme: (
  color: (
    primary: mat.$red-palette,
    //secondary: mat.$green-palette,
    tertiary: mat.$orange-palette,
    theme-type: light,
  ),
  typography: Roboto,
  density: 0
);
