@use '@angular/material' as mat;

$teal-light-theme: (
  color: (
    primary: mat.$cyan-palette,
    //secondary: mat.$deep-orange-palette, // antes era 'accent'
    tertiary: mat.$red-palette,          // antes era 'warn'
    theme-type: light,
  ),
  typography: Roboto,
  density: 0
);
