<div class="my-2">
    

    <app-button-radio-active [titulo]="fTitle" cstyle="bg-light text-dark" icono="fas fa-hand-pointer"
    filtroBoton="btnsRenConsultaReporte" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)">



    <fieldset class="border pb-2 px-2 my-2">
        <legend class="w-auto bg-dark ml-1 mb-0">Filtros</legend>
        <div class="row justify-content-md-center">
            <div class="col-lg-4">
                <app-cc-input-group-prepend label="Tipo de Reporte" styleSpan="size-span-campo font-weight-bold">
                    <ng-select   [(ngModel)]="selectedReporte" bindValue="id" bindLabel="name" class="form-control" [clearable]="false">
                        <ng-option *ngFor="let tipo of reportes" [value]="tipo.descripcion">{{ tipo.descripcion }}</ng-option>
                    </ng-select>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-lg-3">
                <app-cc-input-group-prepend label="Periodo" styleSpan="size-span-campo font-weight-bold">
                    <input id="periodo" type="text" class="form-control" [(ngModel)]="filter.periodo">
                </app-cc-input-group-prepend>
            </div>
            
            <!--<div class="col-lg-4">
                <app-cc-input-group-prepend label="Concepto" styleSpan="size-span-otro font-weight-bold">
                    <ng-select [disabled]="formReadOnly || conceptosDisabled" [(ngModel)]="filter.selectedConcepto" bindValue="id" bindLabel="name" class="form-control" [clearable]="false">
                        <ng-option *ngFor="let tipo of conceptos" [value]="tipo.nombre">{{ tipo.codigo }} - {{ tipo.nombre }}</ng-option>
                    </ng-select>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-lg-3">
                <app-cc-input-group-prepend label="Caja" styleSpan="size-span-otro font-weight-bold">
                    <ng-select [disabled]="formReadOnly || cajasDisabled" [(ngModel)]="filter.selectedCaja" bindValue="id" bindLabel="name" class="form-control" [clearable]="false">

                        <ng-option *ngFor="let caja of cajas" [value]="caja.id_caja">{{ caja.nombre }}</ng-option>
                    </ng-select>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-1 text-right">
                <button class="btn btn-sm btn-danger" matTooltip="Limpiar Filtros" (click)="limpiarFiltros()"><i class="fas fa-eraser"></i></button>
            </div> -->
            
        </div>
        <!--<div class="row justify-content-md-center"> 
            <div class="col-lg-4" >
                <app-cc-input-group-prepend label="Fecha Desde" styleSpan="size-span-otro font-weight-bold">
                    <input type="date" class="form-control" [(ngModel)]="filter.fecha_desde" [disabled]="formReadOnly || fechaDesdeDisabled">
                </app-cc-input-group-prepend>
            </div>
            <div class="col-lg-4">
                <app-cc-input-group-prepend label="Fecha Hasta" styleSpan="size-span-otro font-weight-bold">
                    <input type="date" class="form-control" [(ngModel)]="filter.fecha_hasta" [disabled]="formReadOnly || fechaHastaDisabled">
                </app-cc-input-group-prepend>
            </div>
        </div>-->

    </fieldset>
</app-button-radio-active>
</div>
<cc-spiner-procesar [ltexto]="mensajeSpinner" lTipo="renConsultaReporte"></cc-spiner-procesar>

