<div class="my-2">
    <app-button-radio-active titulo="Configuración de documentos" cstyle="bg-light" icono="fas fa-clone"
        filtroBoton="btnsParametros" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)">
        <div class="row mt-2 mb-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text size-span-campo ">Nombre</span></div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="tipoDocumento.nombre" [disabled]="disabledModificar">
                </div>
            </div>
            <div class="col-sm-2">
              <div class="input-group input-group-sm">
                  <div class="input-group-prepend"><span class="input-group-text size-span-campo">Es Fisico?</span></div>
                  <input type="checkbox" class="form-control form-control-sm" [(ngModel)]="tipoDocumento.fisicotemp">
              </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text size-span-campo">Tiempo de Devolucion</span></div>
                
                <input type="number" maxlength="3" class="form-control form-control-sm" [(ngModel)]="tipoDocumento.dias_prestamo" [disabled]="!tipoDocumento.fisicotemp">
            </div>
        </div>
        </div>
        <div class="row mt-2 mb-1">
        <div class="col-sm-6">
              <div class="input-group input-group-sm">
                  <div class="input-group-prepend"><span class="input-group-text size-span-campo">Código</span></div>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="tipoDocumento.codigo"  [disabled]="disabledModificar">
              </div>
          </div>
        </div>
        <div class="row mt-2 mb-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text size-span-campo"
                            >Descripción</span></div>
                    <textarea cols="30" rows="3" maxlength="200" class="form-control form-control-sm"
                        [(ngModel)]="tipoDocumento.descripcion" ></textarea>
                </div>
            </div>
        </div>
        

        <div class="d-flex justify-content-between">
            <div class="col-6">
            </div>
            <button class="btn btn-success btn-sm " [disabled]="false" ngbTooltip="Agregar Parametros" (click)="addParametros()">
              <i class="fas fa-plus"></i> Agregar
            </button>
        </div>
        <div>
          <table class="table table-hover mt-2" style="max-height: 300px;" id="tablaLocales" (dragover)="onDragOver($event)">
            <thead class="thead-dark">
              <tr>
                <th style="min-width: 14%;">#</th>
                <th style="min-width: 30%;">Nombre</th>
                <th style="min-width: 10%;">Tipo</th>
                <th style="width: 7%;">Directorio</th>
                <th style="width: 7%;">Estado</th>
                <th style="width: 7%;">Obligatorio</th>
                <th *ngIf="tienedate" style="width: 15%;">Fechas a tomar en cuenta</th>
                <th style="width: 5%;">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!listaParametros.length">
                <td colspan="7" class="text-center">
                  <h6>No parametros</h6>
                </td>
              </tr>
              <tr *ngFor="let item of listaParametros; let i = index" style="cursor: pointer;" draggable="true" (dragstart)="onDragStart($event, i)">
                <td style="min-width: 14%;" > {{ item.orden }} </td>
                <td style="min-width: 20%;" >
                  <input (blur)="validateListaParametros(item.campo_indice,i)" type="text" class="form-control form-control-sm" placeholder="Nombre Campo" [(ngModel)]="item.campo_indice"  [disabled]="item.disabled">
                </td>
                <td style="min-width: 10%;" > 
                  <ng-select class="form-control form-control-sm border border-secondary" [clearable]="false" appendTo="body" [selectOnTab]="true"
                      [items]="listTipoDato" bindValue="value" bindLabel="label" [markFirst]="false" [(ngModel)]="item.tipo_dato"  [disabled]="item.disabled" (change)="validartipo()">
                  </ng-select> 
                </td>
                <td style="width: 7%;" > 
                  <div class="custom-control custom-checkbox custom-switch text-dark ml-1 align-self-center">
                      <input class="custom-control-input" id="{{'directorio-'+i}}" type="checkbox" [(ngModel)]="item.es_directorio" (onChange)="directorioSelected(item.es_directorio,i)">
                      <label style="padding-top: 15px;" ngbTooltip=""  class="custom-control-label" for="{{'directorio-'+i}}">{{ item.es_directorio ? 'SI' : 'NO' }}</label>
                  </div>
              </td>
                <td style="width: 7%;">
                  <div class="custom-control custom-checkbox custom-switch text-dark ml-1 align-self-center">
                      <input class="custom-control-input" id="{{'estado-'+i}}" type="checkbox" [(ngModel)]="item.estado" (onChange)="estadoSelected( i)">
                      <label style="padding-top: 15px;" ngbTooltip=""  class="custom-control-label" for="{{'estado-'+i}}">{{ item.estado ? 'ACTIVO' : 'INACTIVO' }}</label>
                  </div>
                </td>
                <td style="width: 7%;" >
                  <div class="custom-control custom-checkbox custom-switch text-dark ml-1 align-self-center">
                      <input class="custom-control-input" id="{{'obligatorio-'+i}}" type="checkbox" [(ngModel)]="item.es_obligatorio" (onChange)="obligatorioSelected(i)">
                      <label style="padding-top: 15px;" ngbTooltip=""  class="custom-control-label" for="{{'obligatorio-'+i}}">{{ item.es_obligatorio ? 'SI' : 'NO' }}</label>
                  </div>
                </td>
                <td *ngIf="tienedate" style="width: 15%;"><table *ngIf="item.tipo_dato == 'date' && item.es_directorio" style="width: 100%;">
                 <!--  <tr>
                    <th>A</th>
                    <th>M</th>
                    <th>D</th>
                  </tr> -->
                  <tr>
                   <td><b> A </b><input type="checkbox" [(ngModel)]="item.anio_dir"></td>
                    <td><b> M </b><input type="checkbox" [(ngModel)]="item.mes_dir"></td>
                    <td><b> D </b><input type="checkbox" [(ngModel)]="item.dia_dir"></td>
                  </tr>
                </table>
              
              </td>
                <td> 
                  <div>
                    <button class="btn btn-danger btn-sm" (click)="eliminarItem(item, i)" [disabled]="item.disabled"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
          <!-- <div>
            <p-table [value]="listaParametros" [columns]="cols" [reorderableColumns]="true" responsiveLayout="scroll">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width:3rem"></th>
                        <th style="min-width: 20%;" pReorderableColumn>#</th>
                        <th style="min-width: 30%;" pReorderableColumn>Nombre</th>
                        <th style="min-width: 20%;" pReorderableColumn>Tipo</th>
                        <th style="min-width: 10%;" pReorderableColumn>Directorio</th>
                        <th style="min-width: 10%;" pReorderableColumn>Estado</th>
                        <th style="min-width: 10%;" pReorderableColumn>Obligatorio</th>
                        <th style="width:3rem"></th>
                        <th *ngFor="let col of columns" pReorderableColumn>
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"  let-item let-columns="columns" let-index="i">
                    <tr [pReorderableRow]="index" >
                        <td>
                            <span class="pi pi-bars" pReorderableRowHandle></span>
                        </td>
                        <td style="min-width: 20%;" > {{ item.orden }} </td>
                        <td style="min-width: 20%;" >
                          <input type="text" class="form-control form-control-sm" placeholder="Nombre Campo" [(ngModel)]="item.campo_indice">
                        </td>
                        <td style="min-width: 20%;" > 
                          <ng-select class="form-control form-control-sm border border-secondary" [clearable]="false" appendTo="body" [selectOnTab]="true"
                              [items]="listTipoDato" bindValue="value" bindLabel="label" [markFirst]="false" [(ngModel)]="item.tipo_dato">
                          </ng-select> 
                        </td>
                        <td style="min-width: 20%;" > 
                          <div class="custom-control custom-checkbox custom-switch text-dark ml-1 align-self-center">
                              <input class="custom-control-input" id="{{'directorio-'+index}}" type="checkbox" [(ngModel)]="item.es_directorio" (onChange)="directorioSelected(index)">
                              <label style="padding-top: 15px;" ngbTooltip=""  class="custom-control-label" for="{{'directorio-'+index}}">{{ item.es_directorio ? 'SI' : 'NO' }}</label>
                          </div>
                      </td>
                        <td style="min-width: 20%;">
                          <div class="custom-control custom-checkbox custom-switch text-dark ml-1 align-self-center">
                              <input class="custom-control-input" id="{{'estado-'+i}}" type="checkbox" [(ngModel)]="item.estado" (onChange)="estadoSelected( index)">
                              <label style="padding-top: 15px;" ngbTooltip=""  class="custom-control-label" for="{{'estado-'+index}}">{{ item.estado ? 'ACTIVO' : 'INACTIVO' }}</label>
                          </div>
                        </td>
                        <td style="min-width: 20%;" >
                          <div class="custom-control custom-checkbox custom-switch text-dark ml-1 align-self-center">
                              <input class="custom-control-input" id="{{'obligatorio-'+index}}" type="checkbox" [(ngModel)]="item.es_obligatorio" (onChange)="obligatorioSelected(index)">
                              <label style="padding-top: 15px;" ngbTooltip=""  class="custom-control-label" for="{{'obligatorio-'+index}}">{{ item.es_obligatorio ? 'SI' : 'NO' }}</label>
                          </div>
                        </td>
                        <td>
                            <span class="pi pi-bars" pReorderableRowHandle></span>
                        </td>
                        <td *ngFor="let col of columns">
                            {{item[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
          </div> -->
    </app-button-radio-active>
</div>
<cc-spiner-procesar [ltexto]="mensajeSpinner" lTipo="spParametros"></cc-spiner-procesar>
