.padding-table-div {
    padding: 0px;
    border-block: inherit;
}

.padding-table-divv {
    border-block: inherit;
}

.static {
    position: absolute;
    background-color: white;
}

.first-col {
    padding-left: 74.5px !important;
}

.prt-comprobante {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    .sect-one {
        border: 1px solid;
        border-color: rgba(78, 74, 74, 0.37);
        border-radius: 3px;
    }
    .sect-two {
        border-radius: 3px;
        /*  background-color: #5b9bd5; */
        color: black;
        text-transform: uppercase;
    }
    .simu-ipt {
        border: 1px solid;
        border-color: rgba(78, 74, 74, 0.37);
        border-radius: 3px;
        padding: 5px;
    }
    table {
        thead {
            tr {
                th {
                    /* background-color: #5b9bd5 !important; */
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }
}

.pagebreak {
    page-break-before: always;
}

hr.hr-text {
    position: relative;
    border: none;
    height: 3px;
    background: #999;
    margin-top: 1px;
    margin-bottom: 3px;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 15px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.estilo-paneles {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    .valor {
        /*  background-color: #5b9bd5 !important; */
        padding: 6px 10px 8px 10px;
        color: black;
        font-weight: unset;
    }
}

.alinearizq {
    float: left;
}

.alinearder {
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    color: black;
}