<div class="my-2">
    <app-button-radio-active [titulo]="fTitle" filtroBoton="btnsAgenda" cstyle="bg-gradient-primary text-white" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)" icono="fas fa-ballot-check">

<mat-toolbar color="primary" class="d-flex flex-column flex-sm-row justify-content-between align-items-center px-2 schedule-toolbar">
    <div class="cal-arrows">
        <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (click)="getLREvents()">
            <mat-icon *ngIf="!settings.rtl">chevron_left</mat-icon>
            <mat-icon *ngIf="settings.rtl">chevron_right</mat-icon>
        </button>
        <button mat-icon-button mwlCalendarToday [(viewDate)]="viewDate">
            <mat-icon>today</mat-icon>
        </button>
        <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="getLREvents()">
            <mat-icon *ngIf="settings.rtl">chevron_left</mat-icon>
            <mat-icon *ngIf="!settings.rtl">chevron_right</mat-icon>
        </button>
    </div>
    <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'Es' }}</h2>
    <div class="text-right">
        <button mat-icon-button (click)="view = 'month'">
            <mat-icon>view_comfy</mat-icon>
        </button>
        <button mat-icon-button (click)="view = 'week'">
            <mat-icon>view_week</mat-icon>
        </button>
        <button mat-icon-button (click)="view = 'day'">
            <mat-icon>view_day</mat-icon>
        </button>
        <button mat-icon-button (click)="expandGestionForm(true, {})">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div class="d-flex flex-wrap">
    <div class="col-12">
        <mat-card class="block p-0">
            <div [ngSwitch]="view">
                <mwl-calendar-month-view
                    style="color: black;"
                    *ngSwitchCase="'month'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen"
                    [locale]="locale"
                    (dayClicked)="dayClicked($event.day)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                    style="color: black;"
                    *ngSwitchCase="'week'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [locale]="locale"
                    [refresh]="refresh">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                    style="color: black;"
                    *ngSwitchCase="'day'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [locale]="locale"
                    [refresh]="refresh">
                </mwl-calendar-day-view>
            </div>

       </mat-card>
    </div>
</div>
    </app-button-radio-active>
</div>
<cc-spiner-procesar style="z-index: 2000;" [ltexto]="mensajeSpinner" lfulScren=true lTipo="spCalendario"></cc-spiner-procesar>
