.table {
    width: 100%;
    height: 40%;
    overflow: auto;
  }
  .example-first-header-row th {
  border-bottom: none;
  }
  
  .example-second-header-row {
  font-style: italic;
  }
  /* Structure */
  
  .mat-form-field {
    font-size: 11px; 
    width: 100%;
  }
  .mat-cell{
     vertical-align: middle;
     text-align: left;
     padding:0px;
     font-size: 11px;
  }
  
  .mat-cell-cant{
     vertical-align: middle;
     text-align: right;
     padding:0px;
     padding-right: 5px;
  }
  
  .mat-header-group{
  font-weight: bold;
  color: black; 
  background-color: beige;
  text-align: center;
  vertical-align: middle;
  }
  
  .mat-group{
   vertical-align: middle;
  font-weight: bold;
  color: black;
  }
  .mat-group-error{
   vertical-align: middle;
  font-weight: bold;
  color: red;
  }
  
  .example-tooltip-red {
  background: #b71c1c;
  }
  
   
  
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #279838!important;
  }
  
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #279838;
  }
  
  
  .example-container {
  position: relative;
  min-height: 200px;
  }
  
  .example-table-container {
  position: relative;
  max-height: 300px;
  overflow: auto;
  }
  
  .example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
  max-width: 64px;
  }
  
  .mat-column-created {
  max-width: 124px;
  }
  
  
  .mat-header-cell {
  font-size: 11px; 
  }
  
  
  .highlight{
  background: #b9bab995; 
  } 
    
  
  .size-span-campoRef2{
    width: 100px; 
  
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;    
  }
   
  
  .example-margin {
    margin: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .estilo-card-estado{
    padding-top: 0px;
    padding-bottom: 9px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: beige;
  }
   
  
  :host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
    padding: 0px !important;
  }
  
  .contenedor-scrollArchivos{
    max-height: 470px;
    overflow: auto;
    overflow-x:hidden;
  }
  
  
  
  .my-drop-zone { border: dotted 3px lightgray; }
  .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
  .another-file-over-class { border: dotted 3px green; }
    
  .subir{
    padding: 5px 10px;
    background: #f55d3e;
    color:#fff;
    border:0px solid #fff;
  }
  
  .subir:hover{
    color:#fff;
    background: #f7cb15;
  }
  
  
  .filters 
  {
  background-color: white;
      table 
      {
          thead 
          {
              tr 
              {
                  th 
                  {
                      padding: 6px 0px 8px 10px;
                      box-shadow: 0 0 0 5px white !important;
                      background-color: #404a63;
                      color: white;
                      text-transform: uppercase;
                      font-weight: unset;
                      border: none !important;
                      font-size: 9px;
                  }
              }
          }
          tbody 
          {
              tr 
              {
                  td 
                  {
                     /*  text-align: center !important; */
                      padding: 5px 10px 5px 10px;
                      box-shadow: 0 0 0 5px white !important;
                      background-color: #aeabab38;
                      color: rgba(0, 0, 0, 0.644);
                      text-transform: uppercase;
                      font-weight: unset;
                      border: none !important;
                      font-size: 10px;
                      
                      textarea,
                      input 
                      {
                          //width: 100%;
                          text-align: right;
                          padding-right: 5px;
                          margin-top: 5px !important;
                          white-space: nowrap;
                          text-overflow: ellipsis;
                          overflow: hidden;
                          border: 1px solid;
                          border-color: #0707071f;
                          border-radius: 3px;
                      }
                      ng-select
                      {
                          margin-top: 5px !important;
                          font-size: 11px !important;
                      }
                      button 
                      {
                          margin-top: 5px !important;
                          padding: 2px 8px 2px 8px;
                      }
                  }
              }
          }
      }
  }