<ng-select 
            (ngModelChange)="onChangeMes($event)"
            class="form-control custom clase_mes_actual" 
            id="elemento_pruebas"
            bindLabel="name"
            placeholder="-Todos-"
            appendTo="body"
            [clearable]="false"
            [searchable]="true"
            [disabled]=presentar
            [(ngModel)]="mes_actual">
            
            <ng-option [value]="item.id" [disabled]="item.disabled" *ngFor="let item of arrayMes">
                {{item.name}}
            </ng-option>
</ng-select>