@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600");
@font-face 
{
    font-family: "Poppins1";
    src: url("../../../../../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}
/* * {
    font-family: "Poppins1";
} */

.modal-header 
{
    padding: unset !important;
    /* background-color: #404A63; */
    background-color: #FAFAFA;
    color: rgba(0, 0, 0, 0.568);
    height: 70px;
    //border-bottom: 1px;
    border-bottom: 1px solid rgba(107, 107, 107, 0.3) !important;

    .title-head 
    {
        i{
            padding-right: 35px;
            font-size: 25px;
        }
        text-align: center;
        padding-top: 18px;
        padding-left: 25px;
        font-size: 23px;
        font-family: "Poppins1";
    }

    .close 
    {
        margin: -6px -1px 0 auto;
        outline: unset;
        color: white;
    }
}

.filters {
    background-color: white;
        table 
        {
            thead 
            {
                tr 
                {
                    th 
                    {
                        /*padding: 6px 0px 8px 10px;*/
                        box-shadow: 0 0 0 5px white !important;
                        background-color: #404a63;
                        color: white;
                        text-transform: uppercase;
                        font-weight: unset;
                        border: none !important;
                        font-size: 11px;
                    }
                }
            }
            tbody 
            {
                tr 
                {
                    td 
                    {
                        /*  text-align: center !important; */
                        padding: 5px 10px 5px 10px;
                        box-shadow: 0 0 0 5px white !important;
                        background-color: #aeabab38;
                        color: rgba(0, 0, 0, 0.644);
                        text-transform: uppercase;
                        font-weight: bold !important;
                        border: none !important;
                        font-size: 10px;
                        
                        textarea,
                        input 
                        {
                            //width: 100%;
                            text-align: right;
                            padding-right: 5px;
                            margin-top: 5px !important;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            border: 1px solid;
                            border-color: #0707071f;
                            border-radius: 3px;
                        }
                        ng-select
                        {
                            margin-top: 5px !important;
                            font-size: 11px !important;
                        }
                        button 
                        {
                            margin-top: 5px !important;
                            padding: 2px 8px 2px 8px;
                        }
                    }
                }
            }
        }
    }