<div class="mb-2">
    <app-button-radio-active titulo="Seleccionar Contribuyente" filtroBoton="btnsContribuyenteForm" cstyle="bg-light text-dark"
        [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)" icono="far fa-hand-pointer">
        <fieldset class="border px-2 pb-2 mb-2">
            <legend class="w-auto">Filtros</legend>
            <div class="row">
                <div class="col">
                    <app-cc-input-group-prepend label="Razon Social">
                        <input type="text" class="form-control" [(ngModel)]="filter.razon_social">
                    </app-cc-input-group-prepend>
                </div>
                <div class="col">
                    <app-cc-input-group-prepend label="Num. Documento">
                        <input type="text" class="form-control" [(ngModel)]="filter.num_documento">
                    </app-cc-input-group-prepend>
                </div>
            </div>
        </fieldset>
        
        <div class="row mb-2">
            <div class="col">
                <table class="table table-bordered no-footer table-hover mb-0"> <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>Tipo de documento</th>
                            <th>No. Documento</th>
                            <th class="w-50">Razon social</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                            
                            <tr *ngFor="let contribuyente of contribuyentesDt; let i = index">
                                <td>{{ contribuyente.tipo_documento }}</td>
                                <td>{{ contribuyente.num_documento }}</td>
                                <td>{{ contribuyente.razon_social }}</td>
                                <td class="text-center">
                                    <button class="btn btn-sm btn-info" (click)="selectOption(contribuyente)"><i class="fas fa-hand-pointer"></i></button>
                                </td>
                            </tr>
                    </tbody>
                </table> 
                <mat-paginator 
                    [length]="paginate.length"
                    [pageSize]="paginate.perPage"
                    [showFirstLastButtons]="true"
                    [pageSizeOptions]="paginate.pageSizeOptions"
                    (page)="changePaginate($event)"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </app-button-radio-active>
</div>

<cc-spiner-procesar [ltexto]="mensajeSppiner" lTipo="modalRentasLComercialesInspeccionContribuyentes"></cc-spiner-procesar>
