.sticky-header {
    position: sticky;
    top: -10px;
    z-index: 1000;
    background-color: #FFFFFF;
}

.col-nombre {
    left: -10px;
    position: sticky;
    z-index: 1;
    background-color: #FFFFFF;
}