<button mat-icon-button [matMenuTriggerFor]="messagesMenu" (click)="openMessagesMenu()">
    <span class="badge badge-pill badge-danger">{{ totalMessageUnread }}</span>
    <mat-icon>notifications</mat-icon>
</button>
<mat-menu #messagesMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu messages">
        <mat-tab-group (click)="stopClickPropagate($event)" [selectedIndex]="selectedTab">
            <!-- <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>message</mat-icon>
                </ng-template>
                <mat-card class="content" perfectScrollbar>
                  <div class="d-flex flex-column">
                      <button mat-button *ngFor="let message of notifications" (click)="actions(message)">
                          <div class="d-flex flex-column w-100">
                                <div class="d-flex justify-content-between align-items-start">
                                    <span><img width = "50" src = "{{message.usuario_notifica?.avatar}}" ></span>
                                    <span class="name"> {{message.usuario_notifica?.nombre}}</span>
                                    <span class="info"><mat-icon>access_time</mat-icon> {{message.fecha}}</span>
                                </div>
                                <span class="text secondary-text-color">{{message.titulo}}</span>
                                <span class="text secondary-text-color">{{message.accion}}</span>
                          </div>
                      </button>
                    </div>
                </mat-card>
            </mat-tab> -->

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>message</mat-icon>
                </ng-template>
                <mat-card class="content" perfectScrollbar>
                    <div  *ngIf="loadingMessages; else showMessages">
                        <div  class="d-flex justify-content-center ">
                            <p-progressSpinner  [style]="{width: '50px', height: '50px'}"
                                 styleClass="custom-spinner"
                                 strokeWidth="4"
                                 fill="var(--surface-ground)">
                            </p-progressSpinner>

                        </div>
                    </div>
                    <ng-template #showMessages>
                        <div class="d-flex flex-column">
                            <button mat-button *ngFor="let message of notifications" (click)="actions(message)">
                                <img src="{{message.usuario_notifica?.avatar}}" width="50">
                                <div class="d-flex flex-column w-100">
                                    <div class="d-flex justify-content-between align-items-start">
                                        <span class="name">{{message.usuario_notifica?.nombre}}</span>
                                        <span class="info"><mat-icon>access_time</mat-icon> {{message.fecha}}</span>
                                    </div>
                                    <span class="text secondary-text-color">{{message.titulo}}</span>
                                    <span class="text secondary-text-color">{{message.accion}}</span>
                                </div>
                            </button>
                          </div>
                    </ng-template>
                </mat-card>
                <!-- <mat-card class="content" perfectScrollbar>
                  <div class="d-flex flex-column">
                      <button mat-button *ngFor="let message of notifications">
                          <img src="{{message.usuario_notifica?.avatar}}" width="50">
                          <div class="d-flex flex-column w-100">
                              <div class="d-flex justify-content-between align-items-start">
                                  <span class="name">{{message.usuario_notifica?.nombre}}</span>
                                  <span class="info"><mat-icon>access_time</mat-icon> {{message.fecha}}</span>
                              </div>
                              <span class="text secondary-text-color">{{message.titulo}}</span>
                              <span class="text secondary-text-color">{{message.accion}}</span>
                          </div>
                      </button>
                    </div>
                </mat-card> -->
            </mat-tab>
            <!-- <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>event</mat-icon>
                </ng-template>
                <mat-card class="content" perfectScrollbar>
                  <div class="d-flex flex-column">
                      <button mat-button *ngFor="let meeting of meetings">
                          <div class="d-flex flex-column justify-content-center align-items-center row-1" [ngClass]="meeting.bgColor">
                              <span class="name">{{meeting.day}}</span>
                              <span class="name">{{meeting.month}}</span>
                          </div>
                          <div class="d-flex flex-column">
                              <span class="name">{{meeting.title}}</span>
                              <span class="text secondary-text-color">{{meeting.text}}</span>
                          </div>
                      </button>
                    </div>
                </mat-card>
            </mat-tab> -->
        </mat-tab-group>
</mat-menu>
