<div class="my-2">
    <app-button-radio-active [titulo]="fTitle" cstyle="bg-light text-dark" icono="fas fa-gavel" filtroBoton="btnsJuicio" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)">
        <div *ngIf="juicioView; then listadoJuicios else juicioDetalles"></div>
        <ng-template #listadoJuicios>
            <fieldset class="border pb-2 px-2 my-2">
                <legend class="ml-1 w-auto bg-dark">Filtros</legend>
                <div class="row">
                    <div class="col-8">
                        <app-cc-input-group-prepend label="Contribuyente" styleSpan="size-span-campo font-weight-bold">
                            <input type="text" class="form-control" [(ngModel)]="filter.contribuyente">
                        </app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <app-cc-input-group-prepend label="Estado" styleSpan="size-span-campo font-weight-bold">
                            <ng-select [items]="estados" bindValue="id" bindLabel="value" [(ngModel)]="filter.estado" [clearable]="false" class="form-control"></ng-select>
                        </app-cc-input-group-prepend>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <app-cc-input-group-prepend label="Abogado" styleSpan="size-span-campo font-weight-bold">
                            <ng-select [items]="cmb_abogados" bindValue="contrato" bindLabel="nombres" [(ngModel)]="filter.abogado" [clearable]="false" class="form-control"></ng-select>
                        </app-cc-input-group-prepend>
                    </div>
                    <div class="col-4">
                        <app-cc-input-group-prepend label="Fecha Desde" styleSpan="size-span-campo font-weight-bold">
                            <input type="date" name="" id="" class="form-control" [(ngModel)]="filter.fecha_desde">
                        </app-cc-input-group-prepend>
                    </div>
                    <div class="col-4">
                        <app-cc-input-group-prepend label="Fecha Hasta" styleSpan="size-span-campo font-weight-bold">
                            <input type="date" name="" id="" class="form-control" [(ngModel)]="filter.fecha_hasta">
                        </app-cc-input-group-prepend>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-8">
                        <app-cc-input-group-prepend label="Tipo" styleSpan="size-span-campo font-weight-bold">
                            <ng-select [items]="tipos" bindValue="value" bindLabel="value" [clearable]="false" class="form-control" [(ngModel)]="filter.tipo"></ng-select>
                        </app-cc-input-group-prepend>
                    </div>
                </div>
            </fieldset>
            <div class="row my-2">
                <div class="col">
                    <span class="h3 text-dark">Juicios</span>
                    <button class="btn btn-success btn-sm float-right" placement="left" ngbTooltip="Nuevo Juicio" (click)="ingresoJuicio()"> 
                        <i class="fas fa-plus"></i> Nuevo
                    </button>
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <div style="max-height: 550px; overflow-y: auto;">
                        <table class="table no-footer">
                            <thead class="thead-dark sticky-header">
                                <tr>
                                    <th>#</th>
                                    <th>Contribuyente</th>
                                    <th>Num. Juicio</th>
                                    <th>Abogado</th>
                                    <th>Estado</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="!juicios.length">
                                    <td colspan="5" class="text-center">
                                        <h5>No existen Juicios en curso</h5>
                                    </td>
                                </tr>
                                <tr *ngFor="let juicio of juicios; let i = index" [ngClass]="{'table-secondary': !juicio.activo, 'table-warning': juicio.esatdo == 'CNV'}">
                                    <td>{{ juicio.id_cob_juicio }}</td>
                                    <td class="w-25">
                                        {{ juicio.fk_contribuyente.razon_social }}<br>
                                        <small class="text-muted">{{ juicio.fk_contribuyente.tipo_documento }}: {{ juicio.fk_contribuyente.num_documento }}</small>
                                    </td>
                                    <td>
                                        {{ juicio.num_proceso }}<br>
                                        <small>{{ juicio.created_at }}</small>
                                    </td>
                                    <td class="w-25">
                                        <div *ngIf="juicio.fk_abogado != null; then thenBlock else elseBlock"></div>
                                        <ng-template #thenBlock>
                                            <div class="row">
                                                <div class="col">
                                                    {{ juicio.fk_abogado.nombres }} {{ juicio.fk_abogado.apellidos }}<br>
                                                    <small class="text-muted">Contrato: {{ juicio.fk_abogado.matricula }}</small>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-primary btn-sm" (click)="expandAbogados(juicio)" matTooltip="Asignar Abogado" [disabled]="!juicio.activo">
                                                        <i class="fas fa-users"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            
                                        </ng-template>
                                        <ng-template #elseBlock>
                                            <button class="btn btn-primary btn-sm" (click)="expandAbogados(juicio)" matTooltip="Asignar Abogado" [disabled]="!juicio.activo">
                                                <i class="fas fa-users"></i> Asignar Abogado
                                            </button>
                                        </ng-template>
                                    </td>
                                    <td>{{ getEstado(juicio.estado) ?? 'DESCONOCIDO' }}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-primary" matTooltip="A&ntilde;adir Actuaci&oacute;n" (click)="expandActuaciones(juicio)" [disabled]="!juicio.activo || juicio.estado == 'CNV'">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-sm btn-info" matTooltip="Registrar Citacion" (click)="expandNotificacion(juicio)" [disabled]="!juicio.activo || juicio.citaciones?.length >= 3">
                                                <i class="fas fa-envelope"></i>
                                            </button>
                                            <button class="btn btn-sm btn-warning" matTooltip="Ver Detalles" (click)="getJuicioDetalles(juicio)">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger" matTooltip="Ver Notificaci&oacute;n" (click)="descargarNotificacion(juicio)">
                                                <i class="fas fa-file-pdf"></i>
                                            </button>
                                        </div>
                                        <button class="btn btn-sm btn-outline-danger ml-1" matTooltip="Anular" (click)="eliminarJuicio(juicio)" [disabled]="!juicio.activo">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator 
                        [length]="paginate.length"
                        [pageSize]="paginate.perPage"
                        [pageIndex]="paginate.pageIndex"
                        [pageSizeOptions]="paginate.pageSizeOptions"
                        showFirstLastButtons
                        (page)="changePaginate($event)"
                        aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </ng-template>
        <ng-template #juicioDetalles>
            <div class="row mb-2">
                <div class="col text-dark"><h3>Juicio: {{ juicio.num_proceso ?? 24000-0000-00000 }} <small class="text-muted">Estado {{ getEstado(juicio.estado) }}</small></h3></div>
                <div class="col text-right">
                    <button class="btn btn-sm btn-danger" (click)="changeView()"><i class="fas fa-chevron-left"></i>Regresar</button>
                </div>
            </div>
            <fieldset class="border px-2 pb-2 mb-2">
                <legend class="ml-1 w-auto bg-dark">Datos del Contribuyente</legend>
                <div class="row">
                    <div class="col">
                        <app-cc-input-group-prepend label="Razón Social" styleSpan="size-span-campo font-weight-bold"><input type="text" class="form-control" readonly [placeholder]="juicio.fk_contribuyente?.razon_social"></app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <app-cc-input-group-prepend label="Num. Documento" styleSpan="size-span-campo font-weight-bold"><input type="text" class="form-control" readonly [placeholder]="juicio.fk_contribuyente?.num_documento"></app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <app-cc-input-group-prepend label="Direccion" styleSpan="size-span-campo font-weight-bold"><input type="text" class="form-control" readonly [placeholder]="juicio.fk_contribuyente?.direccion"></app-cc-input-group-prepend>
                    </div>
                </div>
            </fieldset>
            <fieldset class="border px-2 pb-2 mb-2">
                <legend class="ml-1 w-auto bg-dark">Datos del Abogado</legend>
                <div class="row">
                    <div class="col">
                        <app-cc-input-group-prepend label="Nombres" styleSpan="size-span-campo font-weight-bold"><input type="text" class="form-control" readonly placeholder="{{ juicio.fk_abogado?.nombres }} {{ juicio.fk_abogado?.apellidos }}"></app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <app-cc-input-group-prepend label="Num. Contrato" styleSpan="size-span-campo font-weight-bold"><input type="text" class="form-control" readonly [placeholder]="juicio.fk_abogado?.matricula"></app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <app-cc-input-group-prepend label="E-Mail" styleSpan="size-span-campo font-weight-bold"><input type="text" class="form-control" readonly [placeholder]="juicio.fk_abogado?.email"></app-cc-input-group-prepend>
                    </div>
                </div>
            </fieldset>
            <div class="row mb-2">
                <div class="col">
                    <h3 class="text-dark">Expedientes</h3>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tipo</th>
                                    <th>Gesti&oacute;n</th>
                                    <th>Fecha</th>
                                    <th>Fecha Recepci&oacute;n</th>
                                    <th>T&iacute;tulos</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let expediente of juicio.expedientes">
                                    <td>
                                        <div class="row">
                                            <div class="col">{{ expediente.tipo }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col">No. {{ expediente.num_expediente }}</div>
                                        </div>
                                    </td>
                                    <td>{{ expediente.tipo_gestion }}</td>
                                    <td>{{ expediente.fecha }}</td>
                                    <td>{{ expediente.fecha_recepcion ?? 'N/A' }}</td>
                                    <td>
                                        <table class="table">
                                            <tr *ngFor="let titulo of expediente.detalles">
                                                <td>
                                                    <div class="row mb-1">
                                                        <div class="col"><strong>Deuda:</strong> {{ titulo.deuda?.numero_documento }}</div>
                                                        <div class="col"><strong>Valor:</strong> ${{ titulo.deuda?.saldo }}/${{ titulo.deuda?.valor }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col cursor-pointer">
                                                            <strong>Liquidacion:</strong>
                                                            <b class="cursor-pointer" 
                                                               style="text-decoration: underline;  color: #2b94e2;"
                                                               (click)="expandDetalleLiq(titulo.liquidacion)">{{ titulo.liquidacion?.documento }}</b></div>
                                                        <div class="col"><strong>Valor:</strong> ${{ titulo.liquidacion?.total }}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td *ngIf="!expediente.detalles.length">
                                        
                                        <button class="btn btn-primary btn-sm ml-1" placement="left" ngbTooltip="Asociar Liquidaciones"> 
                                            Asociar Liquidaciones
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <h3 class="text-dark">Actuaciones Jur&iacute;dicas</h3>
                </div>
                <div class="col-6">
                    <h3 class="text-dark">Anexos</h3>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <div class="table-responsive" style="max-height: 230px; overflow-y: scroll;">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tipo</th>
                                    <th>Observaci&oacute;n</th>
                                    <th>Fecha</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let actuacion of juicio.actuaciones">
                                    <td class="w-25">{{ actuacion.tipo }}</td>
                                    <td class="w-50">{{ actuacion.observaciones }}</td>
                                    <td>{{ actuacion.created_at | date:'shortDate' }}</td>
                                    <td >
                                        <span *ngIf="actuacion.valor > 0">$ {{ actuacion.valor | number:'1.2-2'}}</span>
                                        <span *ngIf="actuacion.valor == 0">-</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-6">
                    <app-anexos-list-dis [dataUser]="dataUser" [permissions]="permissions" [identifier]="juicio.id_cob_juicio"></app-anexos-list-dis>
                </div>
            </div>
        </ng-template>
        
    </app-button-radio-active>
</div>
<cc-spiner-procesar [ltexto]="mensajeSpinner" lTipo="spJuicios"></cc-spiner-procesar>
