<div class="my-2">
    <app-button-radio-active titulo="Consulta Ordenes de Pago" filtroBoton="btnsOrdPag" cstyle="bg-gradient-primary test-white" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)" icono="far fa-hand-pointer">
        <fieldset class="border pb-2 px-2">
            <legend class="w-auto bg-dark ml-1">Filtros</legend>
            <div class="row ml-1 mr-1">
                <div class="col-9">
                    <div class="row">
                        <div class="col">
                            <app-cc-input-group-prepend label="Proveedor" styleSpan="size-span-campo font-weight-bold">
                                <input id="filter_razon_social" type="text" class="form-control" [(ngModel)]="filter.razon_social" placeholder="Proveedor">
                            </app-cc-input-group-prepend>

                        </div>
                        <div class="col">
                            <app-cc-input-group-prepend label="No. Documento" styleSpan="size-span-campo font-weight-bold">
                                <input id="filter_num_documento" type="text" class="form-control" [(ngModel)]="filter.num_documento" placeholder="No. Documento">
                            </app-cc-input-group-prepend>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <app-cc-input-group-prepend label="Fecha inicio" styleSpan="size-span-campo font-weight-bold">
                                <input id="filter_fecha_ini" type="date" class="form-control" [(ngModel)]="filter.fecha_desde">
                            </app-cc-input-group-prepend>
                        </div>
                        <div class="col">
                            <app-cc-input-group-prepend label="Fecha fin" styleSpan="size-span-campo font-weight-bold">
                                <input id="filter_fecha_fin" type="date" class="form-control" [(ngModel)]="filter.fecha_hasta" >
                            </app-cc-input-group-prepend>
                        </div>
                        <div class="col">
                            <app-cc-input-group-prepend label="Estado" styleSpan="size-span-campo font-weight-bold">
                                <ng-select id="estado" class="form-control form-control-sm" [(ngModel)]="estadoSelected" (change)="asignarEstado($event)" [clearable]="false">
                                    <ng-option disabled [value]="0" disabled>Seleccione un Estado</ng-option>
                                    <ng-option *ngFor="let op of estadoList" [value]="op.value">
                                        <i
                                        placement="bottom"
                                        [ngbTooltip]="(op.value == 'E') ? 'Emitido' : (op.value == 'A') ? 'Aprobado' : ((op.value == 'C') ? 'Pagado' : 'Negado')"
                                        [class]="(op.value == 'N') ? 'fas fa-circle text-danger' : (op.value == 'E') ? 'fas fa-circle text-warning' : ((op.value == 'A') ? 'fas fa-circle text-success' : 'fas fa-circle text-primary')">
                                    </i>
                                        {{ op.label }}</ng-option>
                                </ng-select>
                            </app-cc-input-group-prepend>
                        </div>
                    </div>
                </div>
                <div class="col text-right">
                    <button class="btn btn-primary btn-sm ml-1 text-light" placement="bottom" ngbTooltip="Buscar" (click)="cargarOrdenesPago(true)">
                        <i class="fas fa-search"></i> Consultar
                    </button>
                    <button class="btn btn-danger btn-sm ml-1" placement="bottom" ngbTooltip="Limpiar filtros" (click)="limpiarFiltros()">
                        <i class="fas fa-eraser"></i>
                    </button>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col">
                <table class="table table-bordered no-footer table-hover mb-0"> <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th style="width: 12%;">No. Documento</th>
                            <th style="width: 10%;">Usuario Creador</th>
                            <th style="width: 10%;">Fecha</th>
                            <th style="width: 20%;">Proveedor</th>
                            <th style="width: 10%;">Valor</th>
                            <th style="width: 10%;">Estado</th>
                            <th style="width: 10%;">Usuario Gestión</th>
                            <th style="width: 10%;">Fecha Gestión</th>
                            <th style="width: 8%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="ordenesDt.length == 0">
                            <td colspan="9" class="text-center"><h6 class="my-1"></h6>No hay pagos para mostrar</td>
                        </tr>
                        <tr *ngFor="let dt of ordenesDt, let i = index">
                            <td class="text-center">{{ dt.documento }}</td>
                            <td class="text-center">{{ dt.usuario?.nombre | titlecase }}</td>
                            <td class="text-center">{{ dt.fecha.split(" ")[0] }}</td>
                            <td>{{ dt.proveedor?.razon_social }}</td>
                            <!--<td>{{ dt.codigo_catastro }}</td>-->
                            <td class="text-right">$ {{ dt.total | number:'1.2-2' }}</td>
                            <td *ngIf="dt.estado == 'E'" class="text-center">
                                <i class="fas fa-circle text-warning"></i> Emitido
                            </td>
                            <td *ngIf="dt.estado == 'A'" class="text-center">
                                <i class="fas fa-circle text-success"></i> Aprobado
                            </td>
                            <td *ngIf="dt.estado == 'N'" class="text-center">
                                <i class="fas fa-circle text-danger"></i> Negado
                            </td>
                            <td *ngIf="dt.estado == 'C'" class="text-center">
                                <i class="fas fa-circle text-primary"></i> Pagado
                            </td>
                            <td class="text-center">
                                {{dt.usuario_gestion === null ? 'Sin usuario' : dt.usuario_gestion?.nombre | titlecase}}
                            </td>
                            <td class="text-center">{{ dt.fecha_gestion === null ? 'Sin fecha' : dt.fecha_gestion.split(" ")[0] }}</td>
                            <!--<td [class]="'text-center text-' + estados.filter(e => e.value == dt.estado)[0].color">
                                {{ estados.filter(e => e.value == dt.estado)[0].label }}
                            </td>-->
                            <td>
                                <div class="text-center mx-auto">
                                    <button class="btn btn-primary btn-sm mx-1" (click)="showModalGestion(false, dt)" placement="left" ngbTooltip="Seleccionar orden de pago">
                                        <i class="fas fa-hand-pointer"></i>
                                    </button>
                                    <!-- <button class="btn btn-warning btn-sm mx-1" (click)="showModalGestion(false, dt)" placement="left" ngbTooltip="Seleccionar orden de pago">
                                        <i class="fa fa-print"></i>
                                    </button> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator showFirstLastButtons
                                [length]="paginate.length"
                               [pageSize]="paginate.perPage"
                               [pageSizeOptions]="paginate.pageSizeOptions"
                               (page)="changePaginate($event)"
                               aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </app-button-radio-active>
</div>

<cc-spiner-procesar style="z-index: 2000;" [ltexto]="msgSpinner" lfulScren=true lTipo="listRecDocumentos"></cc-spiner-procesar>

<div id="PrintSection" [hidden]="true">
    <div class="row justify-content-center prt-comprobante">

        <div class="col-11 pl-2 pr-2 ">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center mt-5">
                    <div class="sect-one pt-3 pb-3">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4">
                                <img src="{{empresLogo}}" alt="" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center prt-comprobante">
        <div class="col-11 pl-2 pr-2">
            <div class="row mb-2">
                <div class="col">
                    <h4 class="text-center">Lista de Ordenes de Pago</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered no-footer table-hover mb-0">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="width: 10%;">No. Documento</th>
                                    <th style="width: 10%;">Usuario Creador</th>
                                    <th style="width: 10%;">Fecha</th>
                                    <th style="width: 20%;">Proveedor</th>
                                    <th style="width: 10%;">Valor</th>
                                    <th style="width: 10%;">Estado</th>
                                    <th style="width: 10%;">Usuario Gestión</th>
                                    <th style="width: 10%;">Fecha Gestión</th>
                                </tr>
                            </thead>
                            <tbody>

                                <ng-container *ngFor="let dt of ordenesDt, let i = index">
                                    <tr>
                                        <td class="text-center">{{ dt.documento }}</td>
                                        <td class="text-center">{{ dt.usuario.nombre | titlecase }}</td>
                                        <td class="text-center">{{ dt.fecha.split(" ")[0] }}</td>
                                        <td>{{ dt.proveedor?.razon_social }}</td>
                                        <td class="text-right">$ {{ dt.total }}</td>
                                        <td *ngIf="dt.estado == 'E'" class="text-center">
                                           Emitido
                                        </td>
                                        <td *ngIf="dt.estado == 'A'" class="text-center">
                                             Aprobado
                                        </td>
                                        <td *ngIf="dt.estado == 'N'" class="text-center">
                                            Negado
                                        </td>
                                        <td *ngIf="dt.estado == 'C'" class="text-center">
                                             Pagado
                                        </td>
                                        <td class="text-center">
                                            {{dt.usuario_gestion === null ? 'Sin usuario' : dt.usuario_gestion.nombre | titlecase}}
                                        </td>
                                        <td class="text-center">{{ dt.fecha_gestion === null ? 'Sin fecha' : dt.fecha_gestion.split(" ")[0] }}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="font-family: 'Poppins1';">
        <div class="col-12 text-left" style="position: fixed; bottom: 0px; left: 25px;">
            <span style="color: #13A1EA;">
                Fecha: {{ documento.fecha }}</span>
        </div>
        <div *ngIf="dataUser" class="col-12 text-left" style="position: fixed; bottom: 20px; left: 25px;">
            <span style="color: #13A1EA;">
                Usuario: {{ dataUser.nombre }}</span>
        </div>
    </div>
</div>



