.mat-header-row {
    background-color: #343a40;
    /* Background color similar to Bootstrap's thead-dark */
    color: white;
    /* Text color for the header */
}

.mat-header-cell {
    padding: 16px;
    /* Adjust the header cell padding as needed */
    font-weight: bold;
    /* Bold font weight for the header text */
}