          
<div class="my-2">
    <app-button-radio-active [titulo]="fTitle" cstyle="bg-light text-dark" icono="fas fa-print"
        filtroBoton="btnsRenLiq" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)">

        <fieldset class="border py-1 px-3 my-3">
            <legend style="margin: -0.5rem;" class="mb-0 w-auto font-weight-bold">Compra de terreno</legend>
    
        <div class="row my-2">
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Num. Doc." styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control" readonly [ngModel]="liquidacion.documento">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">No. Doc.</span></div>
                    <input type="text" class="form-control form-control-sm" readonly [(ngModel)]="liquidacion.documento">
                </div> -->
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Fecha" styleSpan="size-span-campo font-weight-bold">
                    <input type="date" class="form-control" [disabled]="formReadOnly" [(ngModel)]="liquidacion.fecha">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Fecha</span></div>
                    <input type="date" class="form-control form-control-sm" [disabled]="formReadOnly" [(ngModel)]="liquidacion.fecha" >
                </div> -->
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Estado" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control form-control-sm font-weight-bold" [class]="liquidacion.estado == 'E' ? 'text-warning' : (liquidacion.estado == 'A' ? 'text-success' : (liquidacion.estado == 'X' ? 'text-danger' : ''))" readonly 
                    value="{{ liquidacion.estado == 'E' ? 'Emitido' : (liquidacion.estado == 'A' ? 'Aprobado' : (liquidacion.estado == 'X' ? 'Anulado' : '')) }}">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Estado</span></div>
                    <input type="text" class="form-control form-control-sm font-weight-bold" [class]="liquidacion.estado == 'E' ? 'text-warning' : (liquidacion.estado == 'A' ? 'text-success' : (liquidacion.estado == 'X' ? 'text-danger' : ''))" readonly 
                    value="{{ liquidacion.estado == 'E' ? 'Emitido' : (liquidacion.estado == 'A' ? 'Aprobado' : (liquidacion.estado == 'X' ? 'Anulado' : '')) }}">
                </div> -->
            </div>
          
        </div>

        <div class="row my-3">
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Resolucion No." styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control form-control-sm" [disabled]="formReadOnly" [(ngModel)]="liquidacion.resolucion_numero">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Resolución No.</span></div>
                    <input type="text" class="form-control form-control-sm" [disabled]="formReadOnly" [(ngModel)]="liquidacion.resolucion_numero">
                </div> -->
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Resolucion Fecha" styleSpan="size-span-campo font-weight-bold">
                    <input type="date" class="form-control form-control-sm" [disabled]="formReadOnly" [(ngModel)]="liquidacion.resolucion_fecha">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Resolución fecha</span></div>
                    <input type="date" class="form-control form-control-sm" [disabled]="formReadOnly" [(ngModel)]="liquidacion.resolucion_fecha">
                </div> -->
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Tipo Compra" styleSpan="size-span-campo font-weight-bold">
                    <ng-select  id="tipo_compra"class="form-control form-control-sm" [(ngModel)]="liquidacion.tipo_compra" [disabled]="formReadOnly"  (change)="verificarTipoCompra($event)">
                        <ng-option disabled>Seleccione una Propiedad</ng-option>
                        <ng-option *ngFor="let c of tipoCompra" [value]="c.valor">{{ c.descripcion }}</ng-option>
                    </ng-select>
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Tipo compra</span></div>
                    <ng-select  id="tipo_compra"class="form-control form-control-sm" [(ngModel)]="liquidacion.tipo_compra" [disabled]="formReadOnly"  (change)="verificarTipoCompra($event)">
                        <ng-option disabled>Seleccione una Propiedad</ng-option>
                        <ng-option *ngFor="let c of tipoCompra" [value]="c.valor">{{ c.descripcion }}</ng-option>
                    </ng-select>
                </div> -->
            </div>
            <!--div class="col-4">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Resolución observación</span></div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="liquidacion.resolucion_observacion">
                </div>
            </div-->
            
          
        </div>
        <div class="row my-3">
            <div class="col-sm-8">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold text-white" style="width: 190px; background-color: #404A62;">Observación de Resolución</span></div>
                    <textarea cols="30" rows="3" class="form-control form-control-sm" [disabled]="formReadOnly" [(ngModel)]="liquidacion.resolucion_observacion" maxlength="200"></textarea>
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Contribuyente" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control form-control-sm" readonly placeholder="Seleccione un Contribuyente" [(ngModel)]="contribuyenteActive.razon_social">
                    <div class="input-group-append">
                        <button class="btn btn-info btn-sm" [disabled]="formReadOnly" (click)="expandContribuyentes()" placement="bottom" ngbTooltip="Buscar Contribuyente">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Contribuyente</span></div>
                    <input type="text" class="form-control form-control-sm" readonly placeholder="Seleccione un Contribuyente" [(ngModel)]="contribuyenteActive.razon_social">
                    <button class="btn btn-info btn-sm" [disabled]="formReadOnly" (click)="expandContribuyentes()" placement="bottom" ngbTooltip="Buscar Contribuyente">
                        <i class="fas fa-search"></i>
                    </button>
                </div> -->
            </div>

            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Arriendo" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control" readonly placeholder="Documento de Arriendo" (click)="expandArriendo()" [(ngModel)]="liquidacion.doc_arriendo">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-info" (click)="expandArriendo()" [disabled]="contribuyenteActive.id_cliente == undefined || contribuyenteActive.id_cliente == null">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </app-cc-input-group-prepend>
            </div>

            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Propiedad" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control" readonly [ngModel]="propiedadActive.cod_catastral">
                    <!-- <ng-select *ngIf="!formReadOnly" id="codigo_catastral" [placeholder]="!codCastDisabled ? 'Seleccione una Propiedad' : ''" class="form-control form-control-sm" [(ngModel)]="propiedadActive" [disabled]="codCastDisabled || formReadOnly"  (change)="selectPropiedad($event)">
                        <ng-option disabled>Seleccione una Propiedad</ng-option>
                        <ng-option *ngFor="let c of propiedades" [value]="c"><span class="font-weight-bold">Cod. Catastral:</span> {{ c.cod_catastral }} | <span class="font-weight-bold">Mz.:</span> {{ c.manzana }} | <span class="font-weight-bold">Solar:</span> {{ c.solar }} | <span class="font-weight-bold">Area:</span> {{ c.area }}</ng-option>
                    </ng-select>
                    <ng-select *ngIf="formReadOnly" id="codigo_catastral" [placeholder]="!codCastDisabled ? 'Seleccione una Propiedad' : ''" class="form-control form-control-sm" [(ngModel)]="propiedadActive.id" [disabled]="codCastDisabled || formReadOnly"  (change)="selectPropiedad($event)">
                        <ng-option *ngFor="let c of propiedades" [value]="c.id"><span class="font-weight-bold">Cod. Catastral:</span> {{ c.cod_catastral }} | <span class="font-weight-bold">Mz.:</span> {{ c.manzana }} | <span class="font-weight-bold">Solar:</span> {{ c.solar }} | <span class="font-weight-bold">Area:</span> {{ c.area }}</ng-option>
                    </ng-select> -->
                </app-cc-input-group-prepend>
            </div>
        </div>

    </fieldset>
    <fieldset class="border py-1 px-3 my-3">
        <legend style="margin: -0.5rem;" class="mb-0 w-auto font-weight-bold">Avalúos</legend>

        <div class="row my-2">
            <div class="offset-8 col-sm-4">
                <app-cc-input-group-prepend label="Area" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control form-control-sm text-right" readonly value="{{ propiedadActive.area ? propiedadActive.area : 0 | number:'1.2-2'}} m²">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Área</span></div>
                    <input type="text" class="form-control form-control-sm text-right" readonly value="{{ propiedadActive.area ? propiedadActive.area : 0 | number:'1.2-2'}} m²">
                </div> -->
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Solar" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.valor_solar ? propiedadActive.valor_solar : 0 | number:'1.2-2'}}">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Solar</span></div>
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.valor_solar ? propiedadActive.valor_solar : 0 | number:'1.2-2'}}">
                </div> -->
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Comercial" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.avaluo ? propiedadActive.avaluo : 0 | number:'1.2-2'}}">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Comercial</span></div>
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.avaluo ? propiedadActive.avaluo : 0 | number:'1.2-2'}}">
                </div> -->
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Hipt./Rebaja" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.valor_hipoteca ? propiedadActive.valor_hipoteca : 0 | number:'1.2-2'}}">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Hipt./Rebaja</span></div>
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.valor_hipoteca ? propiedadActive.valor_hipoteca : 0 | number:'1.2-2'}}">
                </div> -->
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Edificio" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.valor_edificacion ? propiedadActive.valor_edificacion : 0 | number:'1.2-2'}}">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Edificio</span></div>
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.valor_edificacion ? propiedadActive.valor_edificacion : 0 | number:'1.2-2'}}">
                </div> -->
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Edificio" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.avaluo ? propiedadActive.avaluo : 0 | number:'1.2-2'}}">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Imponible</span></div>
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.avaluo ? propiedadActive.avaluo : 0 | number:'1.2-2'}}">
                </div> -->
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Valor m2" styleSpan="size-span-campo font-weight-bold">
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.valor_metro_cuadrado ? propiedadActive.valor_metro_cuadrado : 0 | number:'1.2-2'}}">
                </app-cc-input-group-prepend>
                <!-- <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Valor m<sup>2</sup></span></div>
                    <input type="text" class="form-control form-control-sm text-right" readonly value="$ {{ propiedadActive.valor_metro_cuadrado ? propiedadActive.valor_metro_cuadrado : 0 | number:'1.2-2'}}">
                </div> -->
            </div>
        </div>
    </fieldset>
    <fieldset *ngIf="liquidacion.tipo_compra == 'EXCEDENTE'" class="border py-1 px-3 my-3">
        <legend style="margin: -0.5rem;" class="mb-0 w-auto font-weight-bold">Linderos</legend>
        <div class="row my-2">
            <div class="col-sm-3 input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Norte/Mts</span></div>
                <input type="text" class="form-control form-control-sm text-right" [disabled]="formReadOnly" [(ngModel)]="linderos.mts_norte" (input)="sumaMtsLinderos()" (keypress)="onlyNumberDot($event)">
            </div>
            <div class="col-sm-3 input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Sur/Mts</span></div>
                <input type="text" class="form-control form-control-sm text-right" [disabled]="formReadOnly" [(ngModel)]="linderos.mts_sur" (input)="sumaMtsLinderos()" (keypress)="onlyNumberDot($event)">
            </div>
            <div class="col-sm-3 input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Este/Mts</span></div>
                <input type="text" class="form-control form-control-sm text-right" [disabled]="formReadOnly" [(ngModel)]="linderos.mts_este" (input)="sumaMtsLinderos()" (keypress)="onlyNumberDot($event)">
            </div>
            <div class="col-sm-3 input-group input-group-sm">
                <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Oeste/Mts</span></div>
                <input type="text" class="form-control form-control-sm text-right" [disabled]="formReadOnly" [(ngModel)]="linderos.mts_oeste" (input)="sumaMtsLinderos()" (keypress)="onlyNumberDot($event)">
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm-4">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Total mt2</span></div>
                    <input type="text" class="form-control form-control-sm text-right" [disabled]="true" [(ngModel)]="cantidadTotalMts2"  >
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Valor por mt2</span></div>
                    <input type="text" class="form-control form-control-sm text-right" [disabled]="formReadOnly" [(ngModel)]="linderos.totalMts2" (input)="sumaMtsLinderos()" value="$ {{ propiedadActive.valor_metro_cuadrado ? propiedadActive.valor_metro_cuadrado : 0 | number:'1.2-2'}}" (keypress)="onlyNumberDot($event)">
                </div>
                <!-- <div class="p-inputgroup  md:h-2rem">
                    <span class="p-inputgroup-addon">Valor por mt2</span>
                    <p-inputNumber  [(ngModel)]="linderos.totalMts2" mode="currency" currency="USD" locale="en-US" [disabled]="formReadOnly" (input)="sumaMtsLinderos()"  value="$ {{ propiedadActive.valor_metro_cuadrado ? propiedadActive.valor_metro_cuadrado : 0 | number:'1.2-2'}}" (keypress)="onlyNumberDot($event)"></p-inputNumber>
                </div> -->
            </div>
            <div class="col-sm-4">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Total</span></div>
                    <input type="text" class="form-control form-control-sm text-right" [disabled]="true"  [ngModel]="totalValor | number:'1.2-2'"  >
                </div>
            </div>
        </div>
        
    </fieldset>

        <div class="row my-2">
            <div class="col-sm-8">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold text-white" style="width: 155px; background-color: #404A62;">Observaciones</span></div>
                    <textarea cols="30" rows="3" class="form-control form-control-sm" [readonly]="observacionesDisabled || formReadOnly" [(ngModel)]="liquidacion.observacion" maxlength="200"></textarea>
                </div>
            </div>
        </div>
        

        <div class="row mt-2 mb-1 align-items-center">
            <div class="col">
                <h5 class="mb-0 text-dark">Concepto </h5>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered no-footer table-hover mb-0">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th style="width: 5%;">Código</th>
                                <th style="width: 10%;">Descripción</th>
                                <th style="width: 10%;">Comentario</th>
                                <th style="width: 10%;">Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="conceptos.length == 0">
                                <td colspan="5" class="text-center"><h6 class="my-1">No hay conceptos cargados</h6></td>
                            </tr>
                            <tr *ngFor="let d of conceptos, let i = index">
                                <td class="text-center">{{ d.codigo_detalle }}</td> 
                                <td>{{ d.nombre_detalle }}</td>
                                
                                <td class="text-right">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="d.comentario" [readonly]="formReadOnly || conceptosDisabled" maxlength="255"> 
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                        <input currencyMask class="form-control form-control-sm" readonly [ngModel]="d.valor" (keyup)="calcSubtotal()">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row my-2 justify-content-end">
            <div class="col-sm-5">
                <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend">
                        <span class="label-saldo" >Subtotal</span>
                    </div>
                    <input currencyMask class="form-control form-control-lg font-weight-bold" readonly [ngModel]="liquidacion.subtotal_0">
                </div>
            </div>
        </div>
        <!-- Nuevo concepto para alcabala -->

        
        <div class="row mt-2 mb-1 align-items-center">
            <div class="col">
                <h5 class="mb-0 text-dark">Exoneraciones</h5>
            </div>
            <div class="col text-right">
                <button class="btn btn-success btn-sm ml-1 float-right" placement="left" ngbTooltip="Agregar Exoneración" [disabled]="exoneracionDisabled || formReadOnly" (click)="expandExoneracion()">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered no-footer table-hover mb-0">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th style="width: 5%;">Concepto</th>
                                <th style="width: 5%;">Código</th>
                                <th style="width: 25%;">Descripción</th>
                                <th style="width: 30%;">Comentario</th>
                                <th style="width: 15%;">% Descuento</th>
                                <th style="width: 15%;">Total</th>
                                <th style="width: 5%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="exoneraciones.length == 0">
                                <td colspan="7" class="text-center"><h6 class="my-1">No hay Exoneraciones aplicadas</h6></td>
                            </tr>
                            <tr *ngFor="let d of exoneraciones, let i = index">
                                <td class="text-center">{{ d.cod_concepto_det_aplicable }}</td>
                                <td class="text-center">{{ d.con_det_codigo }}</td>
                                <td>{{ d.descripcion }}</td>
                                <td class="text-right">
                                    <div class="input-group input-group-sm">
                                        <input maxlength="50" type="text" class="form-control form-control-sm" [(ngModel)]="d.comentario" [readonly]="formReadOnly || exoneracionDisabled" > 
                                    </div>
                                </td>
                                <td class="text-center">{{ d.porcentaje * 100 | number:'1.0-0' }} %</td>
                                <td class="text-right text-danger">$ -{{ d.valor | number: '1.2-2' }}</td>
                                <td class="text-center">
                                    <button class="btn btn-sm btn-danger" placement="left" ngbTooltip="Remover Exoneración" [disabled]="formReadOnly || exoneracionDisabled" (click)="removeExoneracion(i)"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-2 justify-content-end">
            <div class="col-sm-5">
                <!-- <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend"><span class="label-saldo label-saldo_item" >Exoneraciones</span></div>
                    <input id="exonTotal" type="text" class="form-control input-saldo" [class]="liquidacion.exoneraciones > 0 ? 'text-danger' : ''" readonly value="$ {{ liquidacion.exoneraciones > 0 ? '-' : ''}}{{ liquidacion.exoneraciones | number: '1.2-2' }}">
                </div> -->
                <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend"><span class="label-saldo label-saldo_item" >Exoneraciones</span></div>
                    <input id="exonTotal" currencyMask class="form-control input-saldo" [ngClass]="{'text-danger': liquidacion.exoneraciones > 0}" readonly [ngModel]="liquidacion.exoneraciones">
                </div>
            </div>
        </div>

        <div class="row my-2 justify-content-end">
            <div class="col-sm-5">
                <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend">
                        <span class="label-saldo">Subtotal</span>
                    </div>
                    <input currencyMask class="form-control form-control-lg font-weight-bold" readonly [ngModel]="liquidacion.subtotal_1">
                </div>
            </div>
        </div>

        <div class="row my-2 justify-content-end">
            <div class="col-sm-5">
                <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend">
                        <span class="label-saldo label-saldo_item" >STA</span>
                    </div>
                    <input currencyMask class="form-control input-saldo" [(ngModel)]="liquidacion.servtecadmin" (keyup)="calcTotal()">
                </div>
            </div>
        </div>

        <div class="row my-2 justify-content-end">
            <div class="col-sm-5">
                <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend">
                        <span class="label-saldo" >Subtotal</span>
                    </div>
                    <input currencyMask class="form-control form-control-lg font-weight-bold" readonly [ngModel]="liquidacion.subtotal_2">
                </div>
            </div>
        </div>

        <div class="row my-2 justify-content-end">
            <div class="col-sm-5">
                <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend">
                        <span class="label-saldo label-saldo_item" >Recargo</span>
                    </div>
                    <input currencyMask class="form-control input-saldo" readonly [ngModel]="liquidacion.recargo">
                </div>
            </div>
        </div>
        <div class="row my-2 justify-content-end">
            <div class="col-sm-5">
                <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend">
                        <span class="label-saldo label-saldo_item ">Coactiva</span>
                    </div>
                    <input currencyMask class="form-control input-saldo" readonly [ngModel]="liquidacion.coactiva">
                </div>
            </div>
        </div>

        <div class="row my-2 justify-content-end">
            <div class="col-sm-5">
                <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend"><span class="label-saldo label-saldo_item" >Interés</span></div>
                    <input currencyMask class="form-control input-saldo" readonly [ngModel]="liquidacion.interes">
                </div>
            </div>
        </div>

        <div class="row my-2 justify-content-end">
            <div class="col-sm-5">
                <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend"><span class="label-saldo label-saldo_item" >Descuento</span></div>
                    <input currencyMask class="form-control input-saldo" readonly [ngModel]="liquidacion.descuento">
                </div>
            </div>
        </div>

        <div class="row my-2 justify-content-end">
            <div class="col-sm-5">
                <div class="input-group input-group-lg input-group-total">
                    <div class="input-group-prepend"><span class="label-saldo">Total Cobro</span></div>
                    <input currencyMask class="form-control form-control-lg font-weight-bold" readonly [ngModel]="liquidacion.total">
                </div>
            </div>
        </div>


    </app-button-radio-active>
</div>
<cc-spiner-procesar [ltexto]="msgSpinner" lfulScren=true lTipo="regPropLiqGen"></cc-spiner-procesar>



<div id="PrintSection" [hidden]="true">
    <div class="row justify-content-center  prt-comprobante">
        <div class="col-11 pl-2 pr-2 ">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center mt-5">
                    <div class="sect-one pt-3 pb-3">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4">
                                <img src="{{empresLogo}}" alt="" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-center mt-5">
                    <div class="sect-two pt-3 pb-2">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4" style="font-size: 20px;font-weight: bold">
                                <h3>Liquidación: {{ liquidacion.documento }}</h3>
                                <h3>Fecha: {{ liquidacion.fecha | date: 'dd/MM/yyyy' }}</h3>
                                <!-- <h3>Estado: {{ liquidacion.estado == 'E' ? 'Emitido' : (liquidacion.estado == 'A' ? 'Aprobado' : 'Anulado')}}</h3> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center prt-comprobante">


        <div class="col-11 pl-2 pr-2">

            <div class="row my-2">
                <div class="col-12">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">Contribuyente</span></div>
                        <input type="text" class="form-control form-control-sm" readonly placeholder="Seleccione un Contribuyente" [(ngModel)]="contribuyenteActive.razon_social">
                    </div>
                </div>
            </div>

            <div class="row my-2">
                
            <div class="row my-2">
                <div class="col-12">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">Observaciones</span></div>
                        <textarea cols="30" rows="3" class="form-control form-control-sm" [readonly]="formReadOnly" [(ngModel)]="liquidacion.observacion"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-11 pl-2 pr-2">
            <div class="row mt-2 mb-1 align-items-center">
                <div class="col">
                    <h5 class="mb-0 text-dark">Concepto</h5>
                </div>
            </div>
    
            <div class="row mb-2">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-bordered no-footer table-hover mb-0">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="width: 5%;">Código</th>
                                    <th style="width: 10%;">Descripción</th>
                                    <th style="width: 10%;">Comentario</th>
                                    <th style="width: 10%;">Total</th>
                                    <!-- <th style="width: 2%;">Acciones</th> -->
                                </tr>
                            </thead>
                            <tbody>
    
                                <tr *ngIf="conceptos.length == 0">
                                    <td colspan="5" class="text-center"><h6 class="my-1">No hay conceptos cargados</h6></td>
                                </tr>
                                <tr *ngFor="let d of conceptos, let i = index">
                                    <td class="text-center">{{ d.codigo_detalle }}</td> 
                                    <td>{{ d.nombre_detalle }}</td>
                                    <td  class="text-center">{{ d.comentario }}</td>
                                    <td class="text-center">{{ d.valor}}</td>

                                    <!-- <td class="text-right">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="d.comentario" [readonly]="formReadOnly || conceptosDisabled" > 
                                        </div>
                                    </td> -->
                                    <!-- <td class="text-right">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                            <input type="text" class="form-control form-control-sm text-right" [(ngModel)]="d.valor"  (keypress)="onlyNumberDot($event)" (keyup)="calcSubtotal()">
                                        </div>
                                    </td> -->
                                    <!-- <td class="text-center">
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- <div class="row my-2 justify-content-end">
                <div class="col-4">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text">Subtotal</span></div>
                        <input id="exonTotal" type="text" class="form-control form-control-sm text-right" readonly value="$ {{ liquidacion.subtotal | number: '1.2-2' }}">
                    </div>
                </div>
            </div> -->
      
            <div class="row my-2 justify-content-end">
                <div class="col-4">
                    <div class="input-group input-group-lg input-group-subtotal">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold" style="width: 155px;">Subtotal</span></div>
                        <input id="exonTotal" type="text" class="form-control form-control-lg font-weight-bold text-right" readonly value="$ {{ liquidacion.subtotal | number: '1.2-2' }}">
                    </div>
                </div>
            </div>

            </div>

            <div class="col-11 pl-2 pr-2">

            <div class="row mb-2">
                <div class="col">
                    <div class="table-responsive">
                        <h5 class="mb-0 text-dark">Exoneraciones</h5>
                        <table class="table table-bordered no-footer table-hover mb-0" style="font-size: smaller;">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="width: 10%;">Código</th>
                                    <th style="width: 50%;">Descripcion</th>
                                    <th style="width: 15%;">% Descuento</th>
                                    <th style="width: 20%;">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        
            <div class="row my-2 justify-content-end">
                <div class="col-4">
                    <div class="input-group input-group-lg input-group-descuentos">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold" style="width: 155px;">Exoneraciones</span></div>
                        <input id="exonTotal" type="text" class="form-control form-control-lg font-weight-bold text-right" [class]="liquidacion.exoneraciones > 0 ? 'text-danger' : ''" readonly value="$ {{ liquidacion.exoneraciones > 0 ? '-' : ''}}{{ liquidacion.exoneraciones | number: '1.2-2' }}">
                    </div>
                </div>
            </div>


            <div class="row mt-2 mb-4 justify-content-end">
                <div class="col-4">
                    <div class="input-group input-group-lg input-group-total">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold" style="width: 155px;">Total</span></div>
                        <input id="total" type="text" class="form-control form-control-lg font-weight-bold text-right" readonly value="$ {{ liquidacion.total | number: '1.2-2' }}">
                    </div>
                </div>
            </div>

            </div>    
    

    <div class="row justify-content-center" style="font-family: 'Poppins1';">
        <div class="col-12 text-left" style="position: fixed; bottom: 0px; left: 25px;">
            <span style="color: #13A1EA;">
                Fecha: {{ fecha }}</span>
        </div>
        <div *ngIf="dataUser" class="col-12 text-left" style="position: fixed; bottom: 20px; left: 25px;">
            <span style="color: #13A1EA;">
                Usuario: {{ dataUser.nombre }}</span>
        </div>
    </div>

