<div class="mt-4">
    <app-button-radio-active *ngIf="processing" titulo="DISTRIBUCIÓN INTERNA" filtroBoton="btnDistri" cstyle="bg-gradient-primary text-white" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)" icono="fas fa-truck">
        <div class="row mt-2">
            <div class="col-sm-6">
                <div class="input-group input-group-sm mt-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text size-span-campo">Bodega</span>
                    </div>
                    <ng-select id="IdBodega" class="form-control custom" appendTo="body" [searchable]="true" [disabled]="!actions.dComponet" [clearable]="true" [(ngModel)]="bodegaSearch" (ngModelChange)="getFilterBodega($event)">
                        <ng-option *ngFor="let d of arrayBodega" [value]="d.id_bodega_cab">{{d.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm mt-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text size-span-campo">Almacenamiento</span>
                    </div>
                    <ng-select id="IdAlmacenamiento" class="form-control custom" appendTo="body" [searchable]="true" [disabled]="!actions.dComponet || bodegaSearch == undefined " [clearable]="true" [(ngModel)]="almacenamientoSearch" (ngModelChange)="getFilterAlmacenamiento($event)"
                        [disabled]="!disbledTipo">
                        <ng-option *ngFor="let d of arrayAlmacenamiento" [value]="d.id_bodega_det">{{d.tipo_almacenamiento}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text size-span-campo">Producto</span>
                    </div>
                    <ng-select id="IdProducts" class="form-control custom" appendTo="body" [searchable]="true" [disabled]="!actions.dComponet" [clearable]="true" [(ngModel)]="productosSearch" (ngModelChange)="getFilterProduct($event)">
                        <ng-option *ngFor="let d of arrayProducts | filter:[{field:'clase', value: 'Productos'}]" [value]="d.id_producto">
                            {{d.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-sm-2">
                <app-cc-input-group-prepend label="Código" styleSpan="size-span-campo">
                    <label class="form-control custom">{{codigoBodega}}</label>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-sm-2">
                <app-cc-input-group-prepend label="Fila" styleSpan="size-span-campo">
                    <label class="form-control custom">{{filaBodega}}</label>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-sm-2">
                <app-cc-input-group-prepend label="Columna" styleSpan="size-span-campo">
                    <label class="form-control custom">{{columnaBodega}}</label>
                </app-cc-input-group-prepend>
            </div>
        </div>

        <div class="row">
            <!--  <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Producto</span>
                    </div>
                    <ng-select id="IdProducts" class="form-control custom" appendTo="body" [searchable]="true" [disabled]="!actions.dComponet" [clearable]="true" [(ngModel)]="productosSearch" (ngModelChange)="getFilterProduct($event)">
                        <ng-option *ngFor="let d of arrayProducts" [value]="d.id_producto">
                            {{d.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div> -->
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text size-span-campo">Código Producto</span>
                    </div>
                    <label class="form-control custom">{{codigoProduct}}</label>
                </div>
            </div>
            <div class="col-sm-2">
                <app-cc-input-group-prepend label="Cantidad" styleSpan="size-span-campo">
                    <input type="number" min="0" [(ngModel)]="valorcantidad" #cupo="ngModel" name="cupo" id="idCantDist" (keypress)="commonServices.FormatDecimalVal($event)" class="form-control form-control-sm text-right" [disabled]=" !actions.dComponet || productosSearch == undefined ">
                </app-cc-input-group-prepend>
            </div>
            <div class="col-sm-2">
                <app-cc-input-group-prepend label="Perchado" styleSpan="size-span-campo">
                    <input type="number" min="0" [(ngModel)]="valorPerchado" #valor="ngModel" name="valor" id="idPerchar" class="form-control form-control-sm text-right" readonly>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-sm-2">
                <app-cc-input-group-prepend label="Columna" styleSpan="size-span-campo">
                    <label class="form-control custom">{{columnaBodega}}</label>
                </app-cc-input-group-prepend>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-sm-3">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text size-span-campo">Restante</span>
                    </div>
                    <input type="number" min="0" [(ngModel)]="cantidadRestante" #saldo="ngModel" name="saldo" id="idrest" (keypress)="commonServices.FormatDecimalVal($event)" class="form-control form-control-sm text-right" readonly>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text size-span-campo">Stock</span>
                    </div>
                    <label style="font-weight:bold;color:red;" class="form-control custom text-right">{{stock}}</label>
                </div>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-md-12">
                <fieldset class="border p-2 filters">
                    <legend class="w-auto h6">Listado</legend>
                    <div class="row justify-content-center">
                        <div class="col-md-12 container">
                            <div class="content-table">
                                <div class="table-responsive mt-3">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table no-footer table-hover">
                                        <thead class="thead-dark">
                                            <tr class="text-center" style="width: 100%;">
                                                <th>Id</th>
                                                <th>Bodega</th>
                                                <th>Almacenamiento</th>
                                                <th>Código</th>
                                                <th>Producto</th>
                                                <th>Código Producto</th>
                                                <th>Fila</th>
                                                <th>Columna</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="validaDtUser">
                                            <tr *ngFor="let dt of guardaT" style="cursor:pointer;text-align:center;" style="cursor:pointer;text-align:center;">
                                                <td style="text-align:start;padding-left: 20px;">{{dt.id_bod_stock}}</td>
                                                <td style="text-align:start;padding-left: 20px;">{{dt.nombre}}</td>
                                                <td style="text-align:start;padding-left: 20px;">{{dt.tipo_almacenamiento}}</td>
                                                <td style="text-align:start;padding-left: 20px;">{{dt.codigo}}</td>
                                                <td style="text-align:start;padding-left: 20px;">{{dt.nombre_producto}}</td>
                                                <td style="text-align:start;padding-left: 20px;">{{dt.codigoProducto}}</td>
                                                <td style="text-align:start;padding-left: 20px;">{{dt.fila}}</td>
                                                <td style="text-align:start;padding-left: 20px;">{{dt.columna}}</td>
                                                <td style="text-align:start;padding-left: 20px;">{{dt.cantidad}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </app-button-radio-active>
</div>
<cc-spiner-procesar [ltexto]="mensajeSpinner" lfulScren=true lTipo="spContable"></cc-spiner-procesar>