<app-button-radio-active [titulo]="fTitle" cstyle="bg-light text-dark" icono="fas fa-money-check-edit-alt"
filtroBoton="btnsConfiguracionContable" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)">

    <div class="row mb-2">

        <div class="col-8">
            <app-cc-input-group-prepend label="Tipo" styleSpan="size-span-campo font-weight-bold">
                <ng-select id="estado" class="form-control form-control-sm" [clearable]="false" [(ngModel)]="dat.tipo_especie">
                    <ng-option disabled [value]="0">Seleccione un estado</ng-option>
                    <ng-option *ngFor="let op of catalog" [value]="op.descripcion">{{ op.descripcion }}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend>
        </div>

        <div class="col-6">
            <app-cc-input-group-prepend label="No. Talonario" styleSpan="size-span-campo font-weight-bold">
                <input class="form-control" [(ngModel)]="dat.nro_talonario" type="number" placeholder="No. Talonario" />

            </app-cc-input-group-prepend>
        </div>
        <div class="col-6">
            <app-cc-input-group-prepend label="Cantidad Actual" styleSpan="size-span-campo font-weight-bold">
                <input class="form-control" [(ngModel)]="dat.nro_actual" type="number" placeholder="Cantidad Actual" />

            </app-cc-input-group-prepend>
        </div>


        <div class="col-6">
            <app-cc-input-group-prepend label="Desde" styleSpan="size-span-campo font-weight-bold">
                <input type="number" class="form-control" [(ngModel)]="dat.desde" maxlength="120" placeholder="Desde" readonly>
            </app-cc-input-group-prepend>
        </div>

        <div class="col-6">
            <app-cc-input-group-prepend label="Hasta" styleSpan="size-span-campo font-weight-bold">
                <input list="lst_ctas_deudoras" type="number" class="form-control custom-select"  [(ngModel)]="dat.hasta" placeholder="Hasta" maxlength="50" readonly>

            </app-cc-input-group-prepend>
        </div>

        <div class="col-6">
            <app-cc-input-group-prepend label="Cantidad anuladas" styleSpan="size-span-campo font-weight-bold">
                <input class="form-control" [(ngModel)]="dat.cantidad_anuladas" type="number" placeholder="Cantidad" />

            </app-cc-input-group-prepend>
        </div>



    </div>



</app-button-radio-active>

<cc-spiner-procesar style="z-index: 2000;" [ltexto]="mensajeSpinner" lfulScren=true lTipo="spConceptos"></cc-spiner-procesar>
