thead th {
    top: 0;
    position: sticky;
    // background-color: #666;
    // color: #fff; 
}

.col-cuenta {
    left: 0px;
    position: sticky;
}

.col-concepto {
    left: 63px;
    position: sticky;
}

.fixed-header {
    z-index: 99999 !important;
}
// d0d5d9
th, td {
    // padding: 0;
    outline: 1px solid #d0d5d9;
    outline-offset: -1px;
    background-color: #f3f5f6;
}