<app-button-radio-active titulo="Registro de Nuevo Local" icono="far fa-store-alt" cstyle="bg-light text-dark"
    filtroBoton="btnsLcomNuevoLocal" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)">
    <div class="row my-2">
        <div class="col">
            <app-cc-input-group-prepend label="Contribuyente" styleSpan="size-span-campo font-weight-bold">
                <input type="text" class="form-control" readonly [placeholder]="local.fk_contribuyente?.razon_social">
                <div class="input-group-append">
                    <button class="btn btn-primary" (click)="expandContribuyente()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </app-cc-input-group-prepend>
        </div>
        <div class="col">
            <app-cc-input-group-prepend label="Nombre Comercial" styleSpan="size-span-campo font-weight-bold">
                <input type="text" class="form-control" [(ngModel)]="local.razon_social">
            </app-cc-input-group-prepend>
        </div>
        <div class="col">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text font-weight-bold" style="width: 120px;">Fecha Inicio Act.</span>
                </div>
                <input type="date" class="form-control" [(ngModel)]="local.fecha" [disabled]="local.tipo_local == 1">
            </div>
        </div>

    </div>
    <div class="row my-2">
        <div class="col">
            <app-cc-input-group-prepend label="Patrimonio" styleSpan="size-span-campo font-weight-bold">
                <input currencyMask class="form-control text-right" [(ngModel)]="local.patrimonio" placeholder="0.00">
            </app-cc-input-group-prepend>
        </div>
        <div class="col">
            <app-cc-input-group-prepend label="Actividad Comercial" styleSpan="size-span-campo font-weight-bold">
                <ng-select class="form-control" [selectOnTab]="true" [virtualScroll]="true" [(ngModel)]="local.fk_actividad_comercial" [clearable]="false">
                    <ng-option [value]="0" disabled>Escoja una Actividad Comercial</ng-option>
                    <ng-option *ngFor="let actividad of actividades_comerciales" [value]="actividad.id">{{
                        actividad.nombre }}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend>
        </div>
        <div class="col-4">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text font-weight-bold" style="width: 120px;">Grupo</span>
                </div>
                <ng-select class="form-control" [selectOnTab]="true" [(ngModel)]="local.fk_grupo" [clearable]="false">
                    <ng-option disabled [value]="0">Escoja un Grupo</ng-option>
                    <ng-option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.nombre }}</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-8">
            <app-cc-input-group-prepend label="Local Turistico" styleSpan="size-span-campo font-weight-bold">
                <div class="input-group-prepend">
                    <div class="input-group-text"><input type="checkbox" [(ngModel)]="local.turismo"></div>
                </div>
                <ng-select class="form-control" [selectOnTab]="true" [readonly]="!local.turismo" [clearable]="false" [(ngModel)]="local.lt_categoria" (change)="filter_cat_2($event)">
                    <ng-option disabled [value]="0">Categoria</ng-option>
                    <ng-option *ngFor="let cat of cmb_lt_cat" [value]="cat">{{ cat.nombre }}</ng-option>
                </ng-select>
                <ng-select class="form-control" [selectOnTab]="true" [readonly]="!local.turismo" [clearable]="false" [(ngModel)]="local.lt_categoria_2" (change)="handleLabelCantidad($event)">
                    <ng-option disabled [value]="0">Sub-categoria</ng-option>
                    <ng-option *ngFor="let cat of cmb_lt_cat_2_filter" [value]="cat">{{ cat.nombre }}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend>
        </div>
        <div class="col">
            <app-cc-input-group-prepend label="Uso de suelo" styleSpan="size-span-campo font-weight-bold">
                <input type="text" class="form-control" [(ngModel)]="local.uso_suelo">
            </app-cc-input-group-prepend>
        </div>
        <div *ngIf="local.turismo" class="col">
            <app-cc-input-group-prepend [label]="lblCantidad" styleSpan="size-span-campo font-weight-bold">
                <input type="number" class="form-control" [(ngModel)]="local.lt_cantidad">
            </app-cc-input-group-prepend>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <app-cc-input-group-prepend label="Establecimiento" styleSpan="size-span-campo font-weight-bold">
                <ng-select class="form-control" [selectOnTab]="true" [clearable]="false" [(ngModel)]="local.tipo_establecimiento"
                    [disabled]="false">
                    <ng-option [value]="0" disabled>Establecimiento</ng-option>
                    <ng-option *ngFor="let establecimiento of tipo_estable" [value]="establecimiento.value"> {{
                        establecimiento.label }}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend>
        </div>
        <div class="col-4">
            <app-cc-input-group-prepend label="Tiene F&aacute;brica" styleSpan="size-span-campo font-weight-bold">
                <ng-select class="form-control" [selectOnTab]="true" [clearable]="false" [(ngModel)]="local.tiene_fabrica"
                    [disabled]="false">
                    <ng-option [value]="0" disabled>Tiene Fábrica</ng-option>
                    <ng-option *ngFor="let fabrica of tiene_fabrica" [value]="fabrica"> {{ fabrica == "S" ? 'SI': 'NO'
                        }}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend>
        </div>
        <div class="col-4">
            <app-cc-input-group-prepend label="Tipo de Negocio" styleSpan="size-span-campo font-weight-bold">
                <ng-select class="form-control" [selectOnTab]="true" [(ngModel)]="local.tipo_negocio" [clearable]="false">
                    <ng-option [value]="0" disabled>Escoja un Tipo de Negocio</ng-option>
                    <ng-option *ngFor="let tipo of tipos_negocio" [value]="tipo.codigo">{{ tipo.nombre }}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-cc-input-group-prepend label="Direcci&oacute;n" styleSpan="size-span-campo font-weight-bold">
                <input type="text" class="form-control" [(ngModel)]="local.direccion">
            </app-cc-input-group-prepend>
        </div>
    </div>
    <!-- <div class="row">
            <div class="col-4">
                <app-cc-input-group-prepend label="Provincia" styleSpan="size-span-campo font-weight-bold">
                    <ng-select class="form-control" [clearable]="false" [(ngModel)]="local.fk_provincia" (change)="filtrarCantones($event)">
                        <ng-option [value]="0" disabled>Seleccione una Provincia</ng-option>
                        <ng-option *ngFor="let p of provincias" [value]="p">{{ p.nombre }}</ng-option>
                    </ng-select>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-4">
                <app-cc-input-group-prepend label="Cant&oacute;n" styleSpan="size-span-campo font-weight-bold">
                    <ng-select class="form-control" [clearable]="false" [(ngModel)]="local.fk_canton">
                        <ng-option [value]="0" disabled>Seleccione un Cant&oacute;n</ng-option>
                        <ng-option *ngFor="let c of cantones_filter" [value]="c">{{ c.nombre }}</ng-option>
                    </ng-select>
                </app-cc-input-group-prepend>
            </div>
            
        </div> -->
    <div class="row my-2">
        <div class="col-4">
            <app-cc-input-group-prepend label="Estado" styleSpan="size-span-campo font-weight-bold">
                <ng-select class="form-control" [selectOnTab]="true" [(ngModel)]="local.estado" [clearable]="false">
                    <ng-option [value]="0" disabled>Escoja un Estado</ng-option>
                    <ng-option *ngFor="let estado of estados" [value]="estado.codigo">{{ estado.codigo }} - {{
                        estado.nombre }}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend>
        </div>
        <div class="col-4 offset-4">
            <app-cc-input-group-prepend label="Tipo de Local" styleSpan="size-span-campo font-weight-bold">
                <ng-select class="form-control" [selectOnTab]="true" [(ngModel)]="local.tipo_local" [clearable]="false"
                    (change)="cambioTipoLocal($event)">
                    <ng-option disabled>Seleccione un Tipo de Local</ng-option>
                    <ng-option *ngFor="let tipo of cmb_tipo_local" [value]="tipo.id">{{ tipo.value }}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend>
        </div>
    </div>
    <div class="row my-2" *ngIf="local.tipo_local == 0 || local.tipo_local == 2">
        <div class="col">
            <fieldset class="border pb-2 px-2">
                <legend class="w-auto ml-1">Ubicaci&oacute;n</legend>
                <div class="row">
                    <div class="col">
                        <app-cc-input-group-prepend label="Zona" styleSpan="size-span-campo font-weight-bold">
                            <ng-select class="form-control" [selectOnTab]="true" [(ngModel)]="local.fk_zona" [clearable]="false"
                                (change)="filterSector($event)">
                                <ng-option [value]="0" disabled>Zona</ng-option>
                                <ng-option *ngFor="let zona of zonas" [value]="zona">{{ zona.codigo }}. {{ zona.nombre
                                    }}</ng-option>
                            </ng-select>
                        </app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <app-cc-input-group-prepend label="Sector" styleSpan="size-span-campo font-weight-bold">
                            <ng-select class="form-control" [selectOnTab]="true" [(ngModel)]="local.fk_sector" [clearable]="false">
                                <ng-option [value]="0" disabled>Sector</ng-option>
                                <ng-option *ngFor="let sector of sectores_filter" [value]="sector">{{ sector.codigo }}.
                                    {{ sector.nombre }}</ng-option>
                            </ng-select>
                        </app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <app-cc-input-group-prepend label="Manzana" styleSpan="size-span-campo font-weight-bold">
                            <input type="text" class="form-control" [(ngModel)]="local.manzana"
                                (keypress)="validaciones.numberOnly($event)">
                        </app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <app-cc-input-group-prepend label="Solar" styleSpan="size-span-campo font-weight-bold">
                            <input type="text" class="form-control" [(ngModel)]="local.solar"
                                (keypress)="validaciones.numberOnly($event)">
                        </app-cc-input-group-prepend>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div class="row my-2" *ngIf="local.tipo_local == 1">
        <div class="col">
            <fieldset class="border p-2">
                <legend class="w-auto">Local Municipal</legend>
                <div class="row my-2">
                    <div class="col">
                        <app-cc-input-group-prepend label="Contrato" styleSpan="size-span-campo font-weight-bold">
                            <input type="text" class="form-control" readonly [(ngModel)]="local.contrato.numero">
                            <div class="input-group-append">
                                <button ngbTooltip="Seleccionar Contrato" class="btn btn-primary" (click)="buscarContrato()">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text font-weight-bold" style="width: 120px;">Fecha
                                    Vencimiento</span>
                            </div>
                            <input type="date" class="form-control" readonly [(ngModel)]="local.fecha_vencimiento">
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-3">
                        <app-cc-input-group-prepend label="Mercado" styleSpan="size-span-campo font-weight-bold">
                            <ng-select class="form-control" [(ngModel)]="local.fk_sector" [clearable]="false" disabled>
                                <ng-option *ngFor="let mercado of mercados" [value]="mercado.id">{{ mercado.nombre
                                    }}</ng-option>
                            </ng-select>
                        </app-cc-input-group-prepend>
                    </div>
                    <div class="col-3">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text font-weight-bold" style="width: 120px;">Puesto</span>
                            </div>
                            <input type="text" class="form-control" readonly [value]="local.fk_puesto.numero">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row my-2" *ngIf="local.tipo_local == 3">
        <div class="col">
            <fieldset class="border px-3 pb-2">
                <legend class="w-auto mb-1">Feria/Eventual</legend>
                <div class="row">
                    <div class="col">
                        <app-cc-input-group-prepend label="Nombre" styleSpan="size-span-campo font-weight-bold">
                            <input type="text" class="form-control" readonly [value]="local.feria?.nombre">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" (click)="expandFerias()" [disabled]="local.fk_contribuyente.razon_social == ''">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <app-cc-input-group-prepend label="Fecha Inicio" styleSpan="size-span-campo font-weight-bold">
                            <input type="date" class="form-control" readonly [value]="local.feria?.fecha_inicio">
                        </app-cc-input-group-prepend>
                    </div>
                    <div class="col">
                        <app-cc-input-group-prepend label="Fecha Finalizacion" styleSpan="size-span-campo font-weight-bold">
                            <input type="date" class="form-control" readonly [value]="local.feria?.fecha_finalizacion">
                        </app-cc-input-group-prepend>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</app-button-radio-active>
<cc-spiner-procesar [ltexto]="mensajeSpinner"></cc-spiner-procesar>