



<app-button-radio-active-new  [titulo]="isNew ? 'Registro de Proyecto' : 'Edición de Proyecto'"  
cstyle="bg-gradient-primary text-white"
filtroBoton="btnMovForm" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)"
[icono]="isNew ? 'far fa-plus-square' : 'far fa-edit'">


<div class="row m-0">
    <div class="col-12">
        <fieldset class="border card-fieldset">
            <legend class="w-auto card-legend">Información de Proyecto</legend>
            <div class="row m-0">

                <div class="col-12 col-md-4 pt-0 pb-0">
                    <app-cc-input-group-prepend label="Periodo" styleSpan="size-span-campo font-weight-bold">
                        <ng-select class="form-control" appendTo="body" [clearable]="true" [(ngModel)]="proyecto.anio"
                            [items]="cmb_periodo" bindValue="periodo" bindLabel="periodo"
                           
                            >
                        </ng-select>
                    </app-cc-input-group-prepend>


                </div>
                <div class="col-12 col-md-4 pt-0 pb-0">
                
                    <app-cc-input-group-prepend label="Programa" styleSpan="size-span-campo font-weight-bold">
                        <ng-select 
                    
                       
                            class="form-control" 
                       
                            bindLabel="name"
                            placeholder="-Todos-"
                            appendTo="body"
                            [clearable]="true"
                            [searchable]="true"
                            [disabled]=disabled
                            [(ngModel)]="proyecto.fk_programa">
                            
                            <ng-option [value]="item.id_catalogo" [disabled]="item.disabled" *ngFor="let item of programas">
                                {{item.descripcion}}. {{item.valor}}
                            </ng-option>
                        </ng-select>
                    </app-cc-input-group-prepend> 
                </div>
                
                <div class="col-12 col-md-4 pt-0 pb-0">
                
                    <app-cc-input-group-prepend label="Estado" styleSpan="size-span-campo font-weight-bold">
                        <ng-select 
                           class="form-control" 
    
                            bindLabel="estado"
                            placeholder="-Todos-"
                            appendTo="body"
                            [clearable]="true"
                            [searchable]="true"
                            [disabled]=disabled
                            [(ngModel)]="proyecto.estado">
                            
                            <ng-option [value]="item.estado" [disabled]="item.disabled" *ngFor="let item of lista_estados">
                                {{item.descripcion}}
                            </ng-option>
                        </ng-select>
                    </app-cc-input-group-prepend> 
                </div>







             
            </div>
            <div class="row m-0">
          
                <div class="col-12 col-md-4 pt-0 pb-0">
                 
                        <app-cc-input-group-prepend label="Código de Proyecto"
                        styleSpan="input-group-text size-span-campo">
                        <input type="text" class="form-control form-control-sm"
                            [maxlength]="3"
                            [(ngModel)]="proyecto.secuencia"
                            [disabled]="true">
                    </app-cc-input-group-prepend>
             
                </div>

                
            </div>
            <div class="row m-0">

          

                <div class="col-12 col-md-8 pt-0 pb-0">
                    <app-cc-input-group-prepend label="Descripción"
                        styleSpan="size-span-campo">
                        <textarea class="form-control form-control-sm" type="text"
                            [(ngModel)]="proyecto.descripcion" 
                            placeholder="Ingrese una descripción" rows="3"
                             maxlength="255"></textarea>
                    </app-cc-input-group-prepend>
                  </div>

            </div>

        </fieldset>
    </div>
</div>


</app-button-radio-active-new>

<cc-spiner-procesar [ltexto]="mensajeSppiner" lfulScren=true lTipo="movimiento-form"></cc-spiner-procesar>
