@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600");
@font-face {
    font-family: "Poppins1";
    src: url('../../../../../assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "PoppinsTourney";
    src: url("../../../../../assets/fonts/Tourney-VariableFont_wdth,wght.ttf") format("truetype");
}

label,
input,
select,

/* span, */

button {
    font-family: "Poppins1" !important;
    box-shadow: unset !important;
    outline: unset !important;
}

.container-filter {
    label,
    input,
    select,
    span,
    button {
        font-family: "Poppins1" !important;
        box-shadow: unset !important;
        outline: unset !important;
    }
}

.btn-add {
    text-align: right;
    margin-bottom: 10px;
    button {
        box-shadow: unset !important;
        outline: unset !important;
    }
}

input,
label {
    font-size: 11px !important;
}

span {
    font-weight: bold;
}


/* 
.button_margin {
    margin-left: 0.25rem !important;
    border-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
 */

.filters {
    background-color: white;
    table {
        thead {
            tr {
                th {
                    padding: 6px 0px 8px 2px;
                    box-shadow: 0 0 0 5px white !important;
                    background-color: #404a63;
                    color: white;
                    text-transform: uppercase;
                    font-weight: unset;
                    border: none !important;
                    font-size: 9px;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 5px 10px 5px 10px;
                    box-shadow: 0 0 0 5px white !important;
                    background-color: #aeabab38;
                    color: rgba(0, 0, 0, 0.644);
                    font-weight: unset;
                    border: none !important;
                    font-size: 9px;
                }
            }
        }
    }
}

//Modal
@media (min-width: 50px) {
    #modalSeachProduct .modal-dialog {
        max-width: 70%;
    }
}

.modal {
    .modal-header {
        padding: unset !important;
        background-color: #FAFAFA;
        color: rgba(0, 0, 0, 0.568);
        height: 50px;
        border-bottom: 1px solid rgba(107, 107, 107, 0.3) !important;
    }
    .title-head {
        i {
            padding-right: 35px;
            font-size: 25px;
        }
        text-align: center;
        padding-top: 18px;
        padding-left: 25px;
        font-weight: bold;
        font-size: 20px;
        font-family: "Poppins1";
    }
    .modal-body {
        table {
            thead {
                tr {
                    th {
                        padding: 6px 0px 8px 2px;
                        box-shadow: 0 0 0 5px white !important;
                        background-color: #404a63;
                        color: white;
                        text-transform: uppercase;
                        font-weight: bold;
                        border: none !important;
                        font-size: 10px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 5px 10px 5px 10px;
                        box-shadow: 0 0 0 5px white !important;
                        background-color: #aeabab38;
                        color: rgba(0, 0, 0, 0.644);
                        font-weight: bold;
                        border: none !important;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.l {
    text-align: right;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #404a63 !important;
}

#idTablesearchProduct td:hover {
    background-color: #404a63;
    color: white;
    font-weight: bold;
    font-size: 10px;
}