.freeze-table {
    border-spacing: 0;
}

thead th {
    top: 0;
    position: sticky;
    // background-color: #666;
    // color: #fff; 
}

.col-num {
    left: 0px;
    position: sticky;
}

.col-doc {
    left: 37.5px;
    position: sticky;
}

.col-contr {
    left: 187.5px;
    position: sticky;
}

.col-rec {
    left: 337.5px;
    position: sticky;
}

.fixed-header {
    z-index: 99999 !important;
}
// d0d5d9
th, td {
    // padding: 0;
    outline: 1px solid #d0d5d9;
    outline-offset: -1px;
    background-color: #f3f5f6;
}