<div class="modal-body">
    <app-button-radio-active titulo="Compras Proveeduria" filtroBoton="btnShowIvs"
        cstyle="bg-gradient-primary text-white" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)"
        icono="fa fa-search">
        <div class="table-responsive responsive-table filters">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table no-footer table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: left;padding-left: 10px;">Usuario</th>
                        <th style="text-align: left;padding-left: 10px;">No. Documento</th>
                        <th style="text-align: left;padding-left: 10px;">tipo pago</th>
                        <th style="text-align: left;padding-left: 10px;">Forma pago</th>
                        <th style="text-align: left;padding-left: 10px;">subtotal</th>
                        <th style="text-align: left;padding-left: 10px;">Iva</th>
                        <th style="text-align: left;padding-left: 10px;">Total</th>
                        <th style="text-align: left;padding-left: 10px;">Fecha compra</th>
                    </tr>
                </thead>
                <tbody *ngIf="validaDt">
                    <tr *ngFor="let dt of dataDT" (click)="setActivo(dt)" style="cursor:pointer;">
                        <td>{{ dt.usuario.nombre }}</td>
                        <td>{{ dt.num_doc }}</td>
                        <td>{{ dt.tipo_pago }}</td>
                        <td>{{ dt.forma_pago }}</td>
                        <td style="text-align: right;padding-right: 10px;">$ {{ dt.subtotal.toFixed(2) }}</td>
                        <td style="text-align: right;padding-right: 10px;">$ {{ dt.valor_iva.toFixed(2) }}</td>
                        <td style="text-align: right;padding-right: 10px;">$ {{ dt.total.toFixed(2) }}</td>
                        <td>{{ dt.fecha_compra }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </app-button-radio-active>
</div>
<!-- <cc-spiner-procesar [ltexto]="mensajeSppiner" lfulScren=true lTipo="spShowIvs"></cc-spiner-procesar> -->