<app-button-radio-active titulo="Edicion - Catalogos bienes" cstyle="bg-light text-dark" icono="fas fa-tasks" filtroBoton="btnsComprasP" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)">
    
    <app-cc-input-group-prepend label="Codigo bienes" styleSpan="size-span-campo font-weight-bold">
        <input class="form-control" [(ngModel)]="catalogo.codigo" type="text"/>
    </app-cc-input-group-prepend>

    <app-cc-input-group-prepend label="Descripcion" styleSpan="size-span-campo font-weight-bold">
        <input class="form-control" [(ngModel)]="catalogo.descripcion" type="text"/>
    </app-cc-input-group-prepend>
    
</app-button-radio-active>
<cc-spiner-procesar [ltexto]="mensajeSpinner" lfulScren=true lTipo="ticket-form"></cc-spiner-procesar>