
<div class="my-2">
    <app-button-radio-active [titulo]="fTitle" cstyle="bg-light text-dark" icono="fas fa-list" filtroBoton="btnsModalPuestos" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)" >

        <div class="row my-2">
            <div class="col-12">

                <div class="col-12">
                    <div class="input-group input-group-xl mb-2">

                        <div class="input-group-prepend ml-2">
                            <span class="input-group-text" id="inputGroup-sizing-xl">No. de local</span>
                        </div>
                        <input id="filter_num_local" type="text" class="form-control form-control-xl" [(ngModel)]="filter.num_local">

                        <div class="input-group-prepend ml-2">
                            <span class="input-group-text" id="inputGroup-sizing-xl">Mercado</span>
                        </div>
                        <input id="filter_mercado" type="text" class="form-control form-control-xl" [(ngModel)]="filter.mercado">


                        <div class="input-group-prepend ml-2">
                            <span class="input-group-text" id="inputGroup-sizing-xl">Descripcion</span>
                        </div>
                        <input id="filter_descripcion" type="text" class="form-control form-control-xl" [(ngModel)]="filter.descripcion">


                        <button class="btn btn-primary btn-xl ml-4" placement="bottom" ngbTooltip="Aplicar todos los filtros" (click)="cargaPuestos()">
                            <i class="fas fa-search"></i> Consultar
                        </button>
                        <button class="btn btn-danger btn-xl ml-2" placement="bottom" ngbTooltip="Limpiar filtros" (click)="limpiarFiltros()">
                            <i class="fas fa-eraser"></i>
                        </button>

                    </div>
                </div>

                <table class="table table-bordered no-footer table-hover mb-0"> <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <!-- <th style="width: 5%;">Codigo</th> -->                        
                            <th style="width: 10%;">Número de Local</th>
                            <th style="width: 20%;">Mercado</th>
                            <th style="width: 25%;">Descripción</th>
                            <th style="width: 25%;">Ubicación</th>
                            <th style="width: 10%;">Estado</th>
                            <th style="width: 10%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let p of puestos, let i = index">
                            <tr>
                                <td>{{ p.numero_puesto }}</td>
                                <td>{{ p.mercado.valor }}</td>
                                <td>{{ p.descripcion }}</td>
                                <td>{{ p.ubicacion }}</td>
                                <td *ngIf="p.estado == 'D'">Disponible</td>
                                <td *ngIf="p.estado == 'A'">Alquilado</td>
                                <td *ngIf="p.estado == 'I'">Inactivo</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click)="editPuesto(p)"><i class="fas fa-hand-pointer"></i></button>
                                    <button class="btn btn-sm btn-danger" (click)="deletePuesto(p.id_mercado_puesto, i)"><i class="far fa-trash"></i></button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

                <mat-paginator
                        showFirstLastButtons
                        [length]="paginate.length"
                        [pageSize]="paginate.perPage"
                        [pageSizeOptions]="paginate.pageSizeOptions"
                        (page)="changePaginate($event)"
                        aria-label="Select page">
                </mat-paginator>

            </div>
        </div>

    </app-button-radio-active>
</div>

<cc-spiner-procesar [ltexto]="msgSpinner" lfulScren=true lTipo="renModalPuestos"></cc-spiner-procesar>
