<!-- <app-button-radio-active [titulo]="fTitle" cstyle="bg-gradient-primary text-white" icono="fas fa-box-open" [groupButton]="vmButtons" filtroBoton="btnsActivosModal" (onMetodoGlobal)="metodoGlobal($event)">
    <div class="row my-2">
        <div class="col-3 ml-1">
            
            <div class="input-group input-group-sm">
                <button class="btn btn-sm btn-success" (click)="agregaActivos()"><i class="fas fa-plus"></i></button>
                <div class="input-group-prepend ml-2"><span class="input-group-text font-weight-bold" style="width:120px;">Periodo</span></div>
                <input type="number" class="form-control" placeholder="Periodo" [(ngModel)]="periodo">
            </div>
        </div>
        

    </div>
</app-button-radio-active> -->

<app-button-radio-active [titulo]="fTitle" cstyle="bg-gradient-primary text-white" icono="fas fa-box-open"
  [groupButton]="vmButtons" filtroBoton="btnsActivosModal" (onMetodoGlobal)="metodoGlobal($event)">
  <div class="row my-2">

    <div class="col-4">
      <div class="input-group input-group-sm">
        <button class="btn btn-sm btn-success" (click)="agregaActivos()"><i class="fas fa-plus"></i></button>
        <div class="input-group-prepend ml-2"><span class="input-group-text font-weight-bold"
            style="width:120px;">Provincia</span></div>
        <!-- <input type="number" class="form-control" placeholder="Periodo" [(ngModel)]="periodo"> -->


        <ng-select class="form-control custom" appendTo="body" [searchable]="true" [(ngModel)]="localidades.provincia"
          (ngModelChange)="searchCities($event)">
          <ng-option [value]=0 disabled>Seleccione la provincia</ng-option>
          <ng-option *ngFor="let prov of catalog.provincia" [value]="prov.valor">{{prov.valor}}</ng-option>
        </ng-select>



      </div>

    </div>

    <div class="col-4">
      <div class="input-group input-group-sm">

        <div class="input-group-prepend ml-2"><span class="input-group-text font-weight-bold"
            style="width:120px;">Ciudad</span></div>
        <!-- <input type="number" class="form-control" placeholder="Periodo" [(ngModel)]="periodo"> -->



        <ng-select class="form-control custom" appendTo="body" [searchable]="true" [(ngModel)]="localidades.ciudad">
          <ng-option [value]=0 disabled>Seleccione la ciudad</ng-option>
          <ng-option *ngFor="let ciud of catalog.ciudad" [value]="ciud.valor">{{ciud.valor}}</ng-option>
        </ng-select>
      </div>
    </div>


    <div class="col-2">
      <p class="font-weight-bold" style="font-size: 13px">Total de ingresos $ {{ingresos | number:'1.2-2'}}</p>
    </div>

    <div class="col-2">
      <p class="font-weight-bold" style="font-size: 13px">Total de patrimonio $ {{patrimonio | number:'1.2-2'}}</p>
    </div>



    <!-- <div class = "col-8 text-right mr-2">
            <button class="btn btn-sm btn-success" (click)="guardarActivos()"><i class="fas fa-save"></i> Guardar</button>
            <button class="btn btn-sm btn-success" (click)="guardarActivos()"><i class="fas fa-chevron-left"></i> Regresar</button>
        </div> -->


  </div>



  <div class="container-fluid">
    <div class="row my-2">
      <div class="col-12" style="max-height: 250px;overflow-y: scroll;">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark text-center">
              <tr>
                <th style="width: 5%;">id</th>
                <th style="width: 10%;">Provincia</th>
                <th style="width: 10%;">Ciudad</th>
                <th style="width: 10%;">Ingresos</th>
                <th style="width: 10%;">Porcentaje Ingresos</th>
                <th style="width: 10%;">Patrimonios</th>
                <th style="width: 10%;">Porcentaje Patrimonio</th>
                <th style="width: 10%;">Acciones</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngIf="listaActivos.length<=0" class="text-center">
                <td colspan="9" class="text-center">
                  <h6>No hay datos.</h6>
                </td>
              </tr>
              <tr *ngFor="let item of listaActivos, let i = index">
                <td class="text-center">{{i}}</td>
                <td class="text-center">{{item.provinica}}</td>
                <td class="text-center">{{item.ciudad}}</td>
                <td >
                  <input currencyMask class="form-control form-control-sm"
                    [(ngModel)]="item.ingresos" (blur)="CalculoIngreso()">
                  </td>
                
                <td class="text-right">{{item.porcentajeIngresos | number:'1.2-2' }}%</td>
                <td>
                  <input currencyMask class="form-control form-control-sm"
                  [(ngModel)]="item.patrimonio" (blur)="CalculoPatrimonio()"></td>


                <td class="text-right">{{item.porcentajePatrimonio | number:'1.2-2'}}%</td>
                
                <td>
                  <div class="text-center mx-auto">
                    <button class="btn btn-danger btn-sm mx-1" (click)="eliminar(item, i)" matTooltip="Eliminar registro">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3" class="text-right font-weight-bold">Total</td>
                <td class="text-right font-weight-bold">$ {{ sumaTotalIngresos | number:'1.2-2'}}</td>
                <td class="text-right font-weight-bold"> {{ sumaTotalPorcentajeIngre | number:'1.2-2'}}%</td>
                <td class="text-right font-weight-bold">$ {{ sumaTotalPatrimonio | number:'1.2-2'}}</td>
                <td class="text-right font-weight-bold"> {{ sumaTotalPorcentajePatrim | number:'1.2-2'}}%</td>
                <td ></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



</app-button-radio-active>



<cc-spiner-procesar [ltexto]="mensajeSpinner" lfulScren=true lTipo="renActivosModal"></cc-spiner-procesar>
