<div class="mt-4 mb-5">
    <app-button-radio-active titulo="PLAN DE CUENTAS" filtroBoton="btnsPlanCuentas"
        cstyle="bg-gradient-primary text-white" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)"
        icono="fas fa-file-alt">
        <div *ngIf="permiso_ver =='1' ; else PermisoVerDenegado">
            <div class="row">
                <div class="col-12">
                    <fieldset class="border pl-2 pr-2 pb-2 mb-1 mt-2">
                        <legend class="w-auto h6">Cuenta Mayor&nbsp;&nbsp;
                        </legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mt-0">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Código
                                            cuenta Mayor:</span>
                                    </div>
                                    <input [(ngModel)]="numAccountMayor" type="text"
                                        class="form-control form-control-sm" placeholder="Código cuenta mayor">
                                    <div class="input-group-append">
                                        <button (click)="onClicConsultaPlanCuentas(content)"
                                            class="btn btn-default btn-ligth-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mt-0">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Nombre
                                            Cuenta:</span>
                                    </div>
                                    <input type="text" #nameAccountM="ngModel" name="nameAccountM"
                                        [(ngModel)]="nameAccountMayor" class="form-control form-control-sm"
                                        disabled="true" placeholder="Nombre cuenta mayor">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Saldo</span>
                                    </div>
                                    <input type="text" [(ngModel)]="saldoAccountMayor"
                                        class="form-control form-control-sm text-right" disabled="true"
                                        [ngClass]="{'saldoOne':validaSaldo, 'saldoTwo':!validaSaldo}">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Denominación</span>
                                    </div>
                                    <input type="text" #saldolAccountM="ngModel" placeholder="Denominación moneda"
                                        name="saldolAccountM" [(ngModel)]="valueDivisa"
                                        class="form-control form-control-sm" disabled="true"
                                        [ngClass]="{'saldoOne':validaSaldo, 'saldoTwo':!validaSaldo}">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Nivel</span>
                                    </div>
                                    <input type="text" #nivelAccountM="ngModel" name="nivelAccountM"
                                        [(ngModel)]="nivelAccountMayor" class="form-control form-control-sm inp"
                                        disabled="true" placeholder="Nivel de la cuenta">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Tipo</span>
                                    </div>
                                    <input type="text" #tipeAccountM="ngModel" name="tipeAccountM"
                                        [(ngModel)]="tipeAccountMayor" class="form-control form-control-sm"
                                        disabled="true" placeholder="Tipo de cuenta">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Clase</span>
                                    </div>
                                    <input type="text" #tipeAccountM="ngModel" name="tipeAccountM"
                                        [(ngModel)]="claseAccountMayor" placeholder="Clase de la cuenta"
                                        class="form-control form-control-sm" disabled="true">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Estado</span>
                                    </div>
                                    <input type="text" #estlAccountM="ngModel" name="estlAccountM"
                                        [(ngModel)]="estadoAccountMayor" class="form-control form-control-sm inp"
                                        disabled="true" placeholder="Estado de la cuenta">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Codigo
                                            presupuesto</span>
                                    </div>
                                    <input type="text" 
                                        [(ngModel)]="numCatalogoPresupuestoCon" class="form-control form-control-sm"
                                        disabled="true" placeholder="codigo presupuesto">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">
                                            Nombre presupuesto</span>
                                    </div>
                                    <input type="text" 
                                        [(ngModel)]="nameCatalogoPresupuestoCon" class="form-control form-control-sm"
                                        disabled="true" placeholder="nombre codigo presupuesto">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">
                                            Cuenta Gubernamental</span>
                                    </div>
                                    <input type="text" 
                                        [(ngModel)]="iSgubenamentalCon" class="form-control form-control-sm"
                                        disabled="true" placeholder="cuenta gubernamental">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Cuenta
                                            cierre</span>
                                    </div>
                                    <input type="text"
                                        [(ngModel)]="numaccountCierreCon" class="form-control form-control-sm"
                                        disabled="true" placeholder="codigo cuenta de cierre">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">
                                            Nombre cuenta cierre</span>
                                    </div>
                                    <input type="text"  
                                        [(ngModel)]="nameAccountCierreCon" class="form-control form-control-sm"
                                        disabled="true" placeholder="Nombre cuenta de cierre">
                                </div>
                            </div>
                        </div>



                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <fieldset class="border pl-2 pr-2 pb-2 mb-1 mt-2">
                        <legend class="w-auto h6">Datos de la cuenta (nueva/editada)</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mt-0">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Cuenta:</span>
                                    </div>
                                    <input type="text" #cueAccount="ngModel" name="cueAccount"
                                        [(ngModel)]="cuentaAccount" class="form-control form-control-sm"
                                        disabled="true" placeholder="Nuevo código de cuenta">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mt-0">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Nombre:</span>
                                    </div>
                                    <input type="text" #namAccount="ngModel" name="namAccount" [(ngModel)]="nameAccount"
                                        class="form-control form-control-sm" disabled="!newAcc" id="IdnameAccount"
                                        placeholder="Nuevo nombre de cuenta">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Código
                                            presupuesto debe:</span>
                                    </div>
                                    <input [(ngModel)]="numCatalogoCodigo" type="text"
                                        class="form-control form-control-sm" placeholder="Código presupuestario">
                                    <div class="input-group-append">
                                        <button (click)="onClicConsultaCatalogoPresupuesto(content)"
                                            class="btn btn-default btn-ligth-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Nombre
                                            presupuesto debe:</span>
                                    </div>
                                    <input type="text" 
                                        [(ngModel)]="nameCatalogoPresupuesto" class="form-control form-control-sm"
                                        disabled="true" placeholder="Nombre codigo presupuestario">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Código
                                            presupuesto haber:</span>
                                    </div>
                                    <input [(ngModel)]="numCatalogoCodigoHaber" type="text"
                                        class="form-control form-control-sm" placeholder="Código presupuestario haber">
                                    <div class="input-group-append">
                                        <button (click)="onClicConsultaCatalogoPresupuestoHaber(content)"
                                            class="btn btn-default btn-ligth-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Nombre
                                            presupuesto haber:</span>
                                    </div>
                                    <input type="text" 
                                        [(ngModel)]="nameCatalogoPresupuestoHaber" class="form-control form-control-sm"
                                        disabled="true" placeholder="Nombre codigo presupuestario haber">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <app-cc-input-group-prepend label="Cuenta de Cierre" styleSpan="size-span-campo font-weight-bold">
                                    <input [(ngModel)]="numAccountCierre" type="text"
                                        class="form-control form-control-sm" placeholder="Código cuenta de cierre">
                                    <div class="input-group-append">
                                        <button (click)="onClicConsultaPlanCuentasCierre(content)"
                                            class="btn btn-default btn-ligth-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </app-cc-input-group-prepend>
                            </div>
                            <div class="col-sm-6">
                                <app-cc-input-group-prepend label="Nombre Cuenta de Cierre" styleSpan="size-span-campo font-weight-bold">
                                    <input type="text" [(ngModel)]="nameAccountCierre" class="form-control form-control-sm" disabled placeholder="Nombre cuenta cierre">
                                </app-cc-input-group-prepend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Nivel:</span>
                                    </div>
                                    <input type="text" #levelAccount="ngModel" name="levelAccount"
                                        placeholder="Nuevo nivel de cuenta" [(ngModel)]="nivelAccount"
                                        class="form-control form-control-sm" disabled="true">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Clase</span>
                                    </div>
                                    <ng-select class="form-control form-control-sm custom-select" #clase="ngModel"
                                        name="clase" [(ngModel)]="claseCuenta" [clearable]="false"
                                        style="height: 28px; padding-top: 0px;padding-bottom: 0px;outline: unset;box-shadow: unset;">
                                        <ng-option value="ACREEDORA">Acreedora</ng-option>
                                        <ng-option value="DEUDORA">Deudora</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <app-cc-input-group-prepend label="Tipo Cta. Ins." styleSpan="size-span-campo font-weight-bold">
                                    <ng-select class="form-control" [(ngModel)]="grupoCuenta" [clearable]="false">
                                        <ng-option value="GRUPO">Grupo</ng-option>
                                        <ng-option value="DETALLE">Detalle</ng-option>
                                    </ng-select>
                                </app-cc-input-group-prepend>
                                <!-- <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo"
                                            id="inputGroup-sizing-sm">Tipo de Cuenta</span>
                                    </div>
                                    <ng-select class="form-control form-control-sm custom-select" #grup="ngModel"
                                        name="grup" [(ngModel)]="grupoCuenta" [clearable]="false"
                                        style="height: 28px; padding-top: 0px;padding-bottom: 0px;outline: unset;box-shadow: unset;">

                                        <ng-option value="0" disabled>Seleccione Grupo</ng-option>
                                        <ng-option value="GRUPO">Grupo</ng-option>
                                        <ng-option value="DETALLE">Detalle</ng-option>
                                    </ng-select>
                                </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo font-weight-bolder"
                                            id="inputGroup-sizing-sm">Gubernamental</span>
                                    </div>
            
                                    <ng-select class="form-control form-control-sm custom-select "
                                        [clearable]=false
                                        [items]="gubernamental"
                                        bindLabel="descripcion" 
                                        bindValue="value" 
                                        [(ngModel)]="Isgubernamental">
                                    </ng-select>

            
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <app-cc-input-group-prepend label="Auxiliar" styleSpan="size-span-campo">
                                    <ng-select class="form-control"(change)="handleSelectAuxiliar($event)" [clearable]="false"
                                        [items]="cmb_catalogo_auxiliares" bindValue="valor" bindLabel="label" [(ngModel)]="cod_ref_auxiliar"></ng-select>
                                </app-cc-input-group-prepend>
                            </div>
                            <div class="col-sm-4">
                                <app-cc-input-group-prepend label="Tipo Cta. Gub." styleSpan="size-span-campo font-weight-bold">
                                    <ng-select class="form-control" [clearable]="false" [(ngModel)]="grupoGubCuenta">
                                        <ng-option value="GRUPO">Grupo</ng-option>
                                        <ng-option value="DETALLE">Detalle</ng-option>
                                    </ng-select>
                                </app-cc-input-group-prepend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <app-cc-input-group-prepend label="Estado" styleSpan="size-span-campo font-weight-bold">
                                    <ng-select class="form-control" [clearable]="false" [(ngModel)]="estadoAccount"
                                        [items]="cmb_estado" bindValue="value" bindLabel="label">
                                    </ng-select>
                                </app-cc-input-group-prepend>
                            </div>
                            <div class="col-sm-4">
                                <div class="mt-1">
                                    <button class="btn btn-action btn-sm" (click)="nuevaReglaPresupuestaria()" disabled="numAccountMayor == undefined">
                                        Cuentas Complementarias
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <!-- <fancy-grid-angular [config]="gridConfig"></fancy-grid-angular> -->
                    <p-treeTable [value]="grupos" 
                                 [scrollable]="true" 
                                 [tableStyle]="{'min-width':'68.5rem'}" 
                                 [loading]="gruposLoading" 
                                 styleClass="p-treetable-gridlines"
                                 class="custom-tree custom-tree-td custom-tree-gridlines"
                                 selectionMode="single" [(selection)]="selectedNode2" dataKey="codigo"
                                 (onNodeSelect)="nodeSelect($event)">
                        <ng-template pTemplate="header">
                            <tr >
                                <th style="width: 10%;">NIVEL</th>
                                <th style="width: 20%;">CUENTA</th>
                                <th style="width: 40%;">NOMBRE CUENTA</th>
                                <th style="width: 15%;">CUENTA PADRE</th>
                                <th style="width: 15%;">CLASE</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" >
                            <tr [ttRow]="rowNode">
                                <td style="width: 10%;">
                                    {{rowData.nivel}}
                                </td>
                                <td style="width: 20%;">
                                    <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
                                    {{ rowData.codigo }}
                                </td>
                                <td style="width: 40%;">{{ rowData.nombre }}</td>
                                <td style="width: 15%;">{{ rowData.codigo_padre }}</td>
                                <td style="width: 15%;">{{ rowData.clase }}</td>
                           </tr>
                       </ng-template>
                   </p-treeTable>
                </div>
            </div>
        </div>

        <ng-template #PermisoVerDenegado>
            <app-permiso-denegado></app-permiso-denegado>
        </ng-template>

    </app-button-radio-active>
</div>

<div [hidden]="true" id="print-section">
    <div class="row">
        <div class="col-md-12 ">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center mt-2">
                    <div class="sect-one pt-3 pb-3">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4">
                                <img src="{{empresLogo}}" alt="" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-center mt-2">
                    <div class="sect-two pt-3 pb-2">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-5" style="font-size: 20px;font-weight: bold">
                                <h3>Plan de Cuenta</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive responsive-table mb-3">
        <table class=" no-footer table-hover" style="margin-top: 30;width: 100%">
            <thead style="height: 30px;">
                <tr style="border-bottom: 1px solid;border-top: 1px solid;">
                    <th style="width: 15%;text-align: center;">ID</th>
                    <th style="width: 15%;text-align: center;">GRUPO</th>
                    <th style="width: 20%;text-align: center;">CODIGO</th>
                    <th style="width: 25%;text-align: center;">NOMBRE</th>
                    <th style="width: 25%;text-align: center;">CUENTA MAYOR</th>
                </tr>
            </thead>
            <tbody style="border-top: none;">
                <tr *ngFor="let dt of dataPrint" style="height: 30px;">
                    <td style="padding-left: 70px;text-align: start;">{{ dt.id }}</td>
                    <td style="padding-left: 50px;text-align: start;">{{ dt.grupo }}</td>
                    <td style="padding-left: 70px;text-align: start;">{{ dt.codigo }}</td>
                    <td style="padding-left: 90px;text-align: start;">{{ dt.nombre }}</td>
                    <td style="padding-left: 70px;text-align: start;">{{ dt.codigo_padre }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row justify-content-center" style="font-family: 'Poppins1';">
        <div class="col-12 text-left" style="position: fixed;  bottom: 0px; ">
            <span style="color: #13A1EA;">
                Fecha: {{fecha}}&nbsp;{{hora}}</span>
        </div>
        <div class="col-12 text-left" style="position: fixed;  bottom: 20px; ">
            <span style="color: #13A1EA;">
                Usuario: {{dataUser.nombre}}</span>
        </div>
    </div>
</div>

<ng-template #content let-modal class="modal-flotante">
    <div class="modal-header">
        <h5 class="modal-title">BUSQUEDA PLAN CUENTA</h5>
        <button type="button" class="btn-close butto-close-modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
    <div class="modal-body body_table_search">
        <app-cc-modal-tabla-cuenta (EventElemntRow)=CargarCuentaEditar($event)></app-cc-modal-tabla-cuenta>
    </div>
</ng-template>

<cc-spiner-procesar [ltexto]="mensajeSpinner" lfulScren=true lTipo="spPlanCuentas"></cc-spiner-procesar>