<app-button-radio-active  [titulo]="isNew ? 'Nuevo Movimiento Bancario' : 'Editar Movimiento Bancario'"filtroBoton="btnMovForm" cstyle="bg-gradient-primary text-white" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)" [icono]="isNew ? 'far fa-plus-square' : 'far fa-edit'">
    <fieldset class="border pb-2 px-2 mt-2">
        <legend class="w-auto ml-1 bg-dark">Información de Movimiento Bancario</legend>
        <div class="row">
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Período" styleSpan="size-span-campo font-weight-bold">
                    <ng-select class="form-control" (change)="ChangeYearPeriodos($event)" [clearable]="false" appendTo="body"  [(ngModel)]="movimiento.anio"
                      [items]="cmb_periodo" bindValue="periodo" bindLabel="periodo">
                    </ng-select>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Mes" styleSpan="size-span-campo ">
                    <ng-select
                        (ngModelChange)="ChangeMesCierrePeriodosMov($event)"
                        class="form-control"
                        id="elemento_pruebas"
                        bindLabel="name"
                        placeholder="-seleccione-"
                        appendTo="body"
                        [clearable]="false"
                        [searchable]="true"
                        disabled
                        [(ngModel)]="movimiento.mes">
                        <ng-option [value]="item.id" disabled="item.disabled" *ngFor="let item of arrayMes">
                            {{item.name}}
                        </ng-option>
                    </ng-select>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Fecha" styleSpan="font-weight-bold size-span-campo">
                    <input id="filter_fecha_desde" type="date" class="form-control" [(ngModel)]="movimiento.fecha" max="2050-01-01" >
                </app-cc-input-group-prepend>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Tipo Movimiento" styleSpan="size-span-campo">
                    <ng-select [clearable]=true [(ngModel)]="movimiento.tipo_movimiento"
                        class="form-control form-control-sm custom-select"
                        disabled="false">
                        <ng-option [value]="0">Seleccione un tipo movimiento</ng-option>
                        <ng-option *ngFor="let d of tipo_movimientos"
                            [value]="d.id">{{d.name}}</ng-option>
                    </ng-select>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Bancos" styleSpan="size-span-campo">
                    <ng-select [clearable]=true [(ngModel)]="bankSelect" (change)="bankSelected($event)"
                        class="form-control form-control-sm custom-select"
                         disabled="false">
                        <ng-option *ngFor="let d of arrayBanks"
                            [value]="d.id_banks">{{d.name_banks + ' ' +d.num_cuenta}}</ng-option>
                    </ng-select>
                </app-cc-input-group-prepend>
            </div>
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Numero Transacción" styleSpan="size-span-campo">
                    <input type="text" disabled="false" [(ngModel)]="movimiento.numero"
                        class="form-control text-right" placeholder="Número Transacción">
                </app-cc-input-group-prepend>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <app-cc-input-group-prepend label="Valor" styleSpan="size-span-campo">
                    <input currencyMask disabled="false" [(ngModel)]="movimiento.valor"
                        class="form-control text-right" placeholder="$ 0.00">
                </app-cc-input-group-prepend>
            </div>
            <div class="col-sm-8">
                <div class="input-group input-group-sm mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold size-span-campo" id="inputGroup-sizing-sm">Detalle</span>
                    </div>
                    <textarea id="observacion" type="text" class="form-control form-control-sm" placeholder="Detalle" [(ngModel)]="movimiento.detalle"  maxlength="300"></textarea>
                </div>
            </div>
        </div>
    </fieldset>
</app-button-radio-active>

<cc-spiner-procesar [ltexto]="mensajeSpinner" lfulScren=true lTipo="movimiento-form"></cc-spiner-procesar>
