<div class="mt-4">
    <app-button-radio-active *ngIf="processing" titulo="CONSULTA DE PEDIDOS" filtroBoton="btnsImpPedidos" cstyle="bg-gradient-primary text-white" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)" icono="fas fa-search">
        <div class="row justify-content-center">
            <div class="col-12 container-filter ">
                <div class="row  justify-content-center">
                    <div class="col-12">
                        <div class="row mt-2">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Pedido</span>
                                    </div>
                                    <ng-select class="form-control custom" appendTo="body" [searchable]="true" style="padding-left: 7px;font-size: 13px;" [(ngModel)]="pedidonum" (ngModelChange)="filterPedido($event)" [clearable]="false">
                                        <ng-option [value]="0">Seleccione Pedido</ng-option>
                                        <ng-option *ngFor="let d of arrayPedido" [value]="d.num_doc_compra">
                                            {{d.num_doc_compra}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Origen</span>
                                    </div>
                                    <ng-select class="form-control custom" appendTo="body" [searchable]="true" style="padding-left: 7px;font-size: 13px;" [(ngModel)]="origen" (ngModelChange)="filterOrigen($event)" [clearable]="false">
                                        <ng-option [value]="0">Seleccione Origen</ng-option>
                                        <ng-option *ngFor="let d of arrayOrigen" [value]="d.id"> {{d.nom_pais}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <app-cc-input-group-prepend label="Desde" styleSpan="size-span-campo font-weight-bold">
                                    <ejs-datepicker [(ngModel)]="fromDatePicker" type="text" format="yyyy-MM-dd" (ngModelChange)="rerender()" class="form-control">
                                    </ejs-datepicker>
                                </app-cc-input-group-prepend>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Proveedor</span>
                                    </div>
                                    <ng-select class="form-control custom" appendTo="body" [searchable]="true" style="padding-left: 7px;font-size: 13px;" [(ngModel)]="proveedor" (ngModelChange)="filterPedido($event)" [clearable]="false">
                                        <ng-option [value]="0">Seleccione Proveedor</ng-option>
                                        <ng-option *ngFor="let d of arrayProveedor" [value]="d.id_proveedor">
                                            {{d.razon_social}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm mt-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text size-span-campo" id="inputGroup-sizing-sm">Estado</span>
                                    </div>
                                    <select class="form-control form-control-sm custom-select" (ngModelChange)="filterEstado($event)" [(ngModel)]="estado">
                                        <option [value]="0">Seleccione Estado</option>
                                        <option *ngFor="let d of arrayEstado" [value]="d.estado">{{ d.estado }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <app-cc-input-group-prepend label="Hasta" styleSpan="size-span-campo font-weight-bold">
                                    <ejs-datepicker [(ngModel)]="toDatePicker" placeholder="Buscar Fecha" type="text" format="yyyy-MM-dd" (ngModelChange)="rerender()" class="form-control">
                                    </ejs-datepicker>
                                </app-cc-input-group-prepend>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-12 filters pl-2 pr-2">
                <div class="row justify-content-center">
                    <div class="col-12 pl-3 pr-3 ">
                        <div class="table-responsive responsive-table mt-2">
                            <table datatable id="tableImPedido" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table no-footer table-hover">
                                <thead>
                                    <tr style="width: 100%;">
                                        <th style="width: 15%;">Pedido</th>
                                        <th style="width: 9%;">Origen</th>
                                        <th style="width: 22%;">Proveedor</th>
                                        <th style="width: 7%;">LLegada</th>
                                        <th style="width: 10%;">Estado</th>
                                        <th style="width: 8%;">Valor</th>
                                        <th style="width: 8%;">Gastos</th>
                                        <th style="width: 8%;">Total</th>
                                        <th style="width: 10%;">Accion</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="validaDt">
                                    <tr *ngFor="let dt of infoData; let i = index">
                                        <td>{{ dt.codigo }}-{{ dt.num_doc_compra }}</td>
                                        <td style="text-align: center;">{{ dt.nom_pais }}</td>
                                        <td style="text-align: left;">{{ dt.razon_social }}</td>
                                        <td style="text-align: center;">{{ dt.fecha_lleg }}</td>
                                        <td style="text-align: center;">{{ dt.estado }}</td>
                                        <td style="text-align: right;">${{ formatNumber(dt.total_pedido)}}
                                        </td>
                                        <td style="text-align: right;">${{ formatNumber(dt.total_gasto)}}
                                        </td>
                                        <td style="text-align: right;">${{ formatNumber(dt.total)}}
                                        </td>
                                        <td style="text-align: center;">
                                            <button class="btn btn-warning btn-sm" placement="top" ngbTooltip="Ver Más" (click)="showInformacion(dt)"> <i class="fas fa-eye"></i> </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-button-radio-active>
</div>
<cc-spiner-procesar [ltexto]="mensajeSppiner" lfulScren=true lTipo="spCImpPedidos"></cc-spiner-procesar>