<!-- <div class="row">
    <div class="col-sm-6">
        <app-cc-input-group-prepend label="Departamentos" styleSpan="size-span-campo">
            <select [(ngModel)]="grupo" name="grupo" class="form-control form-control-sm custom-select" id="Idgrupo" (ngModelChange)="filterptDepartamento($event)">
                <option  [value]="0"> Seleccione Departamento</option>
                <option *ngFor="let d of arrayGrupo" [value]="d.id_grupo"> {{d.nombre_grupo}} </option>
            </select>
        </app-cc-input-group-prepend>
    </div>
</div> -->
<!-- <fieldset class="border p-2 mb-3 mt-4 filters">
    <legend class="w-auto h6 ">Listado de Empleado</legend>
    <div class="table-responsive responsive-table ">
        <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="table table-bordered ">
            <thead>
                <tr style="width: 100%;">
                    <th style="width: 10%;">Identificación</th>
                    <th style="width: 23%;">Apellidos</th>
                    <th style="width: 23%;">Nombres</th>
                    <th style="width: 11%;">Departamento</th>
                    <th style="width: 23%;">Cargo</th>
                    <th style="width: 10%;">Fecha Ingreso</th>
                </tr>
            </thead>
            <tbody *ngIf="validaDt" style="width: 100%;">
                <tr *ngFor="let dt of arrayData; let i = index">
                    <td>
                        {{dt.numdoc}}
                    </td>
                    <td>
                        {{dt.apellidos}}
                    </td>
                    <td>
                        {{dt.nombres}}
                    </td>
                    <td>
                        {{dt.nombre_grupo}}
                    </td>
                    <td>
                        {{dt.cargo}}
                    </td>
                    <td>
                        {{dt.fechaIngreso}}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <strong *ngIf="validaDt">
      TOTAL EMPLEADOS  <span style="background-color: #F3F0F5">{{cantidadtotal}}</span> 
    </strong>
</fieldset> -->

<fieldset class="border pb-2 px-2">
    <legend class="w-auto ml-1 bg-dark">Filtros</legend>
    <div class="row ml-1 mr-1">
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <app-cc-input-group-prepend label="Programa" styleSpan="size-span-campo font-weight-bold">
                        <input class="form-control"  type="text" maxlength="20" [(ngModel)]="filter.programa">
                        <button class="btn btn-primary btn-sm" (click)="modalPrograma()">Buscar</button>
                    </app-cc-input-group-prepend>
                  <!--   <app-cc-input-group-prepend label="Programa" styleSpan="font-weight-bold">
                        <input id="filter_nombre" type="text" class="form-control" [(ngModel)]="filter.programa" placeholder="Programa">
                    </app-cc-input-group-prepend> -->
                </div>
                <div class="col">
                    <app-cc-input-group-prepend label="Dirección" styleSpan="size-span-campo font-weight-bold">
                        <ng-select id="area" class="form-control form-control-sm" [(ngModel)]="filter.area" [clearable]="true" (change)="cargarDepartamentos($event)">
                            <ng-option disabled [value]="0" disabled>Seleccione una Dirección</ng-option>
                            <ng-option *ngFor="let d of areas" [value]="d.id_area">{{d.are_nombre }}</ng-option>
                        </ng-select>
                    </app-cc-input-group-prepend><!-- 
                    <app-cc-input-group-prepend label="Dirección" styleSpan="font-weight-bold">
                        <input id="filter_codigo" type="text" class="form-control" [(ngModel)]="filter.area" placeholder="Dirección">
                    </app-cc-input-group-prepend> -->
                </div>
               
            </div>
            <div class="row">
                <div class="col">
                    <!--  <app-cc-input-group-prepend label="Departamento" styleSpan="font-weight-bold">
                         <input id="filter_nombre" type="text" class="form-control" [(ngModel)]="filter.departamento" placeholder="Departamento">
                     </app-cc-input-group-prepend> -->
                     <app-cc-input-group-prepend label="Departamento" styleSpan="size-span-campo font-weight-bold">
                         <ng-select id="area" class="form-control form-control-sm" [(ngModel)]="filter.departamento" [clearable]="true">
                             <ng-option disabled [value]="0" disabled>Seleccione un Departamento</ng-option>
                             <ng-option *ngFor="let d of departamentos" [value]="d.id_departamento">{{d.dep_nombre }}</ng-option>
                         </ng-select>
                     </app-cc-input-group-prepend>
                 </div>
                <div class="col">
                    <app-cc-input-group-prepend label="Cargo" styleSpan="size-span-campo font-weight-bold">
                        <input id="filter_codigo" type="text" class="form-control" [(ngModel)]="filter.cargo" placeholder="Cargo">
                    </app-cc-input-group-prepend>
                </div>
               
            </div>
            <div class="row">
                <div class="col">
                    <app-cc-input-group-prepend label="Nombre" styleSpan="size-span-campo font-weight-bold">
                        <input id="filter_codigo" type="text" class="form-control" [(ngModel)]="filter.nombre" placeholder="Nombre">
                    </app-cc-input-group-prepend>
                </div>
                <div class="col">
                   
                     <app-cc-input-group-prepend label="Estado" styleSpan="size-span-campo font-weight-bold">
                         <ng-select id="area" class="form-control form-control-sm" [(ngModel)]="filter.estado" [clearable]="true">
                             <ng-option disabled [value]="0" disabled>Seleccione un Estado</ng-option>
                             <ng-option *ngFor="let d of estadosList" [value]="d.value">{{d.label }}</ng-option>
                         </ng-select>
                     </app-cc-input-group-prepend>
                 </div>
                
            </div>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary btn-sm ml-2" placement="bottom" ngbTooltip="Buscar" (click)="getEmpleados()">
                <i class="fas fa-search"></i> Consultar
            </button>
            <button class="btn btn-danger btn-sm ml-1" placement="bottom" ngbTooltip="Limpiar filtros" (click)="limpiarFiltros()">
                <i class="fas fa-eraser"></i>
            </button>
        </div>
    </div>
</fieldset>

<div class="row my-2">
    <div class="col">
        <table class="table table-bordered no-footer table-hover mb-0"> <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
            <thead class="thead-dark">
                <tr class="text-center">
                    <th style="width: 10%;">Identificación</th>
                    <th style="width: 20%;">Nombre</th>
                    <th style="width: 15%;">Cargo</th>
                    <th style="width: 20%;">Departamento</th>
                    <th style="width: 15%;">Dirección</th>
                    <th style="width: 20%;">Programa</th>
                    <th style="width: 20%;">Estado</th>
                    <!-- <th style="width: 15%;">Cuenta</th>
                    <th style="width: 15%;">Cuenta Corriente</th>
                    <th style="width: 15%;">Cuenta Producción</th> -->
                    <!-- <th style="width: 10%;">Acciones</th> -->
                </tr>
            </thead>
            <tbody *ngIf="dataDt">
                <ng-container *ngFor="let dt of dataDt, let i = index">
                    <tr>
                        <td style="max-width: 10px;" class="text-center">{{ dt.emp_identificacion }}</td>
                        <td style="max-width: 10px;" class="text-center">{{ dt.emp_full_nombre }}</td>
                        <td style="max-width: 10px;" class="text-center">{{ dt.cargo?.car_nombre }}</td>
                        <td style="max-width: 10px;" class="text-center">{{ dt.departamento?.dep_nombre }}</td>
                        <td style="max-width: 10px;" class="text-center">{{ dt.area?.are_nombre }}</td>
                        <td style="max-width: 10px;" class="text-center">{{ dt.area?.programa?.nombre }}</td>
                        <td class="text-center"><i placement="bottom" [class]="dt.estado == 'A' ? 'fas fa-circle text-success' : 'fas fa-circle text-danger'"></i>
                            {{dt.estado == 'A' ? 'Activo' : 'Inactivo'}} <!--   {{dt.estado == 'P' ? 'Pendiente' : dt.estado == 'C' ? 'Cerrado' : dt.estado == 'GA' ? 'Garantía' : 'Gestión'}} -->
                        </td>
                        <!-- <td>
                            <div class="text-center mx-auto">
                                <button class="btn btn-primary btn-sm mx-1" (click)="showForm(false, dt)" placement="left" ngbTooltip="Editar registro">
                                    <i class="far fa-edit"></i>
                                </button>
                            </div>
                        </td> -->
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <mat-paginator 
                showFirstLastButtons 
                [length]="paginate.length"
                [pageSize]="paginate.perPage"
               [pageSizeOptions]="paginate.pageSizeOptions"
               (page)="changePaginate($event)"
               aria-label="Select page">
        </mat-paginator>
    </div>
</div>

<!-- PrintSecondContent -->
<div [hidden]="true" id="print-section-listado" class="printInfo">
    <div class="row justify-content-center  prt-comprobante">
        <div class="col-11 pl-2 pr-2 ">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center mt-5">
                    <div class="sect-one pt-3 pb-3">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4">
                                <img src="{{empresLogo}}" alt="" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-center mt-5">
                    <div class="sect-two pt-3 pb-2">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4" style="font-size: 20px;font-weight: bold">
                                <h3>Recursos Humanos</h3>
                                <p>Lista de Empleados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11 mt-2 pl-2 pr-2">
            <div class="row justify-content-center mt-4">
                <div class="col-md-12 text-center">
                    <div>
                        <div class="table-responsive responsive-table">
                            <table class="table no-footer table-hover">
                                <thead style="width: 100%;">
                                    <tr style="width: 100%;text-align: center;">
                                        <th>#</th>
                                        <th>Identificación</th>
                                        <th>Apellidos</th>
                                        <th class="text-left">Nombres</th>
                                        <th>Departamento</th>
                                        <th>Cargo</th>
                                        <th>Fecha Ingreso</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="validaDt" style="width: 100%;">
                                    <tr *ngFor="let dt of arrayData; let i = index">
                                        <td style="width: 10%;">
                                            {{ i + 1 }}
                                        </td>
                                        <td class="text-left" style="width: 10%;">
                                            {{dt.numdoc}}
                                        </td>
                                        <td class="text-left" style="width: 20%;">
                                            {{dt.apellidos}}
                                        </td>
                                        <td class="text-left" style="width: 20%;">
                                            {{dt.nombres}}
                                        </td>
                                        <td style="width: 10%;">
                                            {{dt.nombre_grupo}}
                                        </td>
                                        <td style="width: 10%;">
                                            {{dt.cargo}}
                                        </td>
                                        <td style="width: 10%;">
                                            {{dt.fechaIngreso}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="font-family: 'Poppins1';">
        <div class="col-12 text-left" style="position: fixed;  bottom: 0px; ">
            <span style="color: #13A1EA;">
                Fecha: {{dateNow}}&nbsp;{{hora}}</span>
        </div>
        <div class="col-12 text-left" style="position: fixed;  bottom: 20px; ">
            <span style="color: #13A1EA;">
                Usuario: {{dataUser.nombre}}</span>
        </div>
    </div>
</div>


<cc-spiner-procesar [ltexto]="mensajeSpinner" lfulScren=true lTipo="spReptRh"></cc-spiner-procesar>