<div [class]="'horizontal-menu-item d-flex justify-content-center align-items-center ' + ((menuParentId == 0) ? 'flex-row' : 'flex-column')">
    <div *ngFor="let menu of menuItems" class="horizontal-menu-item d-flex justify-content-center align-items-center">
        <!-- <a *ngIf="menu.routerLink && !menu.hasSubMenu" mat-button style="text-decoration: none;" class="d-flex"
            [class]="'d-flex ' + ((settings.menuType=='default') ? 'justify-content-start align-items-center' : 'justify-content-center align-items-center')"
            [routerLink]="[menu.routerLink]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
            [matTooltip]="menu.title" matTooltipPosition="after"
            [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'" (click)="onClick(menu.id)"
            [id]="'menu-item-'+menu.id">
            <i class='{{ menu.icon }} menu-icon'></i>
            <span class="menu-title">{{menu.title}}</span>
        </a>
        <a *ngIf="menu.href && !menu.submenu" mat-button style="text-decoration: none;" class="d-flex"
                [class]="'d-flex ' + ((settings.menuType=='default') ? 'justify-content-start align-items-center' : 'justify-content-center align-items-center')"
                [attr.href]="menu.href || ''" [attr.target]="menu.target || ''" [matTooltip]="menu.title"
                matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
                (click)="onClick(menu.id)" [id]="'menu-item-'+menu.id">
                <i class='{{ menu.icon }} menu-icon'></i>
                <span class="menu-title"> {{menu.title}}</span>
        </a>
        <a *ngIf="menu.hasSubMenu" mat-button style="text-decoration: none;" class="d-flex"
                [class]="'d-flex ' + ((settings.menuType=='default') ? 'justify-content-start align-items-center' : 'justify-content-center align-items-center')" [matTooltip]="menu.title"
                matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
                (click)="onClick(menu.id)" [id]="'menu-item-'+menu.id">
                <i class='{{ menu.icon }} menu-icon'></i>
                <span class="menu-title">{{menu.title}}</span>
                <mat-icon class="menu-expand-icon transition-2">keyboard_arrow_down</mat-icon>
            </a> -->

        <a *ngIf="menu.routerLink && !menu.hasSubMenu" mat-button [class.parent-item]="menuParentId == 0" style="text-decoration: none; font-size: 10px;"
            [class]="'d-flex ' + ((menuParentId == 0) ? 'justify-content-center align-items-center' : 'justify-content-start align-items-center')"
            [routerLink]="[menu.routerLink]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
            [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
            [id]="'horizontal-menu-item-'+menu.id">
            <i class='{{menu.icon}}'></i>
            &nbsp;&nbsp;<span class="horizontal-menu-title">{{menu.title}}</span>
        </a>
        <a *ngIf="menu.href && !menu.subMenu" mat-button [class.parent-item]="menuParentId == 0" style="text-decoration: none; font-size: 10px;"
            [class]="'d-flex ' + ((menuParentId == 0) ? 'justify-content-center align-items-center' : 'justify-content-start align-items-center')"
            [attr.href]="menu.href || ''" [attr.target]="menu.target || ''"
            [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
            [id]="'horizontal-menu-item-'+menu.id">
            <i class='{{menu.icon}}'></i>
            &nbsp;&nbsp;<span class="horizontal-menu-title">{{menu.title}}</span>
        </a>
        <a *ngIf="menu.hasSubMenu" mat-button [class.parent-item]="menuParentId == 0" style="text-decoration: none; font-size: 10px;"
            [class]="'d-flex ' + ((menuParentId == 0) ? 'justify-content-center align-items-center' : 'justify-content-start align-items-center')"
            [matTooltip]="menu.title" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
            [id]="'horizontal-menu-item-'+menu.id">
            <i class='{{menu.icon}}'></i>
            &nbsp;&nbsp;<span class="horizontal-menu-title">{{menu.title}}</span>
        </a>
        <div *ngIf="menu.hasSubMenu" class="horizontal-sub-menu mat-elevation-z1" [id]="'horizontal-sub-menu-'+menu.id">
            <app-horizontal-menu [menuItemsHori]="menuItemsHori"  [menuParentId]="menu.id"></app-horizontal-menu>
        </div>
    </div>
</div>
