@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600");
@font-face {
    font-family: "Poppins1";
    src: url("../../../../../../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

.filter {
    font-family: "Poppins1";
    border-top: unset !important;

    table {
        thead {
            tr {
                th {
                    padding: 6px 0px 8px 10px;
                    box-shadow: 0 0 0 5px white !important;
                    background-color: #404a63;
                    color: white;
                    text-transform: uppercase;
                    font-weight: unset;
                    border: none !important;
                    font-size: 9px;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 5px 15px 5px 10px;
                    box-shadow: 0 0 0 5px white !important;
                    background-color: #aeabab38;
                    color: rgba(0, 0, 0, 0.644);
                    font-weight: bold;
                    border: none !important;
                    font-size: 9px;
                    /* text-transform: uppercase; */
                }
            }
        }
    }
}
