.responsive-table {
    table {
        thead {
            background-color: #13A8ED;
            tr {
                th {
                    text-align: left;
                }
            }
        }
        tbody {
            tr {
                //background-color: #BCDFEF;
                td {
                    text-align: center;
                    input {
                        cursor: pointer;
                    }
                    i {
                        font-size: 25px;
                        color: #00FF00; //#13A8ED;
                        cursor: pointer;
                    }
                }
            }
            tr:hover {
                background-color: #7DC9EA;
            }
        }
    }
}

.container-new-loader {
    i {
        color: #5a5151;
        font-size: 60px;
    }
}