<div class="">
    <app-button-radio-active titulo="Seleccionar Liquidación" filtroBoton="btnListLiqRP" cstyle="bg-gradient-primary test-white" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)" icono="far fa-hand-pointer">
        <fieldset class="border pb-2 px-2">
            <legend class="w-auto ml-1">Filtros</legend>
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col">
                            <app-cc-input-group-prepend label="Fecha inicio" styleSpan="size-span-campo font-weight-bold">
                                <input id="filter_fecha_inicio" type="date" class="form-control" [(ngModel)]="filter.fecha_desde">
                            </app-cc-input-group-prepend>
                        </div>
                        <div class="col">
                            <app-cc-input-group-prepend label="Fecha fin" styleSpan="size-span-campo font-weight-bold">
                                <input id="filter_fecha_fin" type="date" class="form-control" [(ngModel)]="filter.fecha_hasta">
                            </app-cc-input-group-prepend>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <app-cc-input-group-prepend label="Razon Social" styleSpan="font-weight-bold size-span-campo">
                                <input id="filter_razon_social" type="text" class="form-control form-control-sm" [(ngModel)]="filter.razon_social">
                            </app-cc-input-group-prepend>
                        </div>
                        <div class="col ">
                            <app-cc-input-group-prepend label="Num. Liquidaci&oacute;n" styleSpan="font-weight-bold size-span-campo">
                                <input id="filter_num_documento" type="text" class="form-control form-control-sm" [(ngModel)]="filter.num_documento">
                            </app-cc-input-group-prepend>
                        </div>
                    </div>
                </div>
                <div class="col text-right">
                    <button class="btn btn-info btn-sm ml-1" placement="bottom" ngbTooltip="Buscar" (click)="cargarLiquidaciones()">
                        <i class="fas fa-search"></i>
                    </button>
                    <button class="btn btn-danger btn-sm ml-1" placement="bottom" ngbTooltip="Limpiar filtros" (click)="limpiarFiltros()">
                        <i class="fas fa-eraser"></i>
                    </button>
                </div>
            </div>
        </fieldset>
        <div class="row my-2">
            <div class="col-12">
                <table class="table table-bordered no-footer table-hover mb-0"> <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" -->
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th style="width: 15%;">No. Documento</th>
                            <th style="width: 15%;">Fecha</th>
                            <th style="width: 25%;">Contribuyente</th>
                            <th style="width: 15%;">Propiedad</th>
                            <th style="width: 10%;">Valor</th>
                            <th style="width: 10%;">Estado</th>
                            <th style="width: 10%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="liquidacionesDt.length == 0">
                            <td colspan="7" class="text-center"><h6 class="my-1"></h6>No hay Liquidaciones para mostrar</td>
                        </tr>
                        <tr *ngFor="let dt of liquidacionesDt, let i = index">
                            <td class="text-center">{{ dt.documento }}</td>
                            <td class="text-center">{{ dt.fecha.split(" ")[0] }}</td>
                            <td>{{ dt.contribuyente.razon_social }}</td>
                            <td>{{ dt.codigo_catastro }}</td>
                            <td class="text-right">$ {{ dt.total }}</td>
                            <td *ngIf="dt.estado == 'E'" class="text-center">
                                <i class="fas fa-circle text-warning"></i> Emitido
                            </td>
                            <td *ngIf="dt.estado == 'A'" class="text-center">
                                <i class="fas fa-circle text-success"></i> Aprobado
                            </td>
                            <td *ngIf="dt.estado == 'X'" class="text-center">
                                <i class="fas fa-circle text-danger"></i> Anulado
                            </td>
                            <td *ngIf="dt.estado == 'C'" class="text-center">
                                <i class="fas fa-circle text-primary"></i> Cancelado
                            </td>
                            <td *ngIf="dt.estado == 'V'" class="text-center">
                                <i class="fas fa-circle text-primary"></i> Convenio
                            </td>
                            <!--<td [class]="'text-center text-' + estados.filter(e => e.value == dt.estado)[0].color">
                                {{ estados.filter(e => e.value == dt.estado)[0].label }}
                            </td>-->
                            <td>
                                <div class="text-center mx-auto">
                                    <button class="btn btn-primary btn-sm mr-1" (click)="selectOption(dt)" placement="left" ngbTooltip="Seleccionar liquidación">
                                        <i class="fas fa-hand-pointer"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>                    
            </div>
                
            <div class="col-12">
                <mat-paginator 
                    showFirstLastButtons
                    [length]="paginate.length"
                    [pageSize]="paginate.perPage"
                    [pageSizeOptions]="paginate.pageSizeOptions"
                    (page)="changePaginate($event)"
                    aria-label="Select page">
                </mat-paginator>
            </div>
            
        </div>
    </app-button-radio-active>
</div>

<cc-spiner-procesar style="z-index: 2000;" [ltexto]="mensajeSppiner" lfulScren=true lTipo="spAranceles"></cc-spiner-procesar>
