<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<app-button-radio-active-new [titulo]="fTitle" cstyle="bg-gradient-primary test-white" icono="fas fa-money-check-edit-alt"
    filtroBoton="btnsGenIdp" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)">
    <div class="mb-3">
        <div class="row m-0">
            <div class="col-12">
                <fieldset class="border card-fieldset">
                    <legend class="w-auto card-legend">Filtros</legend>
                    <div class="row m-0 justify-content-end">
                        <div class="col-12 col-md-4 pt-0 pb-0 text-right">
                            <app-cc-input-group-prepend label="Estado" styleSpan="size-span-campo font-weight-bold">
                                <div class="form-control form-control-sm" style="background-color: #E4E6EA;">
                                    <i class="fas fa-circle mr-1"
                                        [ngClass]="{'text-warning': documento.estado == 'E', 'text-success': ['A', 'C', 'P', 'D'].includes(documento.estado), 'text-danger': documento.estado == 'X'}"></i>
                                    <span *ngIf="documento.estado == 'E'">Emitido</span>
                                    <span *ngIf="documento.estado == 'A'">Aprobado</span>
                                    <span *ngIf="documento.estado == 'X'">Anulado</span>
                                    <span *ngIf="documento.estado == 'C'">Comprometido</span>
                                    <span *ngIf="documento.estado == 'P'">Pagado</span>
                                    <span *ngIf="documento.estado == 'D'">Devengado</span>
                                    <span *ngIf="documento.estado == 'J'">Ajustado</span>
                                </div>
                            </app-cc-input-group-prepend>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div [hidden]="habilitar" class="col-12 col-md-6 pt-0 pb-0">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend"><span class="input-group-text size-span-campo font-weight-bold"
                                        style="width: 155px;">Contribuyente</span></div>
                                <input type="text" class="form-control form-control-sm" disabled
                                    placeholder="Seleccione un Contribuyente" (click)="expandListContribuyentes()"
                                    [(ngModel)]="contribuyenteActive.razon_social" [value]="contribuyenteActive.razon_social">
                                <button disabled="deshabilitarCont" class="btn btn-primary btn-sm"
                                    (click)="expandListContribuyentes()" placement="bottom" ngbTooltip="Buscar Contribuyente">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-md-4 pt-0 pb-0">
                            <app-cc-input-group-prepend label="No. Documento" styleSpan="size-span-campo font-weight-bold">
                                <input type="text" class="form-control form-control-sm" readonly [(ngModel)]="documento.documento">
                            </app-cc-input-group-prepend>
                        </div>
                        <div class="col-12 col-md-4 pt-0 pb-0">
                            <app-cc-input-group-prepend label="Periodo" styleSpan="size-span-campo font-weight-bold">
                                <ng-select class="form-control" [(ngModel)]="documento.periodo"
                                    [readonly]="titulosDisabled || formReadOnly" [items]="cmb_periodo" bindValue="periodo"
                                    bindLabel="periodo"></ng-select>
                            </app-cc-input-group-prepend> 
                        </div>
                        <div class="col-12 col-md-4 pt-0 pb-0">
                            <app-cc-input-group-prepend label="Fecha" styleSpan="size-span-campo font-weight-bold">
                                <input [readonly]="titulosDisabled || formReadOnly" type="date" class="form-control form-control-sm"
                                    [(ngModel)]="documento.fecha">
                            </app-cc-input-group-prepend>
                        </div>
                    </div>
                    <div class="row m-0 mt-1">
                        <div class="col-12 col-md-6 pt-0 pb-0">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend"><span class="input-group-text size-span-campo font-weight-bold text-white"
                                        style="width: 155px; background-color: #404A62;">Observaciones</span></div>
                                <textarea cols="30" rows="3" class="form-control form-control-sm"
                                    [readonly]="titulosDisabled || formReadOnly" [(ngModel)]="documento.observacion"></textarea>
                            </div>
                        </div>
                        <div *ngIf="habilitarAjuste"  class="col-12 col-md-2 pt-0 pb-0">
                            <div class="form-check">
                                <input class="form-check-input"  type="checkbox" [(ngModel)]="ajustar" (change)="ajusteSelected($event)" disabled="documento.total < 0"/>
                                <label class="form-check-label">
                                <h6>Ajustar</h6>
                                </label>
                            </div>
                        </div>
                        <div *ngIf="habilitarAjuste && ajustar" class="col-12 col-md-4 pt-0 pb-0">
                            <app-cc-input-group-prepend label="Fecha de Ajuste" styleSpan="size-span-campo font-weight-bold">
                                <input  type="date" class="form-control form-control-sm" [(ngModel)]="documento.fecha_anulacion">
                            </app-cc-input-group-prepend>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-12">
                <fieldset class="border card-fieldset">
                    <legend class="w-auto card-legend">ICP Nómina</legend>
                    <div class="row m-0">
                        <div class="col-12 col-md-12 pt-0 pb-0 text-left">
                            <button class="btn btn-success" (click)="modalSolicitud()" disabled="titulosDisabled || formReadOnly">
                                Cargar ICP
                            </button>
                        </div>
                    </div>

                    <div class="row m-0">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-k table-hover">
                                    <thead>
                                        <tr class="text-center">
                                            <th style="width: 15%;">No. Documento</th>
                                            <th style="width: 12.5%;">Fecha</th>
                                            <th style="width: 12.5%;">Período</th>
                                            <th style="width: 25%;">Observación</th>
                                            <th style="width: 12.5%;">Valor</th>
                                            <th style="width: 12.5%;">Saldo</th>
                                            <th style="width: 12.5%;">Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="solicitud.length ==0">
                                            <td colspan="8" class="text-center"><h6>No hay resultados</h6></td>
                                        </tr>
                                        <ng-container *ngFor="let d of solicitud; let i = index">
                                            <tr>
                                                <td class="text-center">{{ d.documento }}</td>
                                                <td class="text-center">{{ d.fecha}}</td>
                                                <td class="text-center">{{ d.periodo ? d.periodo : '' }}</td>
                                                <td>{{ d.observacion }}</td>
                                                <td class="text-right">$ {{ d.total | number:'1.2-2' }}</td>
                                                <td class="text-right">$ {{ d.saldo_actual | number:'1.2-2' }}</td>
                                                <td>
                                                    <i class="fas fa-circle mr-1" [ngClass]="{'text-warning': d.estado == 'E', 'text-success': ['A', 'C', 'P', 'D'].includes(d.estado), 'text-danger': d.estado == 'X'}"></i>
                                                    <span *ngIf="d.estado == 'E'">Emitido</span>
                                                    <span *ngIf="d.estado == 'A'">Aprobado</span>
                                                    <span *ngIf="d.estado == 'X'">Anulado</span>
                                                    <span *ngIf="d.estado == 'C'">Comprometido</span>
                                                    <span *ngIf="d.estado == 'P'">Pagado</span>
                                                    <span *ngIf="d.estado == 'D'">Devengado</span>
                                                </td>
                                                 <td class="text-center mx-auto">
                                                        <button class="btn btn-sm btn-danger_icon" disabled="titulosDisabled || formReadOnly"  (click)="removeIcp(i)" ngbTooltip="Remover Presupuesto">
                                                                <span class="material-symbols-outlined">delete</span>
                                                        </button>
                                                </td>
                                               
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                   
                    <div class="row m-0">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-k table-hover">
                                    <thead>
                                        <tr class="text-center">
                                            <th style="min-width: 100px;">Codigo</th>
                                            <th style="min-width: 100px;">Denominación</th>
                                            <!-- <th style="min-width: 100px;">Disponible</th> -->
                                            <th style="min-width: 100px;">Valor ICP</th>
                                            <th style="min-width: 100px;">Saldo ICP</th>
                                            <th style="min-width: 100px;" *ngIf="habilitarAjuste">Valor IDP</th>  
                                            <th style="min-width: 100px;" >Valor Aprobado</th>
                                            <th style="min-width: 100px;" *ngIf="habilitarAjuste">Saldo IDP</th>
                                            <th style="min-width: 100px;" *ngIf="ajustar || mostrarAjustado || totalCobro < 0">Valor Ajuste</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="!solicitudDetalle.length">
                                            <td colspan="6" class="text-center">
                                                <h6 class="my-1">No hay detalles</h6>
                                            </td>
                                        </tr>
                                        <ng-container *ngFor="let d of solicitudDetalle; let i = index">
                                            <tr>
                                                <td class="text-center">{{ d.partida }}</td>
                                                <td class="text-center">{{ d.denominacion }}</td>
                                                <!-- <td class="text-right">$ {{ d.disponible | number : "1.2-2" }} </td> -->
                                                <td class="text-center">
                                                    $ {{ d.valor_solicitado | number: '1.2-2'}}
                                                </td>
                                                <td class="text-right">
                                                    $ {{ d.saldo_actual | number : "1.2-2" }}
                                                </td>
                                                <td class="text-center" *ngIf="habilitarAjuste">
                                                    $ {{ d.valor_idp | number: '1.2-2'}}</td>
                                                <td class="text-center" >
                                                    <input currencyMask 
                                                        [options]="{ max: d.saldo_actual, allowNegative: false, inputMode: Natural }"
                                                        class="form-control form-control-sm" [(ngModel)]="d.precio_aprobado"
                                                        (keyup)="totalSolicitud()" (click)="$event.target.select()" [readonly]="titulosDisabled || formReadOnly">
                                                </td>
                                                <td class="text-center" *ngIf="habilitarAjuste">
                                                    $ {{ d.saldo_actual_idp   | number: '1.2-2' }}</td>
                                                <td class="text-center" *ngIf="ajustar || mostrarAjustado || totalCobro < 0">
                                                    <input currencyMask
                                                        [options]="{ max: d.saldo, allowNegative: false, inputMode: Natural }"
                                                        class="form-control form-control-sm" [(ngModel)]="d.ajuste"
                                                        (keyup)="totalSolicitudAjuste()" (click)="$event.target.select()" disabled="!ajustar">
                                                </td>
                                                <!-- <td class="text-center mx-auto">
                                                        <button class="btn btn-sm btn-danger_icon" disabled="titulosDisabled || formReadOnly" (click)="removePresupuesto(i)" ngbTooltip="Remover Presupuesto">
                                                                <span class="material-symbols-outlined">delete</span>
                                                        </button>
                                                </td> -->
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row m-0 justify-content-end">
                        <div class="col-12 col-md-4 pt-0 pb-0">
                            <div class="input-group input-group-lg input-group-total">
                                <div class="input-group-prepend">
                                    <span class="label-saldo">Monto</span>
                                </div>
                                <input currencyMask readonly class="form-control form-control-lg font-weight-bold text-right"
                                    [(ngModel)]="totalCobro" />
                            </div>
                        </div>
                    </div>
                 
                </fieldset>
            </div>
        </div>
    </div>
</app-button-radio-active-new>

<cc-spiner-procesar [ltexto]="mensajeSpinner" lfulScren=true lTipo="renLiqAnulacion"></cc-spiner-procesar>

<!-- boton para triggerear ngx print oculto para que se active desde una funcion en ts -->
<button #print printTitle="Recaudación de títulos" printSectionId="PrintSection" ngxPrint hidden="true"
    [useExistingCss]="true"></button>

<div id="PrintSection" [hidden]="true">
    <div class="row justify-content-center prt-comprobante">

        <div class="col-11 pl-2 pr-2 ">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center mt-5">
                    <div class="sect-one pt-3 pb-3">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4">
                                <img src="{{empresLogo}}" alt="" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-center mt-5">
                    <div class="sect-two pt-3 pb-2">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4" style="font-size: 20px;font-weight: bold">
                                <h3>Documento: {{ documento.documento }}</h3>
                                <h3>Fecha: {{ documento.fecha | date: 'dd/MM/yyyy' }}</h3>
                                <h3>Estado: {{ (documento.estado == 'P') ? 'Pendiente' : documento.estado == 'E' ?
                                    'Emitido' : (documento.estado == 'A' ? 'Aprobado' : 'Anulado')}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center prt-comprobante">

        <div class="col-11 pl-2 pr-2">
            <div class="row mt-2 mb-3">
                <div class="col-6">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold"
                                style="width: 155px;">Contribuyente</span></div>
                        <input type="text" class="form-control form-control-sm" disabled
                            placeholder="Seleccione un Contribuyente" (click)="expandListContribuyentes()"
                            [value]="contribuyenteActive.razon_social">
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold"
                                style="width: 120px;">Estado</span></div>
                        <div class="form-control form-control-sm" style="background-color: #E4E6EA;">
                            <i placement="bottom"
                                [ngbTooltip]="(documento.estado == 'P') ? 'Pendiente' : (documento.estado == 'E') ? 'Emitido' : ((documento.estado == 'A') ? 'Aprobado' : 'Anulado')"
                                [class]="(documento.estado == 'P') ? 'fas fa-circle text-muted' : (documento.estado == 'E') ? 'fas fa-circle text-warning' : ((documento.estado == 'A') ? 'fas fa-circle text-success' : 'fas fa-circle text-danger')">
                            </i>
                            {{ (documento.estado == 'P') ? 'Pendiente' : (documento.estado == 'E') ? 'Emitido' :
                            ((documento.estado == 'A') ? 'Aprobado' : 'Anulado') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2 mb-3">
                <div class="col-4">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold"
                                style="width: 155px;">No. Documento</span></div>
                        <input type="text" class="form-control form-control-sm" readonly
                            [(ngModel)]="documento.documento">
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend ml-2"><span class="input-group-text font-weight-bold"
                                style="width:120px;">Periodo</span></div>
                        <input type="text" minlength="4" maxlength="4" class="form-control" placeholder="Período"
                            [(ngModel)]="documento.periodo" [readonly]="titulosDisabled || formReadOnly"
                            (keypress)="onlyNumber($event)">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold">Fecha</span>
                        </div>
                        <input disabled type="date" class="form-control form-control-sm" [(ngModel)]="documento.fecha">
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col-8">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold text-white"
                                style="width: 155px; background-color: #404A62;">Observaciones</span></div>
                        <textarea cols="30" rows="3" class="form-control form-control-sm"
                            [readonly]="titulosDisabled || formReadOnly" [(ngModel)]="documento.observacion"></textarea>
                    </div>
                </div>
            </div>

            <div class="row my-2 justify-content-end">
                <div class="col-5">
                    <div class="input-group input-group-lg input-group-subtotal">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold"
                                style="width: 200px;">Monto $</span></div>
                        <input disabled="formReadOnly" id="cobroTotal" type="text"
                            class="form-control form-control-lg font-weight-bold text-right" [(ngModel)]="totalCobro"
                            (keypress)="onlyNumberDot($event)">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center" style="font-family: 'Poppins1';">
        <div class="col-12 text-left" style="position: fixed; bottom: 0px; left: 25px;">
            <span style="color: #13A1EA;">
                Fecha: {{ documento.fecha }}</span>
        </div>
        <div *ngIf="dataUser" class="col-12 text-left" style="position: fixed; bottom: 20px; left: 25px;">
            <span style="color: #13A1EA;">
                Usuario: {{ dataUser.nombre }}</span>
        </div>
    </div>
</div>