<app-button-radio-active [titulo]="fTitle" cstyle="bg-light text-dark" icono="fas fa-money-check-edit-alt"
filtroBoton="btnsRenLiqCobro" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)">

<div class="row mt-3 mb-3">
    <div class="col-2"></div>
    <div class="col-sm-3">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text size-span-campo">Caja Registradora</span></div>
            <input type="text" class="form-control form-control-sm" disabled [value]="cajaActiva?cajaActiva.nombre:'Ninguna'">
            <button [disabled]="formReadOnly" class="btn btn-sm btn-info" ngbTooltip="Recargar caja" (click)="validacionCaja()">
                <i class="fas fa-redo"></i>
            </button>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text size-span-campo">Contribuyente</span></div>
            <input type="text" class="form-control form-control-sm" disabled placeholder="Seleccione un Contribuyente" (click)="expandListContribuyentes()" [(ngModel)]="filter.contribuyente">
            <button [disabled]="formReadOnly" class="btn btn-primary btn-sm" (click)="expandListContribuyentes()" placement="bottom" ngbTooltip="Buscar Contribuyente">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row mt-2 mb-3">
    <div class="col-sm-4">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text size-span-campo" >No. Documento</span></div>
            <input type="text" class="form-control form-control-sm" readonly [(ngModel)]="documento.documento">
        </div>
    </div>
    <!-- col-1.425 -->
    <!-- <div class="col-1" style="width: 11.87025%;
    flex: 0 0 11.87025%;max-width: 11.87025%;">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span  class="input-group-text font-weight-bold">No.</span></div>
            <input type="text" class="form-control form-control-sm" readonly [(ngModel)]="documento.id_documento">
        </div>
    </div> -->
    <!-- col-2.675 -->
    <div class="col-sm-4">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text size-span-campo">Fecha</span></div>
            <input type="date" class="form-control form-control-sm" [(ngModel)]="documento.fecha">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="size-span-campo input-group-text" >Estado</span></div>
            <div class="form-control form-control-sm" style="background-color: #E4E6EA;">
                <i
                    placement="bottom"
                    [ngbTooltip]="(documento.estado == 'P') ? 'Pendiente' : (documento.estado == 'E') ? 'Emitido' : ((documento.estado == 'A') ? 'Aprobado' : 'Anulado')"
                    [class]="(documento.estado == 'P') ? 'fas fa-circle text-muted' : (documento.estado == 'E') ? 'fas fa-circle text-warning' : ((documento.estado == 'A') ? 'fas fa-circle text-success' : 'fas fa-circle text-danger')">
                </i>
                {{ (documento.estado == 'P') ? 'Pendiente' : (documento.estado == 'E') ? 'Emitido' : ((documento.estado == 'A') ? 'Aprobado' : 'Anulado') }}
            </div>
        </div>
    </div>
</div>
<div class="row mt-2 mb-3">
    <div class="col-sm-4">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text size-span-campo">Juicios</span>
            </div>
            <ng-select class="form-control" [(ngModel)]="documento.juicio" (change)="selectJuicioHandler($event)"
                [disabled]="disabledJuicio"  [readonly]="titulosDisabled || formReadOnly" [clearable]="false">
                <ng-option [value]="0" disabled>Seleccione un Juicio</ng-option>
                <ng-option *ngFor="let j of juicios" [value]="j.id_cob_juicio">{{ j.num_proceso }}</ng-option>
            </ng-select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text size-span-campo">Costas</span>
            </div>
            <ng-select class="form-control" [(ngModel)]="documento.costa" (change)="selectCostaHandler($event)"
                 [readonly]="titulosDisabled || formReadOnly" [clearable]="false">
                <ng-option [value]="0" disabled>Seleccione una Costa</ng-option>
                <ng-option *ngFor="let c of costas" [value]="c">{{ getEstado(c.estado) +'-'+c.tipo }} | <span class="font-weight-bold">Saldo: </span>$ {{ c.saldo | number:'1.2-2' }} </ng-option>
            </ng-select>
        </div>
    </div>
</div>
<!--
<div class="row mt-2 mb-3">
    <div class="col-8">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text font-weight-bold text-white" style="width: 155px; background-color: #404A62;">Observaciones</span></div>
            <textarea cols="30" rows="3" class="form-control form-control-sm" [readonly]="titulosDisabled || formReadOnly" [(ngModel)]="documento.observacion"></textarea>
        </div>
    </div>
</div> -->

<!-- <div class="row mt-2 mb-1 align-items-center">
    <div class="col">
        <h5 class="mb-0 text-dark">Detalles de liquidaciones</h5>
    </div>
    <div class="col text-right">
        <button class="btn btn-success btn-sm ml-1" placement="left" ngbTooltip="Agregar título"  (click)="expandModalTitulos()" [disabled]="titulosDisabled || formReadOnly">
            <i class="fas fa-plus"></i> Agregar título
        </button>

    </div>
</div> -->
<div class="row justify-content-end mb-2 pt-2">
    <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 text-right btn-add">
        <button class="btn btn-success btn-sm" placement="top"
            ngbTooltip="Agregar costas" (click)="addCosta()"
            [disabled]="agregaCostas">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-bordered no-footer table-hover mb-0">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th style="width: 10%;">Estado</th>
                        <th style="width: 10%;">Tipo</th>
                        <th style="width: 10%;">Saldo</th>
                        <th style="width: 10%;">Valor</th>
                        <th style="width: 15%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="deudas.length == 0">
                        <td colspan="5" class="text-center"><h6 class="my-1">No hay deudas registradas</h6></td>
                    </tr>
                    <ng-container *ngFor="let d of deudas, let i = index">
                        <tr>
                            <td class="text-center">{{ d.estado }}</td>
                            <td class="text-center">{{ d.tipo }}</td>
                            <td class="text-center">{{ d.saldo }}</td>
                            <td class="text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">$</span></div>
                                    <input maxlength="100" class="form-control form-control-sm"
                                    [disabled]="true"  [(ngModel)]="d.cobro" >
                                </div>
                                <!-- $ {{ d.cobro }} -->
                            </td>

                            <td class="text-center">
                                <button class="btn btn-sm btn-danger" placement="left" ngbTooltip="Remover costa" [disabled]="titulosDisabled || formReadOnly" (click)="removeCosta(i)"><i class="far fa-trash-alt"></i></button>
                                <!-- <button class="btn btn-warning btn-sm mr-1" (click)="expandDetalleMulta(d)" placement="left" ngbTooltip="Ver detalle">
                                    <i class="far fa-eye"></i>
                                </button>
                                <button *ngIf="!formReadOnly" class="btn btn-sm btn-danger" placement="left" ngbTooltip="Remover Título" [disabled]="titulosDisabled || formReadOnly" (click)="removeTitulo(i)"><i class="far fa-trash-alt"></i></button>
                                <button *ngIf="formReadOnly" class="btn btn-sm btn-info" placement="left" ngbTooltip="Imprimir" (click)="printTitulo(d)"><i class="far fa-print"></i></button> -->
                            </td>
                        </tr>

                    </ng-container>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row my-2 justify-content-end">
    <div class="col-6">
        <div class="input-group input-group-lg input-group-total">
            <div class="input-group-prepend"><span class="label-saldo" > Valor a pagar</span></div>
            <input id="cobroTotal" type="text" class="form-control form-control-lg font-weight-bold text-right" readonly value="$ {{ totalCobro | number: '1.2-2' }}">
        </div>
    </div>
</div>

<div class="row mt-3 mb-1 align-items-center">
    <div class="col">
        <h5 class="mb-0 text-dark">Formas de pago</h5>
    </div>
</div>

<div class="row mt-2 mb-3 align-items-center">
    <div class="col-3">

        <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text size-span-campo" >Formas de pago</span></div>
            <ng-select [disabled]="formReadOnly || titulosDisabled" class="form-control" [(ngModel)]="formaPago" [clearable]="false" (change)="handlePago($event)">
                <ng-option [value]="0" disabled>Seleccione forma de pago</ng-option>
                <ng-option *ngFor="let op of formasDePago" [value]="op">{{ op.nombre }}</ng-option>
            </ng-select>
        </div>

    </div>
    <div *ngIf="expandPago" class="col">
        <button [disabled]="titulosDisabled || formReadOnly" class="btn btn-sm btn-primary" ngbTooltip="Seleccionar documento" (click)="selectDocPago()">
            <i class="fas fa-expand-alt"></i>
        </button>
    </div>
    <div *ngIf="!expandPago" class="col-4">

        <div *ngIf="hayEntidad" class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text size-span-campo">Entidad</span></div>
            <ng-select [disabled]="formReadOnly || entidadDisabled" class="form-control" [(ngModel)]="entidad" [clearable]="false" (change)="handleEntidad($event)">
                <ng-option [value]="0" disabled>Seleccione entidad financiera</ng-option>
                <ng-option *ngFor="let op of entidadesFiltrada" [value]="op">{{ op.nombre }}</ng-option>
            </ng-select>
        </div>

    </div>
    <div *ngIf="!expandPago" class="col-3">

        <div *ngIf="hayEmisor" class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text size-span-campo">Emisor</span></div>
            <ng-select [disabled]="formReadOnly || emisorDisabled" class="form-control" [(ngModel)]="emisor" [clearable]="false" >
                <ng-option [value]="0" disabled>Seleccione banco emisor</ng-option>
                <ng-option *ngFor="let op of emisoresFiltrada" [value]="op">{{ op.nombre }}</ng-option>
            </ng-select>
        </div>

    </div>
    <div class="col-2 text-right">
        <button [disabled]="titulosDisabled || formReadOnly || deshabilitarFormaPag" class="btn btn-sm btn-success" ngbTooltip="Agregar método de pago" (click)="agregaPagos()">
            <i class="fas fa-plus"></i> Agregar forma de pago
        </button>
    </div>

</div>

<div class="row mb-2">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-bordered no-footer table-hover mb-0">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th style="width: 10%;">Forma de pago</th>
                        <th style="width: 10%;">Banco</th>
                        <th style="width: 15%;">Documento 1</th>
                        <th style="width: 15%;">Documento 2</th>
                        <th style="width: 10%;">Valor</th>
                        <th style="width: 10%;">Valor recibido</th>
                        <th style="width: 10%;">Cambio</th>
                        <th style="width: 20%;">Observaciones</th>
                        <th style="width: 10%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="pagos.length == 0">
                        <td colspan="9" class="text-center"><h6 class="my-1">No hay formas de pago</h6></td>
                    </tr>
                    <ng-container *ngFor="let d of pagos, let i = index">
                        <tr >
                            <td class="text-center">{{ d.tipo_pago_lbl }}</td>
                            <td class="text-center">{{ d.banco==''?'-':d.banco  }}</td>
                            <!-- <td class="text-center">
                                <div class="input-group input-group-sm">
                                    <input type="text" maxlength="50" class="form-control form-control-sm"  [disabled]="titulosDisabled || formReadOnly" [(ngModel)]="d.numero_documento" >
                                </div>
                            </td> -->

                            <!-- el documento 1 cambia para cheque, tarjetas o transferencia, los demas NA -->
                            <td *ngIf="d.tipo_pago=='CHEQUE' || d.tipo_pago=='TARJETA' || d.tipo_pago=='DEBITO' || d.tipo_pago=='TRANSFERENCIA'" class="text-center">
                                <div class="input-group input-group-sm">
                                    <input type="text" maxlength="50" class="form-control form-control-sm" [placeholder]="doc1PlaceHolder(d)" [disabled]="titulosDisabled || formReadOnly" [(ngModel)]="d.numero_documento" >
                                </div>
                            </td>
                            <td *ngIf="d.tipo_pago=='GARANTIA' || d.tipo_pago=='FAVOR' || d.tipo_pago== 'CRUCE CONVENIO' || d.tipo_pago== 'NOTA CREDITO' || d.tipo_pago== 'ANTICIPO PRECOBRADO'" class="text-center">
                                {{ d.numero_documento }}
                            </td>
                            <td *ngIf="d.tipo_pago!='CHEQUE' && d.tipo_pago!='TARJETA' && d.tipo_pago!='DEBITO' && d.tipo_pago!='TRANSFERENCIA' && d.tipo_pago!='GARANTIA' && d.tipo_pago!='FAVOR' && d.tipo_pago!=='CRUCE CONVENIO' && d.tipo_pago!=='NOTA CREDITO' && d.tipo_pago!=='ANTICIPO PRECOBRADO'" class="text-center">-</td>

                            <!-- solo tipo de pago cheque cuenta con segundo documento, los demas NA                         -->
                            <td *ngIf="d.tipo_pago=='CHEQUE'">
                                <div class="input-group input-group-sm">
                                    <input type="text" maxlength="50" class="form-control form-control-sm" placeholder="No. de serie" [disabled]="titulosDisabled || formReadOnly" [(ngModel)]="d.numero_documento2">
                                </div>
                            </td>
                            <td *ngIf="d.tipo_pago=='TARJETA' || d.tipo_pago=='DEBITO'">
                                <div class="input-group input-group-sm">
                                    <input type="text" maxlength="50" class="form-control form-control-sm" placeholder="No. de voucher" [disabled]="titulosDisabled || formReadOnly" [(ngModel)]="d.numero_documento2">
                                </div>
                            </td>

                            <td *ngIf="d.tipo_pago=='GARANTIA' || d.tipo_pago=='FAVOR' || d.tipo_pago=='CRUCE CONVENIO' || d.tipo_pago== 'NOTA CREDITO' || d.tipo_pago== 'ANTICIPO PRECOBRADO'" class="text-center">
                                {{ d.numero_documento2 }}
                            </td>
                            <td *ngIf="d.tipo_pago!='CHEQUE' && d.tipo_pago!='GARANTIA' && d.tipo_pago!='FAVOR' && d.tipo_pago!='TARJETA' && d.tipo_pago!='DEBITO' && d.tipo_pago!=='CRUCE CONVENIO' && d.tipo_pago!=='NOTA CREDITO' && d.tipo_pago!=='ANTICIPO PRECOBRADO'" class="text-center">-</td>

                            <!-- todos poseen valor -->
                            <td class="text-right">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">$</span></div>
                                    <input currencyMask maxlength="8" class="form-control form-control-sm text-right"  [disabled]="titulosDisabled || formReadOnly" [(ngModel)]="d.valor" (keypress)="onlyNumberDot($event)" (keyup)="sumar(d)">
                                </div>
                            </td>

                            <!-- solo efectivo cuenta con campos valor recibido y cambio -->
                            <td *ngIf="d.tipo_pago=='EFECTIVO'" class="text-right">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">$</span></div>
                                    <input currencyMask maxlength="8" class="form-control form-control-sm text-right"  [disabled]="titulosDisabled || formReadOnly" [(ngModel)]="d.valor_recibido" (keypress)="onlyNumberDot($event)" (keyup)="getCambio(d)">
                                </div>
                            </td>
                            <td *ngIf="d.tipo_pago!='EFECTIVO'" class="text-center">-</td>
                            <td *ngIf="d.tipo_pago=='EFECTIVO'" class="text-right">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend"><span class="input-group-text font-weight-bold">$</span></div>
                                    <input currencyMask maxlength="8" class="form-control form-control-sm text-right" readonly [disabled]="titulosDisabled || formReadOnly" [(ngModel)]="d.cambio" (keypress)="onlyNumberDot($event)" >
                                </div>
                            </td>
                            <td *ngIf="d.tipo_pago!='EFECTIVO'" class="text-center">-</td>
                            <td class="text-center">
                                <div class="input-group input-group-sm">

                                    <input type="text" maxlength="100" class="form-control form-control-sm"  [disabled]="titulosDisabled || formReadOnly" [(ngModel)]="d.comentario" >
                                </div>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-danger" placement="left" ngbTooltip="Remover forma de pago" [disabled]="titulosDisabled || formReadOnly" (click)="removeFormaPago(i)"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row my-2 justify-content-end">
    <div *ngIf="tieneSuperavit" class="col-6 justify-content-start">
        <div class="row">
            <div class="col justify-content-start">
               <h6 class="font-weight-bold">Tiene comprobante Superávit de: $ {{ superavit  | number: '1.2-2' }}</h6>
            </div>
            <div class="col justify-content-end">
                <button *ngIf="formReadOnly" class="btn btn-sm btn-info" placement="left" ngbTooltip="Imprimir Comprobante" (click)="printComprobante()">
                 <i class="far fa-print"></i>
             </button>
             </div>
        </div>
    </div>
    <div class="col-6 justify-content-end">
        <div class="input-group input-group-lg input-group-total">
            <div class="input-group-prepend"><span class="label-saldo"> Valor pagado</span></div>
            <input id="pagoTotal" type="text" class="form-control form-control-lg font-weight-bold text-right" readonly value="$ {{ totalPago | number: '1.2-2' }}">
        </div>
    </div>
</div>

<div class="row my-2 justify-content-end">
    <div class="col-6">
        <div class="input-group input-group-lg input-group-total">
            <div class="input-group-prepend"><span class="label-saldo">Diferencia</span></div>
            <input id="difTotal" type="text" class="form-control form-control-lg font-weight-bold text-right" readonly value="$ {{ difCobroPago | number: '1.2-2' }}">
        </div>
    </div>
</div>

</app-button-radio-active>

<cc-spiner-procesar [ltexto]="mensajeSpinner" lfulScren=true lTipo="renLiqAnulacion"></cc-spiner-procesar>

<div id="PrintSection" [hidden]="true">
    <div class="row justify-content-center prt-comprobante">

        <div class="col-11 pl-2 pr-2 ">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center mt-5">
                    <div class="sect-one pt-3 pb-3">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4">
                                <img src="{{empresLogo}}" alt="" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-center mt-5">
                    <div class="sect-two pt-3 pb-2">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mt-4" style="font-size: 20px;font-weight: bold">
                                <h3>Documento: {{ documento.documento }}</h3>
                                <h3>Fecha: {{ documento.fecha | date: 'dd/MM/yyyy' }}</h3>
                                <h3>Estado: {{ (documento.estado == 'P') ? 'Pendiente' : documento.estado == 'E' ? 'Emitido' : (documento.estado == 'A' ? 'Aprobado' : 'Anulado')}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center prt-comprobante">

        <div class="col-11 pl-2 pr-2">

            <div class="row mt-2 mb-1 align-items-center">
                <div class="col">
                    <h5 class="mb-0 text-dark">Detalles de las Costas</h5>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-bordered no-footer table-hover mb-0">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="width: 5%;">Concepto</th>
                                    <th style="width: 15%;">Documento</th>
                                    <th style="width: 15%;">Fecha de emisión</th>
                                    <th class="text-right" style="width: 10%;">Total</th>
                                    <th class="text-right" style="width: 15%;">Valor a Pagar</th>
                                    <th class="text-right" style="width: 10%;">Saldo</th>
                                    <th style="width: 10%;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="deudas.length == 0">
                                    <td colspan="9" class="text-center"><h6 class="my-1">No hay deudas registradas</h6></td>
                                </tr>
                                <ng-container *ngFor="let d of deudas, let i = index">
                                    <tr >
                                        <td class="text-center">{{ d.fk_documento }}</td>
                                        <td>
                                            <div class="row">
                                                <div class="col">{{ d.nombre }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-muted"><small>{{ d.numero_documento }}</small></div>
                                            </div>
                                        </td>
                                        <td class="text-center">{{ d.fecha | date: 'dd/MM/yyyy' }}</td>
                                        <!-- <td class="text-right">$ {{ d.monto_total | number: '1.2-2' }}</td> -->
                                        <td class="text-right">$ {{ d.total }}</td>
                                        <td class="text-right">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend"><span class="input-group-text font-weight-bold">$</span></div>
                                                <input maxlength="100" class="form-control form-control-sm"
                                                [disabled]="titulosDisabled || formReadOnly"  [(ngModel)]="d.cobro" (ngModelChange)="calcCobroTotal($event)" (keyup)="restar(d)">
                                            </div>
                                            <!-- $ {{ d.cobro }} -->
                                        </td>
                                        <td class="text-right">$ {{ d.nuevo_saldo }}</td>
                                        <td class="text-center">
                                        </td>
                                    </tr>

                                </ng-container>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-2 justify-content-end">
                <div class="col-6">
                    <div class="input-group input-group-lg input-group-subtotal">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold" style="width: 200px;">&Sigma; Valor a pagar</span></div>
                        <input id="cobroTotal" type="text" class="form-control form-control-lg font-weight-bold text-right" readonly value="$ {{ totalCobro | number: '1.2-2' }}">
                    </div>
                </div>
            </div>


            <div class="row mt-3 mb-1 align-items-center">
                <div class="col">
                    <h5 class="mb-0 text-dark">Formas de pago</h5>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-bordered no-footer table-hover mb-0">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th style="width: 10%;">Forma de pago</th>
                                    <th style="width: 10%;">Banco</th>
                                    <th style="width: 15%;">Documento 1</th>
                                    <th style="width: 15%;">Documento 2</th>
                                    <th style="width: 10%;">Valor</th>
                                    <th style="width: 10%;">Valor recibido</th>
                                    <th style="width: 10%;">Cambio</th>
                                    <th style="width: 20%;">Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="pagos.length == 0">
                                    <td colspan="9" class="text-center"><h6 class="my-1">No hay formas de pago</h6></td>
                                </tr>
                                <ng-container *ngFor="let d of pagos, let i = index">
                                    <tr >
                                        <td class="text-center">{{ d.tipo_pago_lbl }}</td>
                                        <td class="text-center">{{ d.banco==''?'-':d.banco  }}</td>
                                        <!-- <td class="text-center">
                                            <div class="input-group input-group-sm">
                                                <input type="text" maxlength="50" class="form-control form-control-sm"  [disabled]="titulosDisabled || formReadOnly" [(ngModel)]="d.numero_documento" >
                                            </div>
                                        </td> -->

                                        <!-- el documento 1 cambia para cheque, tarjetas o transferencia, los demas NA -->
                                        <td *ngIf="d.tipo_pago=='CHEQUE' || d.tipo_pago=='TARJETA' || d.tipo_pago=='DEBITO' || d.tipo_pago=='TRANSFERENCIA'" class="text-center">
                                            {{ d.numero_documento }}
                                        </td>
                                        <td *ngIf="d.tipo_pago!='CHEQUE' && d.tipo_pago!='TARJETA' && d.tipo_pago!='DEBITO' && d.tipo_pago!='TRANSFERENCIA'" class="text-center">-</td>

                                        <!-- solo tipo de pago cheque cuenta con segundo documento, los demas NA                         -->
                                        <td *ngIf="d.tipo_pago=='CHEQUE'">
                                            {{ d.numero_documento2 }}
                                        </td>
                                        <td *ngIf="d.tipo_pago!='CHEQUE'" class="text-center">-</td>

                                        <!-- todos poseen valor -->
                                        <td class="text-right">
                                            $ {{ d.valor }}
                                        </td>

                                        <!-- solo efectivo cuenta con campos valor recibido y cambio -->
                                        <td *ngIf="d.tipo_pago=='EFECTIVO'" class="text-right">
                                            $ {{ d.valor_recibido }}
                                        </td>
                                        <td *ngIf="d.tipo_pago!='EFECTIVO'" class="text-center">-</td>
                                        <td *ngIf="d.tipo_pago=='EFECTIVO'" class="text-right">
                                            $ {{ d.cambio }}
                                        </td>
                                        <td *ngIf="d.tipo_pago!='EFECTIVO'" class="text-center">-</td>
                                        <td class="text-center">
                                            {{ d.comentario }}
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-2 justify-content-end">
                <div class="col-6">
                    <div class="input-group input-group-lg input-group-total">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold" style="width: 200px;">&Sigma; Valor pagado</span></div>
                        <input id="pagoTotal" type="text" class="form-control form-control-lg font-weight-bold text-right" readonly value="$ {{ totalPago | number: '1.2-2' }}">
                    </div>
                </div>
            </div>

            <!-- <div class="row my-2 justify-content-end">
                <div class="col-6">
                    <div class="input-group input-group-lg input-group-descuentos">
                        <div class="input-group-prepend"><span class="input-group-text font-weight-bold" style="width: 200px;">Diferencia</span></div>
                        <input id="difTotal" type="text" class="form-control form-control-lg font-weight-bold text-right" readonly value="$ {{ difCobroPago | number: '1.2-2' }}">
                    </div>
                </div>
            </div> -->


        </div>

    </div>

    <div class="row justify-content-center" style="font-family: 'Poppins1';">
        <div class="col-12 text-left" style="position: fixed; bottom: 0px; left: 25px;">
            <span style="color: #13A1EA;">
                Fecha: {{ documento.fecha }}</span>
        </div>
        <div *ngIf="dataUser" class="col-12 text-left" style="position: fixed; bottom: 20px; left: 25px;">
            <span style="color: #13A1EA;">
                Usuario: {{ dataUser.nombre }}</span>
        </div>
    </div>
</div>

