<app-button-radio-active [titulo]="fTitle" cstyle="bg-light text-dark" icono="fas fa-list" filtroBoton="btnsTarifaDet"
    [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)">
    <div class="row my-2">
        <div class="col-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped"
                    style="max-height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Concepto</th>
                            <th>Descripcion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of tarifas">
                            <td>{{ t.id }}</td>
                            <td>{{ t.concepto.codigo }} - {{ t.concepto.nombre }}</td>
                            <td>{{ t.descripcion }}</td>
                            <td>
                                <button class="btn btn-sm btn-info" (click)="editTarifa(t.id)"><i
                                        class="fas fa-edit"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-button-radio-active>
<cc-spiner-procesar [ltexto]="msgSpinner" lfulScren=true lTipo="renBusqTare"></cc-spiner-procesar>