@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');

// indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import '@angular/material/prebuilt-themes/indigo-pink.css';
 
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/dragula/dist/dragula.min.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/material.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css"; 
@import "../node_modules/leaflet/dist/leaflet.css";

@import "app/theme/styles/base";
@import "app/theme/styles/spaces";
@import "app/theme/styles/libs-override";
@import "app/theme/styles/theme";
@import "app/theme/styles/gradients";
@import "app/theme/styles/rtl";





 /*ESTILOS AACOSTA*/

 .ng-select.custom {
    border:0px;
    border-radius: 0;
    /*min-height: 36px;
    font-size: 13px;*/
    text-align: left;
  }
  .ng-select.custom .ng-select-container  {            
    /*min-height: 36px;*/
    min-height: unset;
    /*font-size: 10px;*/
    font-size: inherit;
  }
  .form-control.ng-select {
    border: 0;
    //padding: 0;    
    position: relative;
  }
  .ng-select.custom .ng-dropdown-panel {
    width: auto;
    min-width: 100%;
  }
  .input-group>.ng-select.custom:not(:first-child) .ng-select-container{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-control-sm.ng-select.custom .ng-select-container, .input-group-sm>.ng-select.custom .ng-select-container {
    /*height: calc(1.5em + .5rem + 2px);*/
    height: inherit;
  }
  .ng-select.custom.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
     /* border-color: #007eff;
      border-top-color: rgb(0, 126, 255);
      border-right-color: rgb(0, 126, 255);
      border-bottom-color: rgb(0, 126, 255);
      border-left-color: rgb(0, 126, 255);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 0 3px rgba(0,126,255,0.1);*/
      /*reemplazar con */
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  .ng-select.custom .ng-clear-wrapper .ng-clear {
    line-height: inherit;
  }
  
  /**************** Componente sm *************************/
  .ng-select.custom-sm {
    width: 52%;
    border:0px;
    min-height: 30px;
    border-radius: 3px;
    font-size: 5px;
    text-align: left;
  }
  .ng-select.custom-sm .ng-select-container  {            
    min-height: 30px;
    border-radius: 0;
    font-size: 11px;
  }
  .form-control-sm.ng-select {
    border: 0;
    padding: 0;    
    position: relative;
  }

 .size-span-campo{ 
    width: 155px; 
}

.size-span-small .input-group .input-group-prepend {
  flex: 0.3!important;
}

.size-span-print{ 
    width: 115px; 
}

.size-span-otro{ 
  width: 90px; 
}

.estilo-btn-modificar{
    background-color:#821DD5;
    color:white;
}

.estilo-btn-eliminar{
    color:white; 
    background:#8b3838;
}

.estilo-label{
    font-weight: bold;
}

.estilo-combos{
    height: 28px; 
    padding-top: 0px;
    padding-bottom: 0px; 
    outline: unset;
    box-shadow: unset;
}


.color-datos-empleados{
    background: rgba(62, 199, 101, 0.687);
}

.color-datos-empleados2{
    background: rgba(62, 199, 101, 0.331);
}

.color-datos-ingresos{
    background: rgba(61, 137, 230, 0.742);
}

.color-datos-ingresos2{
    background: rgba(61, 137, 230, 0.393);
}


.color-datos-egresos{
    background: rgba(232, 170, 131, 0.687);
}

.color-datos-egresos2{
    background: rgba(232, 170, 131, 0.352);
}

.color-datos-total{
    background: rgba(62, 199, 101, 0.687);
}

.color-datos-total-recibir{
    background: rgba(199, 194, 62, 0.585);
}


.font-size-input-dialog{
    font-size: 11px; 
    background-color: rgba(79, 160, 103, 0.441);
    height: auto;
    width: 70%;
    padding: 0px;
    /* padding-left: 80px; */
    border: 0;
    border-radius: 2%;
    /* ;accb4b1a */
}

.negrita-label{
    font-weight: bold;
}

.colorInconsistencias{
    background-color: rgb(251, 229, 214);
}
.colorInconsistenciasOk{
    background-color: rgba(62, 199, 101, 0.687);
}

.quitar-espacio{
    padding: 0px !important;
}
.quitar-espacio-2{
  padding: 0px 8px 0px 8px !important;
}

.boton-descargar{
    float:right;
    background-color: #404A63; 
    color: white; 
    border-radius: 10px;
    font-size:12px;
}


.contenedor-scrol-tab {
    max-height: 500px;
    overflow: auto;
    overflow-x: hidden;
}

.color-input-estandar{
    background-color: beige;
}

.btn-xs + .dropdown-toggle-split, .btn-group-xs > .btn + .dropdown-toggle-split {
  padding-right: 0.187rem;
  padding-left: 0.187rem;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.12rem 0.25rem;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 0.1rem;
}


.mat-tooltip {
  background-color: rgba(0, 0, 0, 0.701);
}

.btns-eliminar{
  color:white;
  background:#8b3838;
}

.btns-modificar{
  color:white;
  background:#821DD5;
}

.contenedor-scrol-prestamo {
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
}

.contenedor-scrol-tab-fact {
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;
}