.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: 1px solid red;
  --color-accent: #12cdea;
  /*GLobal*/
  --background-color: #1b1e21;
  --borders-color: 1px solid rgba(107, 107, 107, 0.3);
  --background-container: #262a2e;
  --font-color: #ffffff;
  --secondary-color: #ffffff;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0);
  --border-bottom-color: 1px solid rgba(107, 107, 107, 0.3);
  /*Sidebar*/
  --sidebar-color: #19171d;
  --sidebar-minimizer: #19171d;
  --sidebar-minimizer-hover: #19171d;
  /*Navbar*/
  --navbar-color: #19171d;
  //--nav-active: #1b1e21;
  --nav-active: #13ADE9;
  --nav-hover: #27242c;
  /*Binary Tree*/
  --border-user: 1px solid white;
  --downLine-border: rgba(234, 232, 232, 0.8);
  --rightLine-border: 1px solid rgba(232, 232, 232, 0.8);
  --leftLine-border: 1px solid rgba(232, 232, 232, 0.8);
  --topLine-border: 2px solid rgba(232, 232, 232, 0.8);
  /*Binary Tree*/
  /*Agile Detail*/
  --background-invest: #2f353a;
  --background-avail: #2f353a;
  --background-benef: #2f353a;
  /*Agile Detail*/
}
