.theme-light {
  --color-primary: 1px solid #0060df;
  --color-//secondary: 1px solid #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
  /*GLobal*/
  --background-color: rgb(241, 241, 242);
  --borders-color: transparent;
  --background-container: white;
  --font-color: rgb(72, 76, 81);
  --secondary-color: #a5a5b5;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0);
  --border-bottom-color: 1px solid #c8ced3;
  /*Sidebar*/
  --sidebar-color: rgb(34, 47, 64);
  --sidebar-minimizer: rgba(21, 59, 109, 0.6);
  --sidebar-minimizer-hover: rgba(50, 97, 158, 0.61);
  /*Navbar*/
  --navbar-color: rgb(34, 47, 64);
  --nav-active: rgb(34, 52, 76);
  --nav-hover: rgba(50, 97, 158, 0.61);
  /*Binary Tree*/
  --border-user: 1px solid black;
  --downLine-border: black;
  --rightLine-border: 1px solid rgba(27, 26, 26, 0.8);
  --leftLine-border: 1px solid rgba(27, 26, 26, 0.8);
  --topLine-border: 2px solid rgba(27, 26, 26, 0.8);
  /*Binary Tree*/
  /*Agile Detail*/
  --background-invest: #558b56;
  --background-avail: #2b5b70;
  --background-benef: #7266ab;
  /*Agile Detail*/
}
