
    <app-button-radio-active-new [titulo]="fTitle" filtroBoton="btnsBandejaTrabajo" cstyle="bg-gradient-primary text-white" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)" icono="fas fa-ballot-check">
        <fieldset class="border card-fieldset">
            <legend class="w-auto card-legend">Filtros</legend>
            <div class="row m-0">

                <div class="col-12 col-md-4 pt-0 pb-0">
                    <app-cc-input-group-prepend label="Fecha Desde" styleSpan="font-weight-bold size-span-campo">
                        <input id="filter_fecha_desde" type="date" class="form-control" [(ngModel)]="filter.fecha_desde" max="2050-01-01">
                    </app-cc-input-group-prepend>

                </div>
                <div class="col-12 col-md-4 pt-0 pb-0">
                    <app-cc-input-group-prepend label="Fecha Hasta" styleSpan="font-weight-bold size-span-campo">
                        <input id="filter_fecha_hasta" type="date" class="form-control" [(ngModel)]="filter.fecha_hasta" max="2050-01-01">
                    </app-cc-input-group-prepend>
                </div>
                    <div class="col-12 col-md-4 pt-0 pb-0">
                        <app-cc-input-group-prepend label="Departamento" styleSpan="font-weight-bold size-span-campo">
                            <input placeholder="Departamento..." type="text" #departamento="ngModel"
                            name="departamento" [(ngModel)]="filter.dep_nombre" 
                            class="form-control form-control-sm" disabled="true" 
                            id="departamento">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" (click)="modalDepartamentos()" disabled="dusuario"
                                style="box-shadow: unset;outline: unset;">
                                Buscar
                            </button>
                        </div>
                        </app-cc-input-group-prepend>
                    </div>
                </div>

                <div class="row m-0">
                    <div class="col-12 col-md-4 pt-0 pb-0">
                        <app-cc-input-group-prepend label="Estado" styleSpan="size-span-campo font-weight-bold">
                            <ng-select id="estado" class="form-control form-control-sm" [(ngModel)]="estadoSelected" (change)="asignarEstado($event)" [clearable]="true">
                                <ng-option disabled [value]="0" disabled>Seleccione un Estado</ng-option>
                                <ng-option *ngFor="let op of estadoList" [value]="op.value">{{ op.label }}</ng-option>
                            </ng-select>
                        </app-cc-input-group-prepend>

                    </div>

                    <div class="col-12 col-md-4 pt-0 pb-0">
                        <app-cc-input-group-prepend label="Nombre Trámite" styleSpan="font-weight-bold size-span-campo">
                            <input id="filter_nombre" type="text" class="form-control" [(ngModel)]="filter.nombre" placeholder="Nombre Trámite">
                        </app-cc-input-group-prepend>
                        
                    </div>

                    <div class="col-12 col-md-4 pt-0 pb-0">
                        <app-cc-input-group-prepend label="Tipo de trámite" styleSpan="size-span-campo font-weight-bold">
                            <ng-select id="sub_categoria" class="form-control form-control-sm" [(ngModel)]="filter.tipo_tramite" [clearable]="true">
                                <ng-option disabled [value]="0" disabled>Seleccione un tipo</ng-option>
                                <ng-option *ngFor="let op of tipoTraList" [value]="op.value">{{op.label }}</ng-option>
                            </ng-select>
                        </app-cc-input-group-prepend>
                        
                    </div>



                </div>





        </fieldset>
        <div class="row m-0">
            <div class="col-12">
                <div class="table-responsive" style="max-height: 550px; overflow-y: auto;">
                    <table class="table table-bordered no-footer table-hover mb-0">
                        <thead class="sticky-header">
                            <tr class="text-center">
                                <th style="width: 5%;background-color: #f7d9ca;">No. Tr&aacute;mite</th>
                                <th style="width: 10%; background-color: #f7d9ca;">Fecha Tr&aacute;mite</th>
                                <!-- <th style="width: 10%;">Usuario Creador</th> -->
                                <th style="width: 15%;background-color: #f7d9ca;">Nombre Tr&aacute;mite</th>
                                <th style="width: 10%;background-color: #f7d9ca;">Observaci&oacute;n Tr&aacute;mite</th>
                                <th style="width: 5%;background-color: #f7d9ca;">Estado Trámite</th>
                                <!-- <th style="width: 5%;">Id Seguimiento</th> -->
                                <th style="width: 10%;background-color: #c8f4e6;">Paso Previo</th>
                                <th style="width: 10%;background-color: #b0d7f4;">Información del Paso</th>
                                <th style="width: 10%;background-color: #b0d7f4;">Estado del Paso</th>
                                <th style="width: 10%;background-color: #b0d7f4;">Observación del Paso</th>
                                <th style="width: 10%;background-color: #b0d7f4;">Pregunta y Respuesta</th>
                                <th style="width: 10%;background-color: #b0d7f4;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dt of ticketsDt, let i = index">
                                <td class="text-center">{{ dt.tramites?.nro_tramite }}</td>
                                <td class="text-center">
                                    <span>{{ dt.tramites?.fecha | date:'yyyy-MM-dd' }}</span><br>
                                    <span>{{ dt.tramites?.fecha | date:'hh:mm:ss a' }}</span>
                                   
                                </td>
                                <!-- <td class="text-center"><i class="fa fa-user" aria-hidden="true"></i>
                                    
                                    <div class="row">
                                        <div class="col">{{ dt.usuario?.nombre | titlecase }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-muted"><small>{{dt.usuario?.departamento?.dep_nombre ? dt.usuario?.departamento?.dep_nombre : 'Sin departamento' }}</small></div>
                                    </div>
                                </td> -->
                                <td>
                                    <div class="row">
                                        <div class="col font-weight-bold">{{ dt.tareas?.nombre }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><span class="font-weight-bold">Fecha Máxima de Entrega: </span><span>{{ dt.fecha_maxima != undefined ? dt.fecha_maxima : 'Sin Fecha Máxima'  }}</span></div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col text-muted"><small>{{dt.flujo_pasos ? (dt.tramites?.tipo == 'I' ? 'INTERNO (' : 'EXTERNO (')+ dt.flujo_pasos?.dias +' dias)' : (dt.tramites?.tipo == 'I' ? 'INTERNO ' : 'EXTERNO' )}}</small></div>
                                    </div> -->
                                    <div class="row">
                                        <div class="col">
                                        <span class="font-weight-bold"> Prioridad:  <i
                                            placement="bottom"
                                            [ngbTooltip]="(dt.prioridad == 'A') ? 'Alta' : (dt.prioridad == 'M') ? 'Media' : ((dt.prioridad == 'B') ? 'Baja' : 'No tiene')" 
                                            [class]="(dt.prioridad == 'A') ? 'fas fa-circle text-danger' : (dt.prioridad == 'M') ? 'fas fa-circle text-warning' : ((dt.prioridad == 'B') ? 'fas fa-circle text-success' : 'fas fa-circle text-muted')">
                                        </i></span>{{ (dt.prioridad == 'A') ? 'Alta' : (dt.prioridad == 'M') ? 'Media' : ((dt.prioridad == 'B') ? 'Baja' : 'No tiene')}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span class="font-weight-bold">Días Transcurridos: </span>{{ dt.dias_trans }}
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="row" *ngIf="dt.tareas != null && dt.tareas.diasT !=null" [ngClass]="dt.classT"> -->
                                    <div class="row"  [ngClass]="dt.classT">    
                                        <div class="col font-weight-bold">{{dt.diasT +' '+ dt.vencimientoT   }} </div>
                                    </div>
                                    
                                </td>
                                <td class="text-center text-justify text-break">{{ dt.tramites?.observacion }}</td>
                                <td class="text-center">
                                    <i 
                                        placement="bottom" 
                                        [ngbTooltip]="getEstadoLabel(dt.tramites?.estado)" 
                                        [class]="getEstadoIconClass(dt.tramites?.estado)">
                                    </i>
                                    {{getEstadoLabel(dt.tramites?.estado)}}
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col"><span class="font-weight-bold">No. paso: </span>{{ dt.nro_paso_anterior }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><span class="font-weight-bold">Descripción: </span>{{ dt.flujo_paso_anterior?.descripcion }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><span class="font-weight-bold">Fecha: </span>{{ dt.seguimiento_anterior?.updated_at | date:'yyyy-MM-dd hh:mm:ss a'  }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><span class="font-weight-bold">Usuario: </span>{{ dt.usuario?.nombre }}</div>
                                    </div>
                                </td>
                                <!-- <td class="text-center">{{ dt.id_tramite_seguimiento }}</td> -->
                                <td>
                                    <!-- {{ dt.estado_seguimiento == 'C' ? (dt.updated_at | date:'yyyy-MM-dd hh:mm:ss a') : ''  }} -->
                                    <div class="row">
                                        <div class="col"><span class="font-weight-bold">No. paso: </span>{{ dt.nro_paso }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><span class="font-weight-bold">Descripción: </span>{{ dt.flujo_pasos?.descripcion }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><span class="font-weight-bold">Fecha: </span>{{ dt.created_at | date:'yyyy-MM-dd hh:mm:ss a'  }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><span class="font-weight-bold">Usuario: </span>{{ dt.usuario_atiende?.nombre }}</div>
                                    </div>
                                </td>
                                <td class="text-center"><i placement="bottom" 
                                    [ngbTooltip]="getEstadoLabel(dt.estado_seguimiento)" 
                                        [class]="getEstadoIconClass(dt.estado_seguimiento)">
                                </i>
                                    {{getEstadoLabel(dt.estado_seguimiento)}}
                                    <!--h6>
                                            <span placement="bottom" [ngbTooltip]="dt.estado_seguimiento == 'P' ? 'Pendiente' : dt.estado_seguimiento == 'G' ? 'Gestion' : 'Cerrado'"  [class]="dt.estado_seguimiento == 'P' ? 'badge badge-pill badge-primary' : dt.estado_seguimiento == 'C' ? 'badge badge-pill badge-danger' : 'badge badge-pill badge-succes'">
                                            {{dt.estado_seguimiento == 'P' ? 'Pendiente' :  'Cerrado'}}
                                            </span>
                                        </h6-->
                                        <div class="row" *ngIf="dt.flujo_pasos != null && dt.flujo_pasos.dias!=null" [ngClass]="dt.class">
                                            <div class="col">{{dt.dias +' '+ dt.vencimiento   }} </div>
                                        </div>
                                      
                                </td>
                                <!--td class="text-center"><i placement="bottom" [ngbTooltip]="dt.tramites.prioridad == 'A' ? 'Alta' : dt.tramites.prioridad == 'M' ? 'Media' : 'Baja'" 
                                    [class]="dt.tramites.prioridad == 'A' ? 'fas fa-circle text-danger' : dt.tramites.prioridad == 'M' ? 'fas fa-circle text-warning' : 'fas fa-circle text-success'"></i>
                                    {{dt.tramites.prioridad == 'A' ? 'Alta' : dt.tramites.prioridad == 'M' ? 'Media' : 'Baja'}}
                                </td-->
                                <td class="text-center text-justify text-break">{{ dt.observacion }}</td>
                                <td class="text-center">{{dt.pregunta}} {{ dt.respuesta == 'S' ? ': SI' : dt.respuesta == 'N' ? ': NO' : '' }}</td>
                                <td>
                                    <div class="text-center mx-auto">
                                        <button *ngIf="dt.estado_seguimiento !='C' && dt.estado_seguimiento !='R' && dt.nro_paso_anterior !== 0 && dt.tareas.puede_retornar === 'S'" (click)="openRetornarModal(dt)" class="btn btn-danger btn-sm mx-1"  placement="left" ngbTooltip="Retornar Trámite">
                                            <i class="fas fa-undo"></i>
                                        </button>
                                        <button *ngIf="dt.estado_seguimiento !='C' && dt.estado_seguimiento !='R'" class="btn btn-warning btn-sm mx-1" (click)="showGestionTicketForm(false, dt)" placement="left" ngbTooltip="Gestionar Trámite">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-primary btn-sm mx-1" (click)="showSeguiTicketForm(false, dt)" placement="left" ngbTooltip="Abrir Seguimiento">
                                            <i class="far fa-eye "></i>
                                        </button>
                                        <button *ngIf="dt.tramites?.estado=='C'" class="btn btn-sm btn-danger mx-1" title="Descargar PDF" (click)="descargarPdf(dt)">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <mat-paginator showFirstLastButtons [length]="paginate.length" [pageSize]="paginate.perPage" [pageSizeOptions]="paginate.pageSizeOptions" (page)="changePaginate($event)" aria-label="Select page">
                </mat-paginator>

                <!-- Modal de Confirmación -->
                <ng-template #retornarModal let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmar Retorno</h5>
                        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de retornar este trámite al paso anterior  No. {{tramiteSeleccionado.flujo_paso_anterior?.nro_paso}}: {{ tramiteSeleccionado.flujo_paso_anterior?.descripcion }} ?</p>
                        <div class="form-group">
                            <label for="motivoRetorno">Motivo del retorno <span class="text-danger">*</span></label>
                            <textarea 
                                id="motivoRetorno" 
                                class="form-control" 
                                [(ngModel)]="motivoRetorno" 
                                rows="3" 
                                placeholder="Ingrese el motivo..." 
                                required>
                            </textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="validarRetorno(modal)">Confirmar</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </app-button-radio-active-new>

<cc-spiner-procesar style="z-index: 2000;" [ltexto]="mensajeSpinner" lfulScren=true lTipo="spMesaTrabajo"></cc-spiner-procesar>
