<br>
<app-button-radio-active titulo="Consulta Caja Chica Movimientos" filtroBoton="btnsConsultCajaChica" cstyle="bg-gradient-primary text-white" [groupButton]="vmButtons" (onMetodoGlobal)="metodoGlobal($event)"
icono="fas fa-file-alt">
    <div class="row">
        <div class="col-sm-3"> 
            <app-cc-input-group-prepend label="Fecha Desde" styleSpan="size-span-campo">
                <ejs-datepicker [(ngModel)]="fromDatePicker" class="form-control form-control-sm" type="text" format="yyyy-MM-dd" id="" (ngModelChange)="rerender()"></ejs-datepicker>
            </app-cc-input-group-prepend> 
        </div>
        <div class="col-sm-3">
            <app-cc-input-group-prepend label="Caja Chica" styleSpan="size-span-campo">
                <ng-select id="IdcajaChica" class="form-control custom" appendTo="body" [searchable]="true" [clearable]="false" [(ngModel)]="cajaChica" (ngModelChange)="filterCajaChica($event)">
                    <ng-option [value]="0">Seleccione Caja Chica</ng-option>
                    <ng-option *ngFor="let d of arrayCajachica" [value]="d.id_caja_chica">{{d.nombre_caja}}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend> 
        </div>
        <div class="col-sm-3">
            <app-cc-input-group-prepend label="Tipo Gasto" styleSpan="size-span-campo">
                <ng-select id="IdProveedor" class="form-control custom" appendTo="body" [searchable]="true" [clearable]="false" [(ngModel)]="tipo" (ngModelChange)="filterTipo($event)">
                    <ng-option [value]="0">Seleccione tipo gasto</ng-option>
                    <ng-option *ngFor="let d of arrayTipo" [value]="d.fk_cuenta_contable">{{d.nombre_cuenta}}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend>  
        </div>
        <div class="col-sm-3">
            <app-cc-input-group-prepend label="Documento" styleSpan="size-span-campo">
                <ng-select id="IdTipo" class="form-control custom" appendTo="body" [searchable]="true" [clearable]="false" [(ngModel)]="documento" (ngModelChange)="filterDocumento($event)">
                    <ng-option [value]="0">Seleccione Documento</ng-option>
                    <ng-option *ngFor="let d of arrayDocumento" [value]="d.id">{{d.nombre}}</ng-option>
                </ng-select>
            </app-cc-input-group-prepend>   
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"> 
            <app-cc-input-group-prepend label="Fecha Hasta" styleSpan="size-span-campo">
                <ejs-datepicker [(ngModel)]="toDatePicker" class="form-control form-control-sm" type="text" format="yyyy-MM-dd" id="" (ngModelChange)="rerender()"></ejs-datepicker>
            </app-cc-input-group-prepend> 
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <fieldset class="border p-2 mb-1 mt-2 filters">
                <legend class="w-auto h6">Listado</legend>
                <div class="table-responsive responsive-table">
                    <table datatable id="tablaConsultCjChica" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table no-footer table-hover">
                        <thead>
                            <tr style="width: 100%;text-align: center;">
                                <th style="width: 5%;">#</th>
                                <th style="width: 10%;">Fecha</th>
                                <th style="width: 13%;">Caja Chica</th>
                                <th style="width: 10%;">Documento</th>
                                <th style="width: 13%;">Usuario</th>
                                <th style="width: 10%;">Beneficiario</th>
                                <th style="width: 16%;">Concepto</th>
                                <th style="width: 8%;">Tipo</th>
                                <th style="width: 8%;">Monto</th>
                                <th style="width: 8%;">Reposicion</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="validaDt">
                            <tr *ngFor="let dt of infoData; let i = index">
                                <td >{{ i + 1 }}</td>
                                <td >{{ dt.fecha_mov }}</td>
                                <td >{{ dt.nombre_caja }}</td>
                                <td >{{ dt.codigo}}-{{ dt.num_doc}}</td>
                                <td >{{ dt.usuario }}</td>
                                <td >{{ dt.beneficiario}}</td>
                                <td >{{ dt.concepto }}</td>
                                <td >{{ dt.grupo}}</td>
                                <td >{{dt.valor_mov | currency: 'USD' | lowercase}}</td>
                                <td >{{dt.valor_reposicion | currency: 'USD' | lowercase}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>

</app-button-radio-active>

<cc-spiner-procesar [ltexto]="mensajeSppiner" lfulScren=true lTipo="spConsChiCB"></cc-spiner-procesar>